<a [routerLink]="" (click)="editingJira=true">Add New </a>
<i *ngIf="editingJira" style="font-size: 95%;"><input type="text" class="jira-text" [(ngModel)]="jiraId">
  <span><i class="fa fa-check fa-fw tick-color" (click)="submit(jiraId)"></i></span>
  <span><i class="fa fa-times fa-fw close-color" (click)="editingJira = false"></i></span></i><br>
<fun-spinner [status]="status"></fun-spinner>
<div style="margin-top: 2px" *ngIf="jiraInfo.length>0">
  <table class="table no-padding no-margin table-borderless">
    <tr>
      <th>
      </th>
      <th>
        JIRA Id
      </th>
      <th>
        Summary
      </th>
      <th>
        Status
      </th>
    </tr>
    <tr *ngFor="let info of jiraInfo">
      <td>
        <button class="btn btn-sm no-padding" (click)="removeId(info['id'])"><i class="fa fa-trash-o" style="font-size:16px; color: red"></i>
        </button>
      </td>
      <td>
        <a href="http://jira.fungible.local/browse/{{ info['id'] }}" target="_blank" >{{ info['id'] }}</a>
      </td>
      <td style="max-width: 150px">
        {{ info["summary"] }}
      </td>
      <td>
        {{ info["status"] }}
      </td>
    </tr>
  </table>
</div>
