<fun-spinner [status]="status"></fun-spinner>
<div class="container container-fluid">
  <div class="row both-cols">
    <!-- left side of the performance page containing tree structure -->
    <div class="col-lg-5 col-md-5 col-xxl-4 col-xl-5 left-col">
      <table class="table table-nonfluid">
        <tr>
          <th class="text-center">Aspect</th>
          <th id="score-info" class="text-center">
            <label class="no-margin">
              Score</label>
          </th>
          <th class="text-center">#</th>
          <th class="text-center">Today</th>
        </tr>
        <ng-container *ngFor="let flatNode of getVisibleNodes()">
          <tr class="fade-element-in">
            <td id="{{ flatNode.gUid }}" class="child-transition">
                        <span [innerHTML]="getIndentHtml(flatNode) | safeHtml">
                        </span>
              <ng-container *ngIf="flatNode.node.leaf">
                <a [ngClass]="{highlight:flatNode.node.showAddJira}" [routerLink]=""
                   (click)="showAtomicMetric(flatNode)">{{ flatNode.node.chartName }}</a><span
                *ngIf="flatNode.node.workInProgress">&nbsp;<app-smart-label [value]="'work in progress'"
                                                                            [type]="'warning'"></app-smart-label></span>
              </ng-container>
              <ng-container *ngIf="!flatNode.node.leaf">
                <a [ngClass]="{highlight:flatNode.node.showAddJira}" [routerLink]=""
                   (click)="showNonAtomicMetric(flatNode)">{{ flatNode.node.chartName }}</a><span
                *ngIf="flatNode.node.workInProgress">&nbsp;<app-smart-label [value]="'work in progress'"
                                                                            [type]="'warning'"></app-smart-label></span>
                <span *ngIf="flatNode.node.tags">&nbsp;<span *ngFor="let tag of flatNode.node.tags"><app-smart-label
                  [value]=tag
                  [type]="'primary'"></app-smart-label></span></span>
              </ng-container>
              <span *ngIf="!flatNode.node.leaf">
              <span [innerHTML]="'&nbsp'"></span>
              <a [routerLink]="" *ngIf="!flatNode.collapsed" (click)="collapseNode(flatNode)">
                <span class="arrow-down"></span>
              </a>
              <a [routerLink]="" *ngIf="flatNode.collapsed" (click)="expandNode(flatNode)">
                <span class="arrow-right"></span>
              </a>
            </span>
            </td>
            <td *ngIf="!flatNode.special" class="text-center">
              <div class="score-label">
                <!--<span style="vertical-align: top"-->
                <!--[innerHTML]="getTrendHtml(flatNode.node) | safeHtml">-->
                <!---->
                <!--</span>-->
                <span style="vertical-align: top;">
                    <span *ngIf="flatNode.node.chartName!='All metrics'">
                      <span *ngIf="flatNode.node.trend > 0">
                        <span style='color: green'>
                          <label class="no-margin" (click)="calculateScores(flatNode.node)" data-placement="right"
                                 triggers="click"
                                 [ngbTooltip]="TrendInfo" [autoClose]="'outside'">
                            <i class="fa fa-arrow-up aspect-trend-icon fa-icon-green"></i></label></span>
                      </span>
                      <span *ngIf="flatNode.node.trend == 0">
                        <span><i class="fa fa-arrow-down aspect-trend-icon" style="visibility: hidden;"></i> </span>
                      </span>
                      <span *ngIf="flatNode.node.trend < 0">
                        <span style='color: red'>
                          <label class="no-margin" (click)="calculateScores(flatNode.node)" data-placement="right"
                                 triggers="click"
                                 [ngbTooltip]="TrendInfo" [autoClose]="'outside'"><i
                            class="fa fa-arrow-down aspect-trend-icon fa-icon-red"></i></label></span>
                      </span>
                    </span>
                    <span *ngIf="flatNode.node.chartName=='All metrics'">
                      <span><i class="fa fa-arrow-down aspect-trend-icon" style="visibility: hidden;"></i> </span>
                    </span>
                  </span>
                {{ flatNode.node.lastScore | number: '1.1-1' }}
              </div>
            </td>
            <td *ngIf="flatNode.special">
              &nbsp;
            </td>
            <td class="text-center">
              <span *ngIf="!flatNode.node.leaf">{{ flatNode.node.numLeaves }}</span>
            </td>

            <td *ngIf="!flatNode.node.leaf && !flatNode.special">
              <span *ngIf="flatNode.node.degrades.size !== 0"><i class='fa fa-arrow-down aspect-trend-icon fa-icon-red'>:</i>{{ flatNode.node.degrades.size }}</span>
              <a *ngIf="flatNode.node.failures.size !== 0" style="color: black; cursor: pointer">
                <span *ngIf="flatNode.node.degrades.size !== 0">&nbsp;</span><span (click)="openBugPanel(flatNode)"><i
                class='fa fa-times fa-icon-red'>:</i>{{ flatNode.node.failures.size }}</span></a>
            </td>
            <td *ngIf="flatNode.node.leaf && flatNode.node.lastNumBuildFailed > 0 && !flatNode.special">
              Bld:<label data-placement="right" (click)="openTooltip(flatNode.node)" triggers="click"
                         [ngbTooltip]="FailedInfo" [autoClose]="'outside'"
                         class="badge failed-label no-margin badge-danger">FAILED
            </label>
            </td>
            <td *ngIf="flatNode.special">
              &nbsp;
            </td>
            <td *ngIf="flatNode.node.leaf && !flatNode.special">
                <span *ngIf="flatNode.node.numBugs > 0" (click)="flatNode.showJiraInfo = !flatNode.showJiraInfo"
                      class="badge no-padding badge-light bug-badge">Bugs<sup><span class="text-color-red">{{ flatNode.node.numBugs }}</span>
                </sup></span>
              <span *ngIf="flatNode.node.numBugs === 0 && flatNode.node.showAddJira"
                    (click)="flatNode.showJiraInfo = !flatNode.showJiraInfo">
                <span *ngIf="!flatNode.showJiraInfo" class="plus-minus">+</span>
                  <span *ngIf="flatNode.showJiraInfo" class="plus-minus">-</span></span>
            </td>
            <td *ngIf="flatNode.special">
              &nbsp;
            </td>
            <ng-template #TrendInfo>
              <div style="color: black">
                <b><u>Trend Calculation:</u></b><br>
                Deviation = ((Current Score - Previous Score)/(min(Current Score, Previous Score))) * 100<br>
                Tolerance = <span>&#177;</span>3%<br>
                Up Trend = Deviation > +3%<br>
                Down Trend = Deviation < -3%<br>
              </div>
              <div *ngIf="!flatNode.node.copiedScore" style="color: black">
                <b><u>Calculation:</u></b><br>
                Current Score = {{ this.lastScore }}<br>
                Previous Score = {{ this.penultimateScore }}<br>
                Deviation = (({{ this.lastScore }} - {{ this.penultimateScore }})/(min({{ this.lastScore }}, {{
                this.penultimateScore }}))) * 100<br>
                Deviation = {{ this.deviation }}%
              </div>
              <div *ngIf="flatNode.node.copiedScore" style="color: black">
                <br>
                The current score is a copied score from yesterday due to unavailability of data.<br>
                The trend is copied from existing score's trend.
              </div>
            </ng-template>
            <ng-template #FailedInfo>
              <div *ngIf="passedDateTime" style="color: black;">
                <b>Last Passed:</b><br> {{ passedDateTime }}<br>
                <a *ngIf="passedLsfUrl" [routerLink]="" (click)='openUrl(passedLsfUrl)'>Lsf log<br></a>
                <a *ngIf="passedJenkinsUrl" [routerLink]="" (click)='openUrl(passedJenkinsUrl)'>Jenkins log<br></a>
                <a *ngIf="passedRegressionUrl" [routerLink]="" (click)='openUrl(passedRegressionUrl)'>Regression
                  log<br></a>
              </div>
              <hr>
              <div *ngIf="currentJenkinsUrl || currentLsfUrl || currentRegressionUrl" style="color: black;">
                <b>Current Failure:</b>
                <br>
                <a *ngIf="currentLsfUrl" [routerLink]="" (click)='openUrl(currentLsfUrl)'>Lsf log<br></a>
                <a *ngIf="currentJenkinsUrl" [routerLink]="" (click)='openUrl(currentJenkinsUrl)'>Jenkins log<br></a>
                <a *ngIf="currentRegressionUrl" [routerLink]="" (click)='openUrl(currentRegressionUrl)'>Regression
                  log<br></a>
              </div>
              <hr>
              <div *ngIf="failedDateTime" style="color: black;">
                <b>First Failure:</b><br> {{ failedDateTime }}<br>
                <a *ngIf="failedLsfUrl" [routerLink]="" (click)='openUrl(failedLsfUrl)'>Lsf log<br></a>
                <a *ngIf="failedJenkinsUrl" [routerLink]="" (click)='openUrl(failedJenkinsUrl)'>Jenkins log<br></a>
                <a *ngIf="failedRegressionUrl" [routerLink]="" (click)='openUrl(failedRegressionUrl)'>Regression
                  log<br></a>
              </div>
            </ng-template>
          </tr>
          <tr *ngIf="flatNode.showJiraInfo">
            <td colspan="6">
              <!--<span [innerHTML]="getIndentHtml(flatNode) | safeHtml"></span>-->
              <jira-info [apiUrl]="'/metrics/jiras/' + flatNode.node.metricId"
                         (numBugs)="updateNumBug($event, flatNode.node)"
                         (close)="closeLeafPanel($event, flatNode)"></jira-info>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</div>
