<fun-spinner [status]="status"></fun-spinner>
<div class="container container-fluid">
  <div class="row both-cols">
    <!-- left side of the performance page containing tree structure -->
    <div class="col-lg-5 col-md-5 col-xxl-4 col-xl-5 left-col">
      <table class="table table-nonfluid">
        <tr>
          <th class="text-center">Aspect</th>
          <th class="text-center">#</th>
          <th class="text-center"></th>
        </tr>
        <ng-container *ngFor="let flatNode of getVisibleNodes()">
          <tr class="fade-element-in">
            <td id="{{ flatNode.gUid }}" class="child-transition">
                        <span [innerHTML]="getIndentHtml(flatNode) | safeHtml">
                        </span>
              <ng-container *ngIf="flatNode.node.leaf">
                <a [ngClass]="{highlight:flatNode.node.showAddChart}" [routerLink]=""
                   (click)="showAtomicMetric(flatNode)">{{ flatNode.node.chartName }}</a>
              </ng-container>
              <ng-container *ngIf="!flatNode.node.leaf">
                <a [ngClass]="{highlight:flatNode.node.showAddChart}" [routerLink]=""
                   (click)="showNonAtomicMetric(flatNode)">{{ flatNode.node.chartName }}</a>
              </ng-container>
              <span *ngIf="!flatNode.node.leaf">
              <span [innerHTML]="'&nbsp'"></span>
              <a [routerLink]="" *ngIf="!flatNode.collapsed" (click)="collapseNode(flatNode)">
                <span class="arrow-down"></span>
              </a>
              <a [routerLink]="" *ngIf="flatNode.collapsed" (click)="expandNode(flatNode)">
                <span class="arrow-right"></span>
              </a>
            </span>
            </td>
            <td class="text-center">
              <span *ngIf="!flatNode.node.leaf">{{ flatNode.node.numLeaves }}</span>
            </td>
            <td class="text-center">
              <span *ngIf="!flatNode.node.leaf && flatNode.node.showAddChart" (click)="addChart(flatNode)"
                    class="plus-minus">+</span>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</div>
