<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>QA Dashboard</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<app-root>Loading...</app-root>
<script type="text/javascript" src="static/angular/qadashboard/runtime.js"></script>
<script type="text/javascript" src="static/angular/qadashboard/polyfills.js"></script>
<script type="text/javascript" src="static/angular/qadashboard/styles.js"></script>
<script type="text/javascript" src="static/angular/qadashboard/vendor.js"></script>
<script type="text/javascript" src="static/angular/qadashboard/main.js"></script>
<!--link rel="stylesheet" type="text/css" href="static/angular/qadashboard/styles.css"-->
</body>
<link rel="icon" type="image/x-icon" href="favicon.ico">
</html>
