<div class="panel panel-primary">
    <div class="panel-heading">{{ $ctrl.instanceName }}</div>
    <div class="panel-body">
        <table class="table table-nonfluid">
            <tr>
                <th>Jira Id</th>
                <th>Summary</th>
                <th>Result</th>
                <th>Info</th>
            </tr>
            <tbody id="suite-execution-details-table">
                <tr ng-repeat="(jiraId, info) in executionDetails">
                    <td><a href="http://jira.fungible.local/browse/TCM-{{ jiraId }}">TCM-{{ jiraId }}</a></td>
                    <td>{{ info.summary }}</td>
                    <td>PASSED</td>
                    <td>
                        <a data-toggle="collapse" data-target="#info-table-{{ $index }}" class="clickable" href="#">Details</a>
                        <table class="table collapse" id="info-table-{{ $index }}">
                            <tr>
                                <th >Owner</th>
                                <th>TestBed</th>
                                <th>Result</th>
                            </tr>
                            <tbody>
                                <tr ng-repeat="instance in info.instances">
                                    <td>{{ instance.owner }}</td>
                                    <td>{{ instance.test_bed }}</td>
                                    <td>{{ instance.result }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>