<div class="modal-header">
    <h3 class="modal-title">Edit chart: {{ chartName }}</h3>
</div>
<div class="modal-body">
    <fun-metric-chart chart-name="chartName" model-name="modelName" width="350" height="350"> </fun-metric-chart>
    <table class="table table-nonfluid" ng-repeat="dataSet in chartInfo.data_sets">
        <tr>
            <th>Name</th>
            <th ng-repeat="(inputName, inputValue) in dataSet.inputs">{{ inputName }}</th>
            <th>Output</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        <tr>
            <th>{{ dataSet.name }}</th>
            <td ng-repeat="(inputName, inputValue) in dataSet.inputs">{{ inputValue }}</td>
            <td>{{ dataSet.output.name }}</td>
            <td>{{ dataSet.output.min }}</td>
            <td>{{ dataSet.output.max }}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="submit()">Submit</button>
    <button class="btn" ng-click="$dismiss()">Cancel</button>
</div>
