<div align="right">
    <button ng-if="!$ctrl.atomic" class="btn" style="background-color: white" ng-click="openAtomicTab()"><i class="fa fa-external-link"></i> Open in tab</button>
    <button class="btn" style="background-color: white" ng-if="!showingTable" ng-click="showTable()"><i class="fa fa-table"></i> Show Tables</button>
    <button class="btn" style="background-color: white" ng-if="showingTable" ng-click="hideTable()"><i class="fa fa-table"></i> Hide Tables</button>

    <button class="btn" style="background-color: white" ng-if="!showingThreshold" ng-click="showThreshold()"><i class="fa fa-sliders"></i> Show Threshold</button>
    <button class="btn" style="background-color: white" ng-if="showingThreshold" ng-click="hideThreshold()"><i class="fa fa-sliders"></i> Hide Threshold</button>
</div>
<div class="row" style="padding-bottom: 10px">
    <fun-metric-chart chart-name="chartName" y1-axis-title="y1AxisTitle" model-name="modelName"
                      preview-data-sets="previewDataSets" xaxis-formatter="xAxisFormatter"
                      tooltip-formatter="tooltipFormatter" showing-table="showingTable"></fun-metric-chart>
</div>
<div align="right">
    <button class="btn" style="background-color: white" ng-if="showingTable" ng-click="hideTable()"><i class="fa fa-table"></i> Hide Tables</button>
</div>
<div style="padding-top: 10px; padding-bottom: 10px">
    <b>Description:</b>
    <br>
    <div ng-bind-html="currentDescription"></div>
</div>


<div ng-if="showingThreshold">
    <div class="closed-section"></div>
    <button class="btn" style="background-color: white" ng-if="!editing" ng-click="editClick()"><i class="fa fa-pencil"></i> Edit</button>
    <table class="table table-nonfluid table-bordered">
        <thead class="qa-thead">
        <tr>
            <th>Name</th>
            <th>Min</th>
            <th>Max</th>
            <th>Expected</th>
        </tr>

        </thead>
        <tr ng-repeat="dataSet in previewDataSets track by $index">
            <td>
                {{ dataSet.output.name }}
            </td>
            <td>
                {{ dataSet.output.min }}
            </td>
            <td>
                {{ dataSet.output.max }}
            </td>
            <td>
                {{ dataSet.output.expected }}
            </td>
        </tr>
    </table>




    <div ng-if="editing" class="panel panel-default col-lg-10 col-xl-6 col-xxl-6" style="padding-top: 10px">
        <div class="panel-body">
            <div class="row">
                <div align="right">
                    <a href="#edit-panel" ng-click="dismiss()">x close</a>
                </div>
                <div class="col-lg-10 col-xl-10 pull-left">
                    <table id="edit-panel" class="table table-nonfluid table-borderless"
                           ng-repeat="dataSet in previewDataSets track by $index">
                        <tr>
                            <th>Output</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Expected</th>
                        </tr>
                        <tr>
                            <td>
                                {{ dataSet.output.name }}
                            </td>
                            <td>
                                <input type="number" ng-model="dataSet.output.min" ng-value="dataSet.output.min"
                                       style="width: 100px">
                            </td>
                            <td><input type="number" ng-model="dataSet.output.max" ng-value="dataSet.output.max"
                                       style="width: 100px"></td>
                            <td><input type="number" ng-model="dataSet.output.expected"
                                       ng-value="dataSet.output.expected"
                                       style="width: 100px"></td>
                        </tr>
                    </table>
                    <p><input type="checkbox" ng-model="$parent.negativeGradient">&nbsp;Negative gradient</p>
                </div>

            </div>
            <div class="row">
                <div class="">
                    <b>Description:</b>
                    <br>
                    <textarea rows="4" ng-model="$parent.currentDescription" style="min-width: 100%"></textarea>
                    <button class="btn btn-success" ng-click="submit()">Submit</button>
                </div>
            </div>

        </div>


    </div>
</div>


