<div class="row">
    <fun-metric-chart chart-name="chartName" model-name="modelName" preview-data-sets="previewDataSets" xaxis-formatter="xAxisFormatter" tooltip-formatter="tooltipFormatter"></fun-metric-chart>
</div>

<table class="table table-nonfluid table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            <th>Min</th>
            <th>Max</th>
        </tr>

    </thead>
    <tr ng-repeat="dataSet in previewDataSets track by $index">
        <td>
            <button ng-if="!editing" class="fa fa-pencil" style="border: 0" ng-click="editClick()"></button>
        </td>
        <td>
            {{ dataSet.output.min }}
        </td>
        <td>
            {{ dataSet.output.max }}
        </td>
    </tr>
</table>

<b>Description:</b>
<br>
<div ng-bind-html="currentDescription"></div>


<div ng-if="editing" class="panel panel-default col-lg-6 col-xl-6 col-xxl-6">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10 col-xl-10 pull-left">
                <table class="table table-nonfluid table-borderless"
                       ng-repeat="dataSet in previewDataSets track by $index">
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" ng-model="dataSet.output.min" ng-value="dataSet.output.min"
                                   style="width: 100px">
                        </td>
                        <td><input type="number" ng-model="dataSet.output.max" ng-value="dataSet.output.max"
                                   style="width: 100px"></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2 col-xl-2">
                <a href="#" ng-click="dismiss()">close</a>
            </div>
        </div>
        <div class="row">
            <div class="">
                <b>Description:</b>
                <br>
                <textarea rows="4" ng-model="$parent.currentDescription" style="min-width: 100%"></textarea>
                <button class="btn btn-success" ng-click="submit()">Submit</button>
            </div>
        </div>

    </div>


</div>



