{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/qa_dashboard/home.js" %}"></script>
{% endblock %}
{% block content %}
 {% verbatim %}
 <div ng-controller="homeController">
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <active-releases></active-releases>
            </div>
            <div class="col-lg-3" >
                <regression-sanity-summary ></regression-sanity-summary>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

{% endblock %}
