{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/qa_dashboard/metrics_summary.js" %}"></script>
    <script src="{% static "js/qa_dashboard/editable_metric_chart.js" %}"></script>
{% endblock %}
{% block content %}
    {% verbatim %}
    <style>
        .info-box {
            border: 1px;
            border-color: #4CAF50;
            border-style: solid;
            border-radius: 5px;
            width: inherit;
            margin-top: 5px;
        }

        .info-box-header {
            background-color: #dff0d8;
            border-radius: 5px;

        }

        .info-box-text {
            padding: 5px;
        }

        .aspect-label {
            padding: 5px;
        }

        .aspect-label-text {
            padding: 5px;
        }

        .fa-icon-green {
            color: green;
        }

        .fa-icon-red {
            color: red;
        }

        #score-table-parent {
            display: table;
            width: 90px;
            height: 90px;
            border: 3px solid lightsteelblue;
            border-radius: 5px;
        }

        #score-table-child {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 30px;
            color: white;

        }

        #score-table-info-icon {
            display: table-cell;
            vertical-align: top;
        }

        .score-card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 40%;
            background-color: #006699;
        }

        .fade-element-in.ng-enter {
            opacity: 0;
        }

        .fade-element-in-init .fade-element-in.ng-enter {
            opacity: 1;
        }

        .fade-element-in.ng-enter.ng-enter-active {
            opacity: 1;
        }

        .fade-element-in.ng-leave {
            transition: 0.3s linear all;
            opacity: 1;
        }

        .fade-element-in.ng-leave.ng-leave-active {
            opacity: 0;
        }

        arrow-icon {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;

        }

        .arrow-right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);

        }

        .arrow-down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .trend-button-green {
            background-color: white;
            border: 1px solid #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 1.5px;

        }

        .score-label {
            text-decoration: solid;
        }

        .trend-button-red {
            background-color: white;
            border: 1px solid red;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 1.5px;

        }
        /*
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 0.5px solid black;
    }*/

    </style>
    <div class="content" ng-controller="metricsSummaryController">
        <div class="col-lg-6 col-xl-6 col-md-6">
            <div>

                <table class="table table-nonfluid">
                    <!--tr style="border: 0">
                        <td colspan="4" style="border: 0">
                            <button style="float: right; background-color: white" class="btn" ng-if="collapsedAll"
                                    ng-click="expandAllNodes()"><i class="fa fa-expand"></i> Expand all
                            </button>
                            <button style="float: right; background-color: white" class="btn" ng-if="expandedAll"
                                    ng-click="collapseAllNodes()"><i class="fa fa-compress"></i> Collapse all
                            </button>
                        </td>
                    </tr-->
                    <tr>
                        <th class="text-center">Aspect</th>
                        <th class="text-center">Score</th>
                        <!--th></th-->
                        <th class="text-center">More Info</th>

                    </tr>
                    <tr class="fade-element-in" ng-if="!node.hide" ng-repeat="node in flatNodes track by $index">
                        <td id="{{ node.guid }}" class="child-transition">
                        <span ng-bind-html="getIndentHtml(node) | unsafe">
                        </span>
                            <a ng-if="node.leaf" href="#" ng-click="setCurrentChart(node)">{{ node.label }}</a>
                            <a ng-if="!node.leaf" href="#" ng-click="showNonAtomicMetric(node)">{{ node.label }}</a>
                            <!-- span ng-if="!node.leaf">{{ node.label }}</span -->&nbsp
                            <span ng-if="node.numChildren">
                            <a href="#{{ node.guid }}" ng-if="!node.collapsed" ng-click="collapseNode(node)">
                                <arrow-icon class="arrow-down"></arrow-icon>
                            </a>
                            <a href="#{{ node.guid }}" ng-if="node.collapsed" ng-click="expandNode(node)">
                                <arrow-icon class="arrow-right"></arrow-icon>
                            </a>
                        </span>
                        </td>
                        <td>
                            <div class="score-label"><span style="vertical-align: top"
                                                                                 ng-bind-html="getTrendHtml(node) | unsafe"></span>{{ node.goodness }}</div>
                        </td>
                        <!--td>
                            <a href='#' ng-click='showGoodnessTrend(node)'><span style="vertical-align: top"
                                                                                 ng-bind-html="getTrendHtml(node) | unsafe"></span></a>
                        </td-->

                        <td ng-bind-html="getStatusHtml(node) | unsafe"></td>
                    </tr>
                </table>

            </div>
        </div>
        <div ng-if="mode" class="card col-xl-6 col-lg-6 col-xxl-6" ng-switch="mode">
            <div ng-switch-when="showingGoodnessTrend">
                <fun-chart values="goodnessTrendValues" show-legend="true"
                           title="goodnessTrendChartTitle" charting="charting" chart-type="line-chart">
                </fun-chart>
            </div>
            <div ng-switch-when="showingAtomicMetric">
                <div ng-if="currentChartName">
                    <table>
                        <tr>
                            <td>
                                    <span id="score-table-parent" class="score-card">
                                        <span id="score-table-child">{{ currentNode.goodness }}
                                        </span>
                                    </span>
                            </td>
                            <td valign="top" align="left">
                                <span id="score-table-info-icon">
                                    <i class="fa fa-info-circle" style="padding: 10px"
                                       ng-click="showNodeInfoClick(currentNode)">
                                    </i>
                                </span>
                            </td>
                        </tr>
                    </table>

                    <div ng-if="showingNodeInfo">
                        <h5>Score calculation</h5>
                        <p ng-bind-html="currentNodeInfo"></p>
                    </div>

                    <br>
                    <div class="closed-section"></div>
                    <editable-metric-chart chart-name="currentChartName" model-name="currentMetricModelName"
                                           xaxis-formatter="xAxisFormatter"
                                           tooltip-formatter="tooltipFormatter"></editable-metric-chart>
                </div>
            </div>
            <div ng-switch-when="showingNonAtomicMetric">
                <div style="padding-bottom: 10px;"><h4>Aspect: {{ currentNode.chartName }}</h4></div>

                <div id="score-table-parent" class="score-card">
                <span id="score-table-child">{{ currentNode.goodness }}
                </span>
                </div>

                <br>
                <fun-chart values="goodnessTrendValues" show-legend="true"
                           title="goodnessTrendChartTitle" charting="charting" chart-type="line-chart">
                </fun-chart>

                <br>
                <b>Description</b>
                <!-- button class="btn" style="background-color: white" ng-if="!editingDescription" ng-click="editDescriptionClick()"><i class="fa fa-pencil"></i> Edit</button -->
                <div ng-if="editingDescription">
                    <textarea rows="4" ng-model="inner.nonAtomicMetricInfo" style="min-width: 100%"></textarea>
                    <button class="btn btn-sm" ng-click="submitDescription(currentNode)">&#10003;Submit</button>
                    <button class="btn btn-sm" ng-click="closeEditingDescriptionClick()">&#10060;Close</button>
                </div>
                <div style="cursor: text" ng-bind-html="inner.nonAtomicMetricInfo"
                     ng-click="editDescriptionClick()"></div>
                <br>
                <br>
                <div class="closed-section"></div>
                <table class="table" ng-if="grid">
                    <tr ng-repeat="row in grid">
                        <td ng-repeat="node in row">
                            <editable-metric-chart
                                    chart-name="node.name"
                                    model-name="node.metricModelName"
                                    xaxis-formatter="xAxisFormatter"
                                    tooltip-formatter="tooltipFormatter"
                                    atomic="atomic" chart-only="true">
                            </editable-metric-chart>
                        </td>
                    </tr>
                </table>
                <br>
                <div class="closed-section"></div>
                <h5>Children</h5>
                <div ng-if="currentNode">
                    <table class="table table-nonfluid">
                        <tr>
                            <th>Aspect</th>
                            <th>Weight</th>
                            <th>Last score</th>
                            <th>Weight * Last Score</th>
                        </tr>
                        <tr ng-repeat="(childId, info) in currentNode.children">
                            <td>{{ metricMap[childId].chartName }}</td>
                            <td>
                                <p ng-click="editingWeightClick(info)" ng-if="!info.editing">{{ info.weight }}</p>
                                <span ng-if="info.editing">
                                <input style="padding-right: 10px" type="number" ng-model="info.editingWeight">
                                <button style="border: 1px solid black;overflow: hidden; padding-left: 10px;"
                                        class="btn btn-sm" ng-click="submitWeightClick(currentNode, childId, info)">&#10003;</button>
                                <button style="border: 1px solid black;" class="btn btn-sm"
                                        ng-click="closeEditingWeightClick(info)">&#10060;</button>
                            </span>
                            </td>
                            <td>
                                {{ getLastElement(currentNode.childrenGoodnessMap[childId]) | number: 1}}
                            </td>
                            <td>
                                {{ info.weight }} * {{ getLastElement(currentNode.childrenGoodnessMap[childId]) |
                                number: 1 }} = {{ info.weight * getLastElement(currentNode.childrenGoodnessMap[childId])
                                | number: 1 }}
                            </td>
                            <!-- td>{{ childId }}</td -->
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total ~ {{ currentNode.goodness }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>



    </div>
    {% endverbatim %}
{% endblock %}
