{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/qa_dashboard/metrics.js" %}"></script>
{% endblock %}
{% block content %}
    {% verbatim %}
<div class="content" ng-controller="metricsController">
    <label>Select module</label>
    <select ng-options="module.name as module.verbose_name for module in modules" ng-model="selectedModule" ng-change="moduleChange()"></select>


    <div ng-if="selectedModule">
        <a target="_blank" href="/metrics/view_all_storage_charts">View all storage charts</a>

        <div ng-repeat="(modelName, modelInfo) in modelsInfo[selectedModule]">
            <h4>{{ modelName }}</h4>
            <table class="table">
                <tr>
                    <th>
                        Charts
                    </th>
                </tr>
                <tr ng-repeat="chartInfo in modelInfo.charts">
                    <td>
                        {{ chartInfo }}&nbsp<a href="#" ng-click="editChartClick(chartInfo, modelName)">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
{% endverbatim %}
{% endblock %}
