<div class="row">
    <div class="col-xl-6 col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Submit Job</div>
            <div class="panel-body">
                <form name="submissionForm">
                    <table class="table table-nonfluid">
                        <tr>
                            <td>
                                <label for="build-url">Build URL</label>
                            </td>
                            <td>
                                <input id="build-url" name="build-url" ng-model="buildUrl" type="text" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="suite-select">Select a suite</label>
                            </td>
                            <td>
                                <select id="suite-select"
                                ng-options="suiteName as suiteName for (suiteName, suiteInfo) in suitesInfo track by suiteName"
                                ng-model="selectedSuite" ng-change="changedValue(selectedSuite)">

                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="tag-select">Select a tag</label>
                            </td>
                            <td>
                                <ui-select id="tag-select" multiple ng-model="$ctrl.selectedTags" theme="bootstrap" sortable="true">
                                    <ui-select-match placeholder="Select tag...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="tag in tags | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="tag.name | highlight: $select.search"></div>
                                        <small>
                                            name: <span ng-bind-html="''+tag.name | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="emails">Specify comma-separated e-mail</label>
                            </td>
                            <td>
                                <input id="emails" name="emails" ng-model="emails" type="text" required/>
                            </td>
                            <td>
                                <label for="email-on-fail-only">Email on failures only</label>
                            </td>
                            <td>
                                <input id="email-on-fail-only" type="checkbox" ng-checked="emailOnFailOnly" ng-model="emailOnFailOnly">
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <input class="form-check-input" type="checkbox" value="" ng-model="schedulingOptions">
                                Show Scheduling Options
                            </td>
                            <td>
                                <button ng-if="selectedInfo" ng-click="submitClick(submissionForm.$valid)"
                                    class="btn btn-primary">Submit
                                </button>
                            </td>
                        </tr>

                    </table>
                    <fieldset ng-if="selectedInfo" class="title">
                        <legend>{{ selectedSuite }}</legend>

                        <div class="form-group">
                            <table class="table table-nonfluid">
                                <tr>
                                    <th style="background-color: #E4EFF2">
                                        Scripts
                                    </th>
                                </tr>
                                <tr ng-repeat="scriptInfo in selectedInfo">
                                    <td>{{ scriptInfo.path }}</td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>

                </form>
            </div>


        </div>
    </div>
    <div class="col-xl-6 col-lg-6" ng-show="schedulingOptions">
        <div class="panel panel-primary">
            <div class="panel-heading">Scheduling options</div>
            <div class="panel-body">

                <div class="radio">
                    <label for="schedule-in-minutes">
                        <input type="radio" name="schedule-radio" ng-model="scheduleInMinutesRadio" ng-value="true"
                               checked="true">Schedule in minutes:
                    </label>
                    <form name="scheduleInForm" ng-show="scheduleInMinutesRadio" novalidate>
                        <fun-field id="schedule-in-minutes" klass="" type="number" min="1" max="1439"
                                   bind-value="scheduleInMinutes"></fun-field>
                        <label for="repeat-in-minutes"> Repeat in minutes
                        </label>
                        <fun-field id="repeat-in-minutes" klass="" type="number" min="1" max="1439"
                                   bind-value="scheduleInMinutesRepeat"></fun-field>

                        <!-- input type="number" class="form-control" id="schedule-in-minutes" ng-min="5" max="1439" ng-model="scheduleInMinutes">
														<label class="form-check-label">
														<input class="form-check-input" type="checkbox" value="" ng-model="scheduleInMinutesRepeat">
																Repeat
														</label -->
                    </form>
                    <br>
                    <br>
                    <label for="schedule-at">
                        <input type="radio" name="schedule-radio" ng-model="scheduleInMinutesRadio" ng-value="false">Schedule
                        At:
                    </label>
                    <form ng-hide="scheduleInMinutesRadio">
                        <fun-field id="schedule-at" klass="" type="time" min="5"
                                   bind-value="scheduleAt"></fun-field>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" ng-model="scheduleAtRepeat">
                            Repeat
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
