<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Suite {{ $ctrl.executionId }} Detail</div>
        <div class="panel-body">
            <table ng-if="testCaseExecutions.length > 0" class="table table-nonfluid">
                <thead>
                <tr>
                    <th>E Id</th>
                    <th>T Id</th>
                    <th>Result</th>
                    <th>Scheduled At</th>
                    <th>Path</th>
                    <th>HTML</th>
                    <th>Flat</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr ng-repeat="testCaseExecution in testCaseExecutions | orderBy: 'fields.execution_id'">
                    <td>{{ testCaseExecution.fields.execution_id }}</td>
                    <td>{{ testCaseExecution.fields.test_case_id }}</td>
                    <td>
                        <button class="btn btn-{{ resultToClass(testCaseExecution.fields.result)}}">{{ testCaseExecution.fields.result }}</button>
                    </td>
                    <td>{{ testCaseExecution.fields.started_time }}</td>
                    <td>{{ testCaseExecution.fields.script_path }}</td>
                    <td><a target="_blank" href="{{ getHtmlLogPath(testCaseExecution.fields.script_path) }}">html</a></td>
                    <td><a target="_blank" href="{{ getConsoleLogPath(testCaseExecution.fields.script_path) }}">flat</a></td>
                    <td><button ng-click="rerunClick($ctrl.executionId, testCaseExecution.fields.test_case_id, testCaseExecution.fields.script_path)" class="btn
                                btn-warning"><i class="glyphicon glyphicon-refresh"></i></button></td>
                </tr>
            </table>
        </div>
    </div>

</div>
