<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Suite {{ $ctrl.executionId }} Detail</div>
        <div class="panel-body">
            <table ng-if="testCaseExecutions.length > 0" class="table table-nonfluid">
                <thead>
                <tr>
                    <th>E Id</th>
                    <th>T Id</th>
                    <th>Result</th>
                    <th>Scheduled At</th>
                    <th>Path</th>
                    <th>HTML</th>
                    <th>Flat</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr ng-repeat="testCaseExecution in testCaseExecutions">
                    <td>{{ testCaseExecution.fields.execution_id }}</td>
                    <td>{{ testCaseExecution.fields.test_case_id }}</td>
                    <td>
                        <button class="btn {{ getResultButtonClass(testCaseExecution.fields.result)}}">{{ testCaseExecution.fields.result }}</button>
                    </td>
                    <td>Scheduled At</td>
                    <td>Path</td>
                    <td>HTML</td>
                    <td>Flat</td>
                    <td>Action</td>
                </tr>
            </table>
        </div>
    </div>

</div>
