{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/qa_dashboard/system_charts.js" %}"></script>

{% endblock %}

{% block content %}
    {% verbatim %}
    <div ng-controller="systemChartsController">
        <div class="row">
            <div class="col-xl-4 col-lg-3 card">
                <fun-metric-chart chart-name="chart1Name" point-click-callback="pointClickCallback" xaxis-formatter="xAxisFormatter" tooltip-formatter="tooltipFormatter" model-name="model1Name" width="350" height="350" preview-data-sets="previewDataSets"> </fun-metric-chart>
            </div>
            <div class="col-xl-4 col-lg-3 card">
                <fun-metric-chart chart-name="chart2Name" model-name="model2Name" point-click-callback="pointClickCallback" xaxis-formatter="xAxisFormatter" tooltip-formatter="tooltipFormatter" width="350" height="350" preview-data-sets="previewDataSets"> </fun-metric-chart>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6">
            <h3>Jenkins Job Id to git map</h3>
            <table class="table-nonfluid table">
                <tr>
                    <th>Jenkins job-id</th>
                    <th>Software date</th>
                    <th>Fun SDK branch</th>
                    <th>Git commit</th>
                </tr>
                <tr ng-repeat="jenkinsJobIdentry in jenkinsJobIdMap">
                    <td>
                        {{ jenkinsJobIdentry.jenkins_job_id }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.software_date }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.fun_sdk_branch }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.git_commit }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% endverbatim %}

{% endblock %}
