{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/qa_dashboard/system_charts.js" %}"></script>
    <!--<script src="{% static "js/qa_dashboard/editable_metric_chart.js" %}"></script>-->

{% endblock %}

{% block content %}
    {% verbatim %}
    <div ng-controller="systemChartsController">
        <div class="">
            <div class="col-xl-6 col-lg-6 col-xxl-6" >
                <table class="table table-nonfluid">
                    <tr>
                        <th>
                            Metric
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Goodness
                        </th>
                    </tr>
                    <tr>
                    </tr>
                    <tr ng-repeat="oneFeature in featureTable">
                        <td>
                            <a href="#" ng-click="showChart(oneFeature.chartName, oneFeature.metricModelName)">{{ oneFeature.name }}</a>
                        </td>
                        <td ng-bind-html="getStatusIcon(oneFeature.result)">
                        </td>
                        <td>
                            {{ oneFeature.goodness | number:1 }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card col-xl-6 col-lg-6 col-xxl-6">
                <div class="" ng-switch="chartName">
                    <fun-metric-chart chart-name="currentChartName" model-name="currentMetricModelName" xaxis-formatter="xAxisFormatter" tooltip-formatter="tooltipFormatter"></fun-metric-chart>
                </div>
                <br>
                <br>
            </div>

        </div>


        <div class="col-xl-6 col-lg-6">
            <h3>Jenkins Job Id to git map</h3>
            <table class="table-nonfluid table">
                <tr>
                    <th>Jenkins job-id</th>
                    <th>Software date</th>
                    <th>Fun SDK branch</th>
                    <th>HW version</th>
                    <th>Git commit</th>
                </tr>
                <tr ng-repeat="jenkinsJobIdentry in jenkinsJobIdMap">
                    <td>
                        {{ jenkinsJobIdentry.jenkins_job_id }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.software_date }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.fun_sdk_branch }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.hardware_version }}
                    </td>
                    <td>
                        {{ jenkinsJobIdentry.git_commit }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% endverbatim %}

{% endblock %}
