.announcement {
  padding: 20px;
}

.announcement-info {
  background-color: #FFFDDE;
  border:thin solid #EDDD00
}

.announcement-danger {
  background-color: rgba(255, 107, 36, 0.2);
  border:thin solid #ed3336;
  color: red;
}

