<fun-spinner [status]="status"></fun-spinner>
<mat-card *ngIf="dataSource.data.length > 0">
  <mat-card-header>
    Volume: {{ uuid }}
  </mat-card-header>
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{ columnToHeader[column] }}</th>
      <td mat-cell *matCellDef="let element">

        <ng-container [ngSwitch]="column">

          <ng-container *ngSwitchCase="'dpus'">
            <ng-container *ngFor="let dpu of element[column]">
              <a href="/demo/demo1/dpu/{{ dpu }}">{{ dpu }}</a>
              <br>
            </ng-container>
          </ng-container>


          <ng-container *ngSwitchCase="'encrypt'">
            <p><i *ngIf="element.encrypt" class="fa fa-lock" aria-hidden="true"></i></p>
            <p><i *ngIf="!element.encrypt" class="fa fa-unlock" aria-hidden="true"></i></p>

          </ng-container>

          <ng-container *ngSwitchCase="'more_info'">
            <u class="anchor-button pseudo-anchor" (click)="expandedElement = element">More info...</u>
          </ng-container>


          <ng-container *ngSwitchCase="'pool'">
            <a href="/demo/demo1/pool/{{ element[column] }}">{{ element[column] }}</a>
          </ng-container>


          <ng-container *ngSwitchCase="'actions'">
            <button *ngIf="element.port" class="btn btn-sm btn-info" (click)="showingLoadPanel = !showingLoadPanel">Load</button>
            <span *ngIf="!element.port" class="badge badge-info">No port</span>
          </ng-container>

          <ng-container *ngSwitchDefault>
            {{ element[column]}}
          </ng-container>
        </ng-container>
      </td>

    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div *ngIf="element.type === volumeTypes.ec">
            <table class="table">
              <tr>
                <td># of data volumes</td>
                <td>{{ element.num_data_volumes }}</td>
              </tr>
              <tr>
                <td># of parity volumes</td>
                <td>{{ element.num_parity_volumes }}</td>
              </tr>
            </table>
          </div>
          <div *ngIf="element.type === volumeTypes.replication">
            <table class="table">
              <tr>
                <td># of replicas</td>
                <td>{{ element.num_replica_volumes }}</td>
              </tr>
            </table>
          </div>

          <div *ngIf="element.port">
            <mat-divider></mat-divider>
              <form style="width: 500px">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Remote IP</label>
                  <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" value="{{ element.port.remote_ip }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Namespace ID</label>
                  <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" value="{{ element.port.nsid }}">
                  </div>
                </div>
              </form>


          </div>


        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</mat-card>

<br>
<div *ngIf="showingLoadPanel" class="load-container col-lg-6 col-md-6 col-xl-6 col-xxl-6">
  <mat-card>
      <mat-card-header>
    FIO
  </mat-card-header>
    <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
      <mat-form-field>
<button class="btn btn-primary btn-sm">Send traffic</button>
  </mat-form-field>
  </mat-card>


</div>
