<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item" style="width: 100px; text-align: center">
        <span class="nav-link pseudo-anchor"
              role="tab" *ngIf="!showF1Dag" (click)="queryExists = false; openF1Dag()"
              >F1</span>
        <span class="nav-link active pseudo-anchor" role="tab"
              *ngIf="showF1Dag"
              >F1</span>
      </li>
      <li class="nav-item" style="width: 100px; text-align: center">
        <span class="nav-link pseudo-anchor"
                    role="tab" *ngIf="!showS1Dag" (click)="queryExists = false; openS1Dag()">S1
        </span>
        <span class="nav-link active pseudo-anchor" role="tab"
              *ngIf="showS1Dag">S1
        </span>
      </li>
    </ul>
</div>
<br>
<fun-spinner [status]="status"></fun-spinner>
<span id="chart-info"></span>
<div class="component container" *ngIf="status == null">
  <div [ngClass]="{'row': selectMode !== SelectMode.ShowEditWorkspace}" class="card-body tab-pane" role="tabpanel"
       style="padding: 0">
    <!-- left side of the performance page containing tree structure -->
    <div [ngClass]="{'col-lg-5 col-md-5 col-xxl-4 col-xl-5 left-col': selectMode !== SelectMode.ShowEditWorkspace}">
      <table class="table table-nonfluid">
        <tr *ngIf="selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
          <th class="text-center">Aspect</th>
          <th id="score-info" class="text-center">
            <label class="no-margin" data-placement="right" triggers="click"
                   [ngbTooltip]="ScoreInfo" [autoClose]="'outside'">
              Score <sup><i class="fa fa-info-circle" style="padding: 2px"></i></sup></label>
            <ng-template #LeafScoreInfo>
              <div style="color: black">
                <p><strong>Score for leaf metrics:</strong><br/> The score approaches 100 as the actual value approaches
                  the</p>
                <ul>
                  <li>the reference value, if the expected value is not available</li>
                  <li>the expected value, if available</li>
                </ul>
                <p>About reference values:</p>
                <ul>
                  <li>For metrics added before the Tapeout<span style="text-decoration: underline;">:</span></li>
                  Reference value is derived from the Tapeout numbers as the baseline.
                  <li>For metrics added after the Tapeout:</li>
                  Reference value is derived from the first value entered into the database.
                </ul>
              </div>
            </ng-template>
            <ng-template #ContainerScoreInfo>
              <div style="color: black">
                <b>Score for container of leaves or container of containers:</b>
                <p>Weighted average of the children's scores</p>
              </div>
            </ng-template>
            <ng-template #ScoreInfo>
              <ng-template [ngTemplateOutlet]="LeafScoreInfo"></ng-template>
              <ng-template [ngTemplateOutlet]="ContainerScoreInfo"></ng-template>
            </ng-template>
          </th>
          <th class="text-center">#</th>
          <th class="text-center">Today</th>
          <!--<th class="text-center">     </th>-->
        </tr>
        <ng-container *ngFor="let flatNode of getVisibleNodes()">
          <tr class="fade-element-in">
            <td id="{{ flatNode.gUid }}" class="child-transition">
                        <span [innerHTML]="getIndentHtml(flatNode) | safeHtml">
                        </span>
              <ng-container>
                <a *ngIf="flatNode.node.leaf" [ngClass]="{highlight:flatNode.node.showAddJira}" [routerLink]=""
                   (click)="showAtomicMetric(flatNode)">{{ flatNode.node.chartName }}</a>
                <a *ngIf="!flatNode.node.leaf" [ngClass]="{highlight:flatNode.node.showAddJira}" [routerLink]=""
                   (click)="showNonAtomicMetric(flatNode)">{{ flatNode.node.chartName }}</a>
                <span *ngIf="flatNode.node.workInProgress">&nbsp;<app-smart-label [value]="'work in progress'"
                                                                                  [type]="'warning'"></app-smart-label></span>
                <span *ngIf="flatNode.node.tags">&nbsp;<span *ngFor="let tag of flatNode.node.tags"><app-smart-label
                  [value]=tag
                  [type]="'primary'"></app-smart-label></span></span>
              </ng-container>
              <span *ngIf="!flatNode.node.leaf">
              <span [innerHTML]="'&nbsp'"></span>
              <a [routerLink]="" *ngIf="!flatNode.collapsed" (click)="collapseNode(flatNode)">
                <span class="arrow-down"></span>
              </a>
              <a [routerLink]="" *ngIf="flatNode.collapsed" (click)="expandNode(flatNode)">
                <span class="arrow-right"></span>
              </a>
            </span>
              <span *ngIf="flatNode.showAddLeaf">
                  &nbsp;&nbsp;
                <!--&nbsp;Subscribe:&nbsp;-->
                <!--<app-toggle-button [checked]="flatNode.subscribe"-->
                <!--(changed)="onChangeSubscribeTo($event, flatNode.node.metricId)"></app-toggle-button>-->
                  &nbsp;Track:&nbsp;
                  <app-toggle-button [checked]="flatNode.track"
                                     (changed)="onChangeTrack($event, flatNode.node.metricId)"></app-toggle-button>&nbsp;
                <!--<i class="fa fa-times fa-fw close-color"-->
                <!--(click)="removeFromInterestedList(flatNode.node.metricId)"></i>-->
               </span>
            </td>
            <td
              *ngIf="!flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag"
              class="text-center">
              <div class="score-label">
                <span style="vertical-align: top;">
                    <span *ngIf="flatNode.node.chartName!='All metrics'">
                      <span *ngIf="flatNode.node.trend > 0">
                        <span style='color: green'>
                          <label class="no-margin" (click)="calculateScores(flatNode.node)" data-placement="right"
                                 triggers="click"
                                 [ngbTooltip]="TrendInfo" [autoClose]="'outside'">
                            <i class="fa fa-arrow-up aspect-trend-icon fa-icon-green"></i></label></span>
                      </span>
                      <span *ngIf="flatNode.node.trend == 0">
                        <span><i class="fa fa-arrow-down aspect-trend-icon" style="visibility: hidden;"></i> </span>
                      </span>
                      <span *ngIf="flatNode.node.trend < 0">
                        <span style='color: red'>
                          <label class="no-margin" (click)="calculateScores(flatNode.node)" data-placement="right"
                                 triggers="click"
                                 [ngbTooltip]="TrendInfo" [autoClose]="'outside'"><i
                            class="fa fa-arrow-down aspect-trend-icon fa-icon-red"></i></label></span>
                      </span>
                    </span>
                    <span *ngIf="flatNode.node.chartName=='All metrics'">
                      <span><i class="fa fa-arrow-down aspect-trend-icon" style="visibility: hidden;"></i> </span>
                    </span>
                  </span>
                {{ flatNode.node.lastScore | number: '1.1-1' }}
              </div>
            </td>
            <td
              *ngIf="flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
              &nbsp;
            </td>
            <td class="text-center"
                *ngIf="selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
              <span *ngIf="!flatNode.node.leaf">{{ flatNode.node.numLeaves }}</span>
            </td>

            <td
              *ngIf="!flatNode.node.leaf && !flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
              <span *ngIf="flatNode.node.degrades.size !== 0"><i class='fa fa-arrow-down aspect-trend-icon fa-icon-red'>:</i>{{ flatNode.node.degrades.size }}</span>
              <a *ngIf="flatNode.node.failures.size !== 0" style="color: black; cursor: pointer">
                <span *ngIf="flatNode.node.degrades.size !== 0">&nbsp;</span><span (click)="openBugPanel(flatNode)"><i
                class='fa fa-times fa-icon-red'>:</i>{{ flatNode.node.failures.size }}</span></a>
            </td>
            <td
              *ngIf="flatNode.node.leaf && flatNode.node.lastNumBuildFailed > 0 && !flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
              Bld:<label (mouseenter)="fetchChartInfo(flatNode)" tooltip [tooltipContentCallback]="tooltipCallback"
                         [tooltipContentCallbackArg]="flatNode" placement="right" delay="1" id="1"
                         class="badge failed-label no-margin badge-danger">FAILED</label>
            </td>
            <td
              *ngIf="flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
              &nbsp;
            </td>
            <td
              *ngIf="!flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
                <span *ngIf="flatNode.node.numBugs > 0" (click)="flatNode.showJiraInfo = !flatNode.showJiraInfo"
                      class="badge no-padding badge-light bug-badge">Bugs<sup><span class="text-color-red">{{ flatNode.node.numBugs }}</span>
                </sup></span>
              <span *ngIf="flatNode.node.numBugs === 0 && flatNode.node.showAddJira"
                    (click)="flatNode.showJiraInfo = !flatNode.showJiraInfo">
                <span *ngIf="!flatNode.showJiraInfo" class="plus-minus">+</span>
                  <span *ngIf="flatNode.showJiraInfo" class="plus-minus">-</span></span>
            </td>
            <td
              *ngIf="flatNode.special && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
              &nbsp;
            </td>
            <ng-template #TrendInfo>
              <div style="color: black">
                <b><u>Trend Calculation:</u></b><br>
                Deviation = ((Current Score - Previous Score)/(min(Current Score, Previous Score))) * 100<br>
                Tolerance = <span>&#177;</span>3%<br>
                Up Trend = Deviation > +3%<br>
                Down Trend = Deviation < -3%<br>
              </div>
              <div *ngIf="!flatNode.node.copiedScore" style="color: black">
                <b><u>Calculation:</u></b><br>
                Current Score = {{ this.lastScore }}<br>
                Previous Score = {{ this.penultimateScore }}<br>
                Deviation = (({{ this.lastScore }} - {{ this.penultimateScore }})/(min({{ this.lastScore }}, {{
                this.penultimateScore }}))) * 100<br>
                Deviation = {{ this.deviation }}%
              </div>
              <div *ngIf="flatNode.node.copiedScore" style="color: black">
                <br>
                The current score is a copied score from yesterday due to unavailability of data.<br>
                The trend is copied from existing score's trend.
              </div>
            </ng-template>
          </tr>
          <tr
            *ngIf="flatNode.showJiraInfo && selectMode !== SelectMode.ShowEditWorkspace && this.selectMode !== SelectMode.ShowAttachDag">
            <td colspan="6">
              <!--<span [innerHTML]="getIndentHtml(flatNode) | safeHtml"></span>-->
              <jira-info [apiUrl]="'/metrics/jiras/' + flatNode.node.metricId"
                         (numBugs)="updateNumBug($event, flatNode.node)"
                         (close)="closeLeafPanel($event, flatNode)"></jira-info>
            </td>
          </tr>
        </ng-container>
      </table>
      <span *ngIf="selectMode == SelectMode.ShowEditWorkspace" class="fun-cancel-link"
            (click)="cancelInterestedMetrics()">Cancel</span>
      <button *ngIf="selectMode == SelectMode.ShowEditWorkspace" class="fun-button-submit"
              (click)="submitInterestedMetrics()">Submit
      </button>
    </div>
    <!-- right side of the perf page dispalying the charts -->
    <div [ngClass]="{'col-lg-7 col-md-7 col-xxl-5 col-xl-7 right-col' : selectMode !== SelectMode.ShowEditWorkspace}">
      <div *ngIf="mode === modeType.ShowingBugPanel && showBugPanel">
        <summary-jira-info [bugInfoUrl]="'/common/bug_info'" [data]="jiraList"
                           [allowDelete]="false" [allowContext]="true" [allowAdd]="false"
                           (close)="closeSummaryPanel($event)"></summary-jira-info>
      </div>
      <div *ngIf="mode != modeType.None && chartReady" class="card" style="padding: 10px">
        <table>
          <tr>
            <td>
              <span id="score-table-parent" class="score-card">
                  <span id="score-table-child">{{ currentNode.lastScore | number: '1.1-1' }}
                  </span>
              </span>
            </td>
            <td valign="top" align="left" style="float: left;">
              <span id="score-table-info-icon">
                  <i class="fa fa-info-circle" style="padding: 2px"
                     (click)="showScoreInfoClick(currentNode)">
                  </i>
              </span>
            </td>
            <td style="width: 100%">

            </td>
          </tr>
        </table>
        <div *ngIf="showScoreInfo">
          <div [ngSwitch]="mode">
            <br>
            <div *ngSwitchCase="modeType.ShowingAtomicMetric">
              <ng-template [ngTemplateOutlet]="LeafScoreInfo"></ng-template>
              <p [innerHTML]="getCurrentNodeScoreInfo(currentNode) | safeHtml"></p>
            </div>
            <div *ngSwitchCase="modeType.ShowingNonAtomicMetric">
              <ng-template [ngTemplateOutlet]="ContainerScoreInfo"></ng-template>
              <p [innerHTML]="getCurrentNodeScoreInfo(currentNode) | safeHtml"></p>
              <div *ngIf="currentNode">
                <table class="table table-nonfluid">
                  <tr>
                    <th>Aspect</th>
                    <th>Weight</th>
                    <th>Last score</th>
                    <th>Weight * Last Score</th>
                  </tr>
                  <tr *ngFor="let childId of getKeys(currentNode.childrenInfo)">
                    <td>{{ nodeMap.get(childId).chartName }}</td>
                    <td>
                      <p (click)="editingWeightClick(currentNode.childrenInfo.get(childId))"
                         *ngIf="!currentNode.childrenInfo.get(childId).weightEditing">
                        {{ currentNode.childrenInfo.get(childId).weight }}</p>
                      <span *ngIf="currentNode.childrenInfo.get(childId).weightEditing">
                        <input style="padding-right: 10px" type="number"
                               [(ngModel)]="currentNode.childrenInfo.get(childId).weightBeingEdited">
                        <button style="border: 1px solid black;overflow: hidden; padding-left: 10px;"
                                class="btn btn-sm"
                                (click)="submitWeightClick(currentNode, childId, currentNode.childrenInfo.get(childId))">&#10003;</button>
                        <button style="border: 1px solid black;" class="btn btn-sm"
                                (click)="closeEditingWeightClick(currentNode.childrenInfo.get(childId))">&#10060;</button>
                      </span>
                    </td>
                    <td>
                      {{ currentNode.childrenInfo.get(childId).lastScore | number: '1.1-1' }}
                    </td>
                    <td>
                      {{ currentNode.childrenInfo.get(childId).weight }} *
                      {{ currentNode.childrenInfo.get(childId).lastScore |
                      number: '1.1-1' }} =
                      {{ currentNode.childrenInfo.get(childId).weight * currentNode.childrenInfo.get(childId).lastScore
                      | number: '1.1-1' }}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total ~ {{ getScoreTotal(currentNode) | number: '1.1-1'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Sum of child weights = {{ getSumChildWeights (currentNode) }}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Score ~ {{ getScoreTotal(currentNode) | number: '1.1-1'}} /
                      {{ getSumChildWeights(currentNode) }}
                      = {{ getScoreTotal(currentNode) / getSumChildWeights(currentNode) | number: '1.1-1'}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div>
          <span *ngFor="let parents of currentFlatNode.lineage">
            <span *ngFor="let parent of parents">
              <span *ngIf="parent.chartName === currentNode.chartName">
                {{ parent.chartName }}
              </span>
              <span *ngIf="parent.chartName !== currentNode.chartName">
                <a [routerLink]="" (click)="expandFromLineage(parent)"> {{ parent.chartName }}</a> >
              </span>
              </span>
            <br></span>
        </div>
        <div class="closed-section"></div>
        <!-- Fun Metric Chart component -->
        <fun-metric-chart [id]="currentNode.metricId" [buildInfo]="buildInfo"></fun-metric-chart>
        <div class="closed-section"></div>
        <!-- Companion Chart Component -->
        <div *ngFor="let id of currentNode.companionCharts">
          <chart [id]="id"></chart>
        </div>

        <div class="closed-section"></div>
        <div *ngIf="mode == modeType.ShowingNonAtomicMetric && selectMode == SelectMode.ShowMainSite" class=""
             style="background-color: whitesmoke; padding-left: 20px; padding-right: 20px">
          <div *ngIf="currentNode.grid.length">
            <div *ngFor="let row of currentNode.grid" class="row">
              <div *ngFor="let node of row" id="grid"
                   [ngStyle]="{'width': miniGridMaxWidth, 'height': miniGridMaxHeight, 'padding': '20px'}">
                <!-- Fun Metric Chart component -->
                <fun-metric-chart [id]="node.metricId" [minimal]="'true'" [buildInfo]="buildInfo"></fun-metric-chart>
              </div>
            </div>
            <div class="closed-section"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
