.info-box {
  border: 1px;
  border-color: #4CAF50;
  border-style: solid;
  border-radius: 5px;
  width: inherit;
  margin-top: 5px;
}

.info-box-header {
  background-color: #dff0d8;
  border-radius: 5px;

}

.info-box-text {
  padding: 5px;
}

.aspect-label {
  padding: 5px;
}

.aspect-label-text {
  padding: 5px;
}

.fa-icon-green {
  color: green;
}

.fa-icon-red {
  color: red;
}

#score-table-parent {
  display: table;
  width: 50px;
  height: 50px;
  border: 3px solid lightsteelblue;
  border-radius: 5px;
}

#score-table-child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: white;

}

#score-table-info-icon {
  display: table-cell;
  vertical-align: top;
}

.score-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #006699;
}

.fade-element-in.ng-enter {
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}

.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}

arrow-icon {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.trend-button-green {
  background-color: white;
  border: 1px solid #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 1.5px;

}

.score-label {
  text-decoration: solid;
}

.trend-button-red {
  background-color: white;
  border: 1px solid red;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 1.5px;

}

.table td {
  padding: 5px;
}

.container a {
  color: #337ab7;
}
.container {
  margin: 0;
  max-width: 3000px;
}

::ng-deep #copy-url-button > .tooltip > .tooltip-inner {
  background-color: black;
  color: black;
}

::ng-deep #actions > .tooltip > .tooltip-inner {
  background-color: black;
  color: black;
}



::ng-deep .tooltip-inner {
  background-color: whitesmoke !important;
  /*width: 200px !important;*/
  /*height: 200px !important;*/
  border: solid 1px black !important;
  text-align: left !important;
  max-width: 50% !important;
  min-width: 200px !important;
  /*display: table !important;*/
}

::ng-deep #score-info > .tooltip {
  top: 245px !important;
  /*transform: translate(244px, 0) !important;*/
}
::ng-deep #score-info > .tooltip.show {
  opacity: 1.0 !important;
}
::ng-deep .arrow::before {
  /*border-top-color: black !important;*/
  border-right-color: black !important;
}
::ng-deep #score-info > .tooltip > .arrow {
  top: calc(4% - .4rem) !important;
}
::ng-deep .tooltip-inner a {
  /*display: table-cell !important;*/
  vertical-align: middle !important;
}
.bold {
  color: black;
}
hr {
  margin: 0;
}
.failed-label {
  cursor: pointer;
}
.bugs-link {
  cursor: pointer;

}
.bug-badge {
  cursor: pointer;
  font-size: 90%;
  font-weight: 500;
  vertical-align: middle;
}
sup {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}
.plus-minus {
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}
.git-commit {
  color: white;
  border: solid 1px black;
  background-color: #337ab7;
}
.highlight {
  text-decoration: underline !important;
  color: black !important;
  font-weight: 600 !important;
}
.right-col {
  height: 100%;
  overflow-y: scroll;
}
.left-col {
  height: 100%;
  overflow-y: scroll;
}
/*Set the row height to the viewport*/
.both-cols {
  height: 100vh;
}
/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}

.tab-highlight {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: solid;
  font-weight: bolder;
}


.card-header-tabs {
  margin-left: unset;
}
