<div id="create-volume-div" class="workflow-parameters">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" ng-model="$ctrl.obj.name">
        </div>
        <label class="col-sm-2 col-form-label">UUID</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" ng-model="$ctrl.obj.uuid">
        </div>
        <label class="col-sm-2 col-form-label">Block Size</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" value=1024 ng-model="$ctrl.obj.blockSize">
        </div>
        <label class="col-sm-2 col-form-label">NS ID</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" value=1024 ng-model="$ctrl.obj.nsId">
        </div>
        <label class="col-sm-2 col-form-label">Size</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" value=1024 ng-model="$ctrl.obj.size">
        </div>
    </div>
</div>