<div id="create-volume-div" class="workflow-parameters">

    <button class="btn btn-secondary" ng-click="clickApply()">Apply</button>
    <div ng-switch="status">
        Status: 
        <span ng-switch-when="processing"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Processing..</span>
        <span ng-switch-when="idle" class="label label-info">IDLE</span>
        <span ng-switch-when="pass" class="glyphicon glyphicon-ok" style="color:green"></span>
        <span ng-switch-when="fail" class="glyphicon glyphicon-remove" style="color:red"></span>
    </div>
    <div ng-if="errorMessage" style="border-style: solid; border-color: red">
         {{ errorMessage }}
    </div>
    <form>
        <div class="form-group row">
            <label>Name</label>
            <input class="form-control" type="text" value={{ name }} ng-model="name">
        </div>
        <div class="form-group row">
            <label>Block Size</label>
            <input class="form-control" type="number" value={{ blockSize }} ng-model="blockSize">
        </div>
        <div class="form-group row">
            <label>Size</label>
            <input class="form-control" type="number" value={{ capacity }} ng-model="capacity">
        </div>
    </form>
    <div ng-if="volumeUuids.length" class="row">
        <label>Raw Volumes</label>
        <table class="table table-bordered">
            <th>UUID</th>
            <tr ng-repeat="volumeUuid in volumeUuids">
                <td>{{ volumeUuid }}</td>
            </tr>
        </table>
    </div>
</div>
