<div id="create-volume-div" class="workflow-parameters">

    <button class="btn btn-secondary" ng-click="clickApply()">Apply</button>
    <br>
    <br>
    <div ng-switch="status">
        Status:
        <span ng-switch-when="processing"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Processing..</span>
        <span ng-switch-when="idle" class="label label-info">IDLE</span>
        <span ng-switch-when="pass" class="glyphicon glyphicon-ok" style="color:green"></span>
        <span ng-switch-when="fail" class="glyphicon glyphicon-remove" style="color:red"></span>
    </div>
    <div ng-if="errorMessage" style="border-style: solid; border-color: red">
         {{ errorMessage }}
    </div>
    <form>
        <div class="form-group row">
            <label>Name</label>
            <input class="form-control" type="text" value={{ name }} ng-model="name">
        </div>
        <div class="form-group row">
            <label>Block Size</label>
            <input class="form-control" type="number" value={{ blockSize }} ng-model="blockSize">
        </div>
        <div class="form-group row">
            <label>Size</label>
            <input class="form-control" type="number" value={{ capacity }} ng-model="capacity">
        </div>
        <div class="form-group row">
            <label>Remote IP</label>
            <select
                ng-options="f1.name as [f1.name, f1.ip].join(' -- ') for f1 in $ctrl.f1s"
      ng-model="selectedRemoteIp" required></select>
        </div>
        <div class="form-group row">
            <label>Remote NS ID</label>
            <input class="form-control" type="number" value="{{ remoteNsId }}" ng-model="remoteNsId">
        </div>

    </form>
    <div ng-if="rdsVolumeUuids.length" class="row">
        <label>RDS Volumes</label>
        <table class="table table-bordered">
            <th>UUID</th>
            <tr ng-repeat="volumeUuid in rdsVolumeUuids">
                <td>{{ volumeUuid }}</td>
            </tr>
        </table>
    </div>
</div>
