<div id="create-volume-div" class="workflow-parameters">
    <form>
        <div class="form-group row">
            <label>Name</label>
            <input class="form-control" type="text" ng-model="$ctrl.obj.name">
        </div>
        <div class="form-group row">

            <label>UUID</label>
            <input class="form-control" type="text" ng-model="$ctrl.obj.uuid">
        </div>
        <div class="form-group row">
            <label>Block Size</label>
            <input class="form-control" type="number" value=1024 ng-model="$ctrl.obj.blockSize">
        </div>
        <div class="form-group row">

            <label>NS ID</label>
            <input class="form-control" type="number" value=1024 ng-model="$ctrl.obj.nsId">
        </div>
        <div class="form-group row">
            <label>Size</label>
            <input class="form-control" type="number" value=1024 ng-model="$ctrl.obj.size">
        </div>
    </form>
</div>