<div>
    <!-- Rounded switch -->


    <table class="table table-bordered table-nonfluid table-striped">
        <thead>
            <td>Attribute</td>
            <td>Value</td>
        </thead>
        <tr>
            <td>Name</td>
            <td>{{ $ctrl.f1.name }}</td>
        </tr>
        <tr>
            <td>Management IP</td>
            <td>{{ $ctrl.f1.ip }}</td>
        </tr>
        <tr>
            <td>Management SSH Port</td>
            <td>{{ $ctrl.f1.mgmt_ssh_port }}</td>
        </tr>
        <tr>
            <td>Dpcsh Port</td>
            <td>{{ $ctrl.f1.dpcsh_port }}</td>
        </tr>
    </table>

    <br>
    <label class="label label-info label-medium" for="sync-checkbox"><i class="glyphicon glyphicon-refresh"></i></label>
    <input id="sync-checkbox" type="checkbox" ng-click="toggleSync($event)">
    <label class="label label-info label-medium" for="chart-checkbox"><i class="glyphicon glyphicon-stats"></i></label>
    <input id="chart-checkbox" type="checkbox" ng-click="toggleChart($event)">
    <br>


    <p ng-if="$ctrl.f1.volumeThin && charting" class="h4">Local Volumes</p>
    <table id="thin-table" class="table table-bordered" ng-if="$ctrl.f1.volumeThin" style="max-width:30%">
	    <tr>
		<th style="background-color: #E4EFF2">UUID</th>
		<th style="background-color: #E4EFF2">Reads</th>
		<th style="background-color: #E4EFF2">Writes</th>
		<th style="background-color: #E4EFF2">Fault</th>
		<th style="background-color: #E4EFF2">Attached</th>
	    </tr>
	    <tr ng-repeat="(uuid, properties) in $ctrl.f1.volumeThin">
		 <td>{{ uuid }}</td>
		 <td>{{ properties.num_reads }}</td>
		 <td>{{ properties.num_writes }}</td>
		 <td>{{ properties.fault_injection }}</td>
		 <td>{{ properties.attach_nsid }}</td>
	    </tr>
    </table>
    <p ng-if="$ctrl.f1.volumeReplica && charting" class="h4">Replica Volumes</p>
    <table id="thin-table" class="table table-bordered" ng-if="$ctrl.f1.volumeReplica" style="max-width:30%">
	    <tr>
		<th style="background-color: #E4EFF2">UUID</th>
		<th style="background-color: #E4EFF2">Reads</th>
		<th style="background-color: #E4EFF2">Writes</th>
		<th style="background-color: #E4EFF2">Fault</th>
		<th style="background-color: #E4EFF2">Attached</th>
	    </tr>
	    <tr ng-repeat="(uuid, properties) in $ctrl.f1.volumeReplica">
		 <td>{{ uuid }}</td>
		 <td>{{ properties.num_reads }}</td>
		 <td>{{ properties.num_writes }}</td>
		 <td>{{ properties.fault_injection }}</td>
		 <td>{{ properties.attach_nsid }}</td>
	    </tr>
    </table>
    <p ng-if="$ctrl.f1.volumeRds && charting" class="h4">RDS Volumes</p>
    <table id="thin-table" class="table table-bordered" ng-if="$ctrl.f1.volumeRds" style="max-width:30%">
	    <tr>
		<th style="background-color: #E4EFF2">UUID</th>
		<th style="background-color: #E4EFF2">Reads</th>
		<th style="background-color: #E4EFF2">Writes</th>
		<th style="background-color: #E4EFF2">Fault</th>
		<th style="background-color: #E4EFF2">Attached</th>
	    </tr>
	    <tr ng-repeat="(uuid, properties) in $ctrl.f1.volumeRds">
		 <td>{{ uuid }}</td>
		 <td>{{ properties.num_reads }}</td>
		 <td>{{ properties.num_writes }}</td>
		 <td>{{ properties.fault_injection }}</td>
		 <td>{{ properties.attach_nsid }}</td>
	    </tr>
    </table>
    
    <div ng-if="vpWus">
        <div class="row">
            <div ng-repeat="(name, properties) in vpWus" ng-if="['VP0.0.0', 'VP0.0.1', 'VP0.1.0', 'VP0.1.1'].indexOf(name) > -1" class="col-sm-3 well"> 
                <fun-chart series="series" title="name" syncing="syncing" values="{'Sent': properties.wus_sent, 'Received': properties.wus_received }" charting="charting" minimal="false" show-legend="true"></fun-chart>
            </div>

        </div>
        <div class="row">
            <div ng-repeat="(name, properties) in vpWus" ng-if="['VP0.2.0', 'VP0.2.1', 'VP0.3.0', 'VP0.3.1'].indexOf(name) > -1" class="col-sm-3 well"> 
                <fun-chart series="series" title="name" syncing="syncing" values="{'Sent': properties.wus_sent, 'Received': properties.wus_received }" charting="charting" minimal="false" show-legend="true"></fun-chart>
            </div>

        </div>
        <div class="row">
            <div ng-repeat="(name, properties) in vpWus" ng-if="['VP1.0.0', 'VP1.0.1', 'VP1.1.0', 'VP1.1.1'].indexOf(name) > -1" class="col-sm-3 well"> 
                <fun-chart series="series" title="name" syncing="syncing" values="{'Sent': properties.wus_sent, 'Received': properties.wus_received }" charting="charting" minimal="false" show-legend="true"></fun-chart>
            </div>

        </div>
        <div class="row">
            <div ng-repeat="(name, properties) in vpWus" ng-if="['VP1.2.0', 'VP1.2.1', 'VP1.3.0', 'VP1.3.1'].indexOf(name) > -1" class="col-sm-3 well"> 
                <fun-chart series="series" title="name" syncing="syncing" values="{'Sent': properties.wus_sent, 'Received': properties.wus_received }" charting="charting" minimal="false" show-legend="true"></fun-chart>
            </div>

        </div>
        <p class="h4">WUs per VP</p>
        <table class="table table-bordered table-nonfluid table-striped" style="min-width: 500px">
            <thead>
                <td>VP</td>
                <td>Sent</td>
                <td>Received</td>
            </thead>
            <tbody>
                <tr ng-repeat="(name, properties) in vpWus">
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        {{ properties.wus_sent }}
                    </td>
                    <td>
                        {{ properties.wus_received }}
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
