<div class="panel panel-default panel-primary">
    <div class="panel-heading" data-toggle="collapse" href="#f1-traffic-panel-{{ $ctrl.f1.name }}">
        F1: {{ $ctrl.f1.name }}
        <a href="#" class="pull-right"><i ng-click="detailsViewClick()" class="glyphicon glyphicon-list" style="color:white"></i></a>
    </div>
    <div class="panel-body panel-collapse collapse" id="f1-traffic-panel-{{ $ctrl.f1.name }}">
        <div class="row">
            Mgmt IP: {{ $ctrl.f1.ip }}
            <a href="#"><i class="fa fa-bar-chart fa-2x pull-right" style="color:orangered"></i></a>
        </div>
        <div class="row">
            Mgmt SSH Port: {{ $ctrl.f1.mgmt_ssh_port }}
        </div>
        <div class="row">
            Dpcsh Port: {{ $ctrl.f1.dpcsh_port }}
        </div>
        <div class="row">
            Dataplane Ip: {{ $ctrl.f1.dataplane_ip }}
        </div>


        <div class="row">
            Status: <span ng-show="progressLabel" class="label label-info">IDLE</span>

            <span ng-show="progressIcon" class="glyphicon glyphicon-ok" style="color:green"></span>
            <div class="progress" ng-show="progressDiv">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                     style="width: {{ progressBarWidth }}%">
                </div>
            </div>

            <br>
            Action
            <select ng-model="selectedWorkFlow"
                    ng-options="x.name for x in $ctrl.workFlows"
                    ng-change="workFlowSelection(selectedWorkFlow)">
            </select>
            <button class="btn btn-secondary" ng-click="startWorkFlow($event)">Apply
            </button>
        </div>
        <div class="row">
            <i ng-show="hasVolumes" class="fa fa-database" style="font-size:36px"></i>
            <label ng-show="hasReplicatedVolumes" class="label label-warning">3</label>

        </div>
    </div>
</div>
