<div id="ikv-test-div" class="workflow-parameters">
    <div class="row" ng-show="keyHex">
        <label>Key-hex:</label>
        {{ keyHex }}
    </div>

    <div class="row">
        <div ng-hide="processing">
            <label for="file-upload"><i class="fa fa-picture-o"></i>&nbspUpload Image file:</label>
            <input id="file-upload" type="file" fileinput="file"/>
        </div>
        <img ng-show="filepreview" width="200" height="200"
            ng-src="{{filepreview| trustUrl}}">
        </img>
        <div class="row" ng-show="filepreview">
            <button ng-click="fetchFile()" ng-show="keyHex">Fetch file</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <span ng-show="processing"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Processing..</span>
        <video ng-if="playlist" video width="300" height="200" controls autoplay src="{{playlist| trustUrl}}" />
        </video>
        <div ng-hide="processing">
            <label for="file-upload-video"><i class="fa fa-film"></i>&nbspPublish Video:</label>
            <input id="file-upload-video" type="file" fileinput="filevideo"/>
        </div>

    </div>

</div>
