<div id="create-volume-div" class="workflow-parameters">

    <button class="btn btn-secondary" ng-click="clickApply()">Apply</button>
    <br>
    <br>
    <div ng-switch="status">
        Status:
        <span ng-switch-when="processing"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Processing..</span>
        <span ng-switch-when="idle" class="label label-info">IDLE</span>
        <span ng-switch-when="pass" class="glyphicon glyphicon-ok" style="color:green"></span>
        <span ng-switch-when="fail" class="glyphicon glyphicon-remove" style="color:red"></span>
    </div>
    <div ng-if="errorMessage" style="border-style: solid; border-color: red">
         {{ errorMessage }}
    </div>
    <form>
        <div class="form-group row">
            <label>Remote IP</label>
            <select
                ng-options="f1.dataplane_ip as [f1.name, f1.ip, f1.dataplane_ip].join(' -- ') for f1 in $ctrl.f1s"
      ng-model="selectedRemoteIp" required></select>
        </div>
    </form>
</div>
