/* 10/26/06


/* The .redtext and .fuschiatext styles are 
   used to highlight writer's questions
   to developers. */

.redtext, table.standard .redtext, table.notetable .redtext, table.tiptable .redtext, table.cautiontable .redtext, table.noborder .redtext, table.interior .redtext, table.autowidth .redtext, table.options .redtext
  {
  color: red;
  }

.fuschiatext, table.standard .fuschiatext, table.notetable .fuschiatext, table.tiptable .fuschiatext, table.cautiontable .fuschiatext, table.noborder .fuschiatext, table.interior .fuschiatext, table.autowidth .fuschiatext, table.options .fuschiatext
  {
  color: #ff33ff;
  }

A:visited
  { 
  }

A:link
  { 
  color: #0078C1;
  }

A:hover
  { 
  color: #0078C1;
  background-color: #d6dfef;
  }

A.glossaryletter:link
  { 
  text-decoration: none; 
  color: #0078C1;
  }

hr
  { 
  border-style: solid; 
  height: 1px; 
  color: navy; 
  border-width: 1px;
  }

body
  {
  font-family: verdana, arial, helvetica, sans-serif; 
  font-size: 11px;
  background-color: #ffffff; 
  margin-right: 30px; 
  margin-left: 20px;
  margin-bottom: 100px;
  }

h1
  {
  font-size: 17px; 
  font-style: normal; 
  font-weight: bold; 
  color: #0069AA; 
  margin-bottom: 12px;
  }

h2
  { 
  font-size: 15px; 
  font-style: normal; 
  font-weight: bold; 
  color: #000000; 
  margin-top: 19px; 
  margin-bottom: 3px;
  }

h3  
  {
  font-size: 12px; 
  font-style: normal; 
  font-weight: bold; 
  color: #000000; 
  margin-top: 19px; 
  margin-bottom: 1px;
  }

h4
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: bold; 
  color: #000000; 
  margin-top: 18px; 
  margin-bottom: 0px;
  }

h5
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: bold; 
  color: #000000; 
  margin-top: 12px; 
  margin-bottom: 0px;
  }

p
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-top: 6px; 
  margin-bottom: 12px;
  }

.standard td p.cellfieldname
  {
  font-size: 100%; 
  font-weight: normal; 
  color: #000000; 
  margin-top: 0px; 
  margin-bottom: 8px;
  }

.code
  { 
  font-family: courier, serif; 
  font-size: 10px; 
  }

.codeindent
  { 
  font-family: courier, serif; 
  font-size: 10px; 
  color: #000000; 
  margin-top: 12px; 
  margin-right: 25px; 
  margin-bottom: 12px; 
  margin-left: 25px;
  }

.glossaryletter
  { 
  font-family: Arial, Verdana, Helvetica, sans-serif; 
  font-size: 125%; 
  font-weight: bold; 
  text-decoration: none;
  }

p.indented
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  margin-left: 40px;
  }

/* the .link style is used to format general
links within the body of the topic. These pertain
to a paragraph list of links or an single-lined
link, but not inline links. The main purpose is
to set the top and bottom margins. */

p.link
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  list-style: none; 
  margin-bottom: 8px; 
  margin-top: 8px;
  }

/* The related styles format the related topics
section at the bottom of each topic */

p.related_information
  {
  font-size: 100%; 
  font-weight: bold; 
  margin-bottom: 8px; 
  margin-top: 2px;
  }

p.relatedtopic
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  list-style: none; 
  margin-bottom: 8px; 
  margin-top: 8px;
  }

/* The tobegin style formats the introduction
to a procedure (usually list of steps). */

.tobegin
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: bold; 
  margin-bottom: 12px; 
  margin-top: 12px;
  }

/* The following format lists */

li
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: 000000; 
  margin-top: 10px; 
  margin-bottom: 10px;
  }

li p
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: 000000; 
  margin-top: 10px; 
  margin-bottom: 10px;
  }

ul, ul ul ul ul
  { 
  font-size: 100%; 
  list-style-type: disc; 
  margin-top: 12px; 
  margin-bottom: 12px;
  }

ul ul
  { 
  font-size: 100%; 
  list-style-type: square; 
  margin-bottom: 12px; 
  margin-top: 12px;
  }

ul ul ul
  { 
  font-size: 100%; 
  list-style-type: circle; 
  margin-bottom: 12px; 
  margin-top: 12px;
  }

ul ol
  { 
  font-size: 100%; 
  list-style-type: decimal; 
  margin-top: 12px; 
  margin-bottom: 12px;
  }

ul ol ol
  { 
  font-size: 100%; 
  list-style-type: lower-alpha; 
  margin-top: 12px; 
  margin-bottom: 12px;
  }

ol
  { 
  font-size: 100%; 
  list-style-type: decimal; 
  margin-top: 12px; 
  margin-bottom: 12px;
  }

ol ol
  { 
  font-size: 100%; 
  list-style-type: lower-alpha; 
  margin-top: 12px; 
  margin-bottom: 12px;
  }

ol ul
  { 
  font-size: 100%; 
  list-style-type: disc; 
  margin-top: 12px; 
  margin-bottom: 12px;
  }

ol ul ul
  { 
  font-size: 100%; 
  list-style-type: square; 
  margin-bottom: 12px; 
  margin-top: 12px;
  }

/* This stylesheet controls the formatting
   of all tables in the help system. 
   Descriptions of each table style are
   available. */
   
/* If using RH, the unclassified table
   style controls the table around the
   "show contents" text link. */

table
  {
  width: 100%;
  font-size: 100%; 
  border-style: none; 
  border-collapse: collapse; 
  }

td
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  padding-right: 5px; 
  padding-left: 5px; 
  vertical-align: top;
  }

table li
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  margin-top: 0px; 
  margin-bottom: 6px;
  }

table ol
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-left: 35px;
  margin-top: 8px; 
  margin-bottom: 8px;
  }

table ul
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-left: 35px;
  margin-top: 8px; 
  margin-bottom: 8px;
  }

/* The .autowidth table can be
   used for small content that
   does not fill the page. */
   
table.autowidth
  {
  font-size: 100%;
  width: auto;
  border: 1px navy solid; 
  border-collapse: collapse; 
  margin-top: 12px;
  margin-bottom: 18px;
  }

/* The .standard style formats all
   field description and similar 
   tables (99% of all tables). */
   
table.standard
  {
  font-size: 100%;
  width: 100%;
  border: 1px navy solid; 
  border-collapse: collapse; 
  margin-top: 12px;
  margin-bottom: 18px;
  }

.standard td
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-top: 1px solid navy; 
  border-right: 1px solid navy; 
  border-bottom: 1px solid navy; 
  border-left: 1px solid navy; 
  padding-top: 8px; 
  padding-right: 5px; 
  padding-bottom: 8px; 
  padding-left: 5px; 
  vertical-align: top;
  }

.standard th
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: bold; 
  color: navy; 
  padding-top: 5px; 
  padding-right: 5px; 
  padding-bottom: 5px; 
  padding-left: 5px; 
  border-top: 1px solid navy; 
  border-right: 1px solid navy; 
  border-bottom: 1px solid navy; 
  border-left: 1px solid navy; 
  background-color: #d6dfef;  
  text-align: left; 
  vertical-align: bottom;
  }

table.standard p
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-top: 0px; 
  margin-bottom: 6px;
  }

li table.standard
  {
  width: auto;
  }

/* The .tablesegment style formats the
   row(s) separating various sections of
   a table. */

td.tablesegment
  {
  font-size: 100%; 
  font-weight: bold; 
  color: #666666; 
  border-top: none; 
  border-right: none; 
  border-bottom: none; 
  border-left: none; 
  padding-top: 5px; 
  padding-right: 5px; 
  padding-bottom: 5px; 
  padding-left: 5px; 
  background-color: #F0F0F0;
  }

/* The .noborder style can be
   used to position text and/or
   images using a table without
   any borders. */
   
table.noborder
  { 
  font-size: 100%;
  border-style: none; 
  border-collapse: collapse; 
  margin-top: 20px;
  }

.noborder td
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-style: none; 
  padding-top: 0px; 
  padding-right: 5px; 
  padding-bottom: 0px; 
  padding-left: 5px; 
  margin-top: 0pt; 
  margin-bottom: 0pt; 
  vertical-align: top;
  }

.noborder th
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: bold; 
  padding-top: 0px; 
  padding-right: 5px; 
  padding-bottom: 0px; 
  padding-left: 5px; 
  border-style: none; 
  background-color: #ffffff; 
  vertical-align: top;
  text-align: left;
  }

/* The .interior style formats a
   table that resides inside of
   another table. */
   
table.interior
  { 
  border: none; 
  border-collapse: collapse; 
  margin: 14px 0px 12px 0px;
  }

table.interior p
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-top: 0px; 

  }

.interior td
  {
  vertical-align: top; 
  border: none; 
  padding: 5px 5px 5px 5px; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-style: normal; 
  font-weight: normal;
  }

.interior th
  {
  background-color: #FFFFFF;
  vertical-align: top; 
  text-align: left; 
  font-family: verdana, arial, helvetica, sans-serif; 
  font-size: 11px; 
  font-style: normal; 
  font-weight: bold; 
  padding: 5px 5px 5px 5px; 
  border-top: none; 
  border-right: none; 
  border-bottom: 1px solid #333333; 
  border-left: none; 
  cellspacing: 0;
  }

/* The .options table is used
as a subtable similar to the 
interior table.*/

table.options
  {
  border: 2px solid #666666;
  margin-top: 6px;
  }

.subParameter
  {
  font-style: italic;
  text-indent: 1.5em;
  }

/* The following table styles provide
   a means to add CAUTION, NOTE, TIP,
   and WARNING messages. */
   
table.cautiontable
  { 
  font-size: 100%; 
  width: 100%;
  border: 1px solid navy; 
  border-collapse: collapse; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  background-color: #ffe66f;
  }

li table.cautiontable
  { 
  width: auto;
  }

td table.tiptable
  { 
  margin-bottom: 0px;
  }

.cautiontable td
  {
  width: 100%;
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-style: none; 
  padding-top: 7px; 
  padding-right: 10px; 
  padding-bottom: 7px; 
  padding-left: 10px; 
  margin-top: 0px; 
  margin-bottom: 0px; 
  vertical-align: top;
  }

.cautiontable p
  {
  font-size: 100%; 
  margin-top: 6px;
  margin-bottom: 6px
  }
  
.cautiontable td ul
  { 
  font-size: 100%; 
  list-style-type: square;
  }

.cautiontable ul li
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  margin-top: 8px; 
  margin-bottom: 6px; 
  }

table.notetable
  { 
  font-size: 100%; 
  width: 100%;
  border: 1px solid navy; 
  border-collapse: collapse; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  background-color: #dfefff;
  }

li table.notetable
  { 
  width: auto;
  }

td table.notetable
  { 
  margin-bottom: 0px;
  width: 100%;
  }

.notetable td
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-style: none; 
  padding-top: 7px; 
  padding-right: 10px; 
  padding-bottom: 7px; 
  padding-left: 10px; 
  margin-top: 0px; 
  margin-bottom: 0px; 
  vertical-align: top;
  }

.notetable p
  {
  font-size: 100%; 
  margin-top: 6px;
  margin-bottom: 6px
  }

.notetable td ul
  { 
  font-size: 100%; 
  list-style-type: square;
  }
  
.notetable ul li
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  margin-top: 8px; 
  margin-bottom: 6px; 
  }

table.tiptable
  { 
  width: 100%;
  border: 1px solid navy; 
  border-collapse: collapse; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  background-color: #feffc5;
  }

li table.tiptable
  { 
  width: auto;
  }

td table.tiptable
  { 
  margin-bottom: 0px;
  }

.tiptable td
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-style: none; 
  padding-top: 7px; 
  padding-right: 10px; 
  padding-bottom: 7px; 
  padding-left: 10px; 
  margin-top: 0px; 
  margin-bottom: 0px; 
  vertical-align: top;
  }

.tiptable p
  {
  font-size: 100%; 
  margin-top: 6px;
  margin-bottom: 6px
  }

.tiptable td ul
  { 
  font-size: 100%; 
  list-style-type: square;
  }

.tiptable ul li
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  margin-top: 8px; 
  margin-bottom: 6px; 
  }

table.warningtable
  { 
  font-size: 100%; 
  width: 100%;
  border: 1px solid navy; 
  border-collapse: collapse; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  background-color: #ffd28b;
  }

li table.warningtable
  { 
  width: auto;
  }

td table.warningtable
  { 
  margin-bottom: 0px;
  }

.warningtable td
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-style: none; 
  padding-top: 7px; 
  padding-right: 10px; 
  padding-bottom: 7px; 
  padding-left: 10px; 
  margin-top: 0px; 
  margin-bottom: 0px; 
  vertical-align: top;
  }

.warningtable p
  {
  font-size: 100%; 
  margin-top: 6px;
  margin-bottom: 6px
  }

.warningtable td ul
  { 
  font-size: 100%; 
  list-style-type: square;
  }

.warningtable ul li
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  margin-top: 8px; 
  margin-bottom: 6px; 
  }

/* The .welcome style formats the 
   right table in the welcome.htm
   topic for RH webhelp projects. */
   
table.welcome
  { 
  font-size: 100%;
  width: 100%;
  border-style: none; 
  border-collapse: collapse; 
  }

.welcome td
  {
  color: #000000; 
  background-color: #ffffff; 
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  border-style: none; 
  padding-top: 5px; 
  padding-right: 10px; 
  padding-bottom: 5px; 
  padding-left: 5px; 
  margin-top: 0pt; 
  margin-bottom: 0pt; 
  vertical-align: top;
  text-align: left;
  }

.welcome p
  {
  color: #000000; 
  margin-top: 6px;
  margin-bottom: 6px;
  }

.welcome li
  {
  color: #000000; 
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left:-23px;
  }

.welcome a:link, .welcome a:visited
  {
  color: #333399;
  }

.welcome a:hover
  {
  color: #333399;
  background-color: #d6dfef;
  }

/* The .contact style formats the 
   top table in the contact.htm
   topic. */

table.contact
  { 
  font-size: 100%;
  border-style: none; 
  border-collapse: collapse; 
  margin-top: 20px;
  }

td.contact
  {
  background-color: #0078C1;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid navy;
  }
  
td.contact h1
  {
  color: #ffffff; 
  margin-top: 6px;
  padding-bottom: 14px;
  }

td.contact p, td.contact h5, td.contact h1
  {
  color: #ffffff; 
  margin-top: 6px;
  margin-bottom: 6px;
  }

td.contact ul, td.contact ul ul
  {
  list-style-type: square; 
  }

td.contact li
  {
  color: #ffffff; 
  margin-top: 18px;
  margin-bottom: 6px;
  }

td.contact hr
  {
  color: #333399;
  }

td.contact a:link, td.contact a:visited
  {
  color: #ffffff;
  }

td.contact a:hover
  {
  color: #666666;
  background-color: #d6dfef;
  }

/* The following definition list elements
formats the CTS glossary. */

dt
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: bold; 
  color: #000000; 
  margin-top: 14px; 
  margin-bottom: 8px;
  }
  
dd
  {
  font-size: 100%; 
  font-style: normal; 
  font-weight: normal; 
  color: #000000; 
  margin-top: 8px; 
  margin-bottom: 12px; 
  margin-left: 20px;
  }

img
  {
  border: 1px solid black;
  }

