<div class="fun-flex-container" style="padding: 10px; width: 100%">
  <div class="fun-flex-item" style="flex: 0 0 40%">
    <div *ngFor="let flatNode of flatNodes">
    <div *ngIf="!flatNode.hide">
       <span [innerHTML]="getIndentHtml(flatNode) | safeHtml">
                         </span><span [ngClass]="{highlight: flatNode.highlight}" class="fun-action-link"
                                      (click)="clickNode(flatNode)">{{ flatNode.name }}</span>
      <span *ngIf="!flatNode.leaf">
        &nbsp;
        <span class="fa fa-angle-down" style="font-weight: bolder; font-size: medium" *ngIf="!flatNode.collapsed"
              (click)="clickNode(flatNode)">
              </span>
        <span class="fa fa-angle-right" style="font-weight: bolder; font-size: medium" *ngIf="flatNode.collapsed"
              (click)="clickNode(flatNode)">
              </span>
            </span>
    </div>
  </div>
  </div>
  <div class="fun-flex-item" style="flex: 0 0 60%">
    Charts coming soon
  </div>
</div>
