<div class="component">
  <div class="modal-header">
    <h3 *ngIf="mode === 'edit'" class="modal-title">Edit chart: {{ chartName }}</h3>
    <h3 *ngIf="mode === 'create'" class="modal-title">Create chart</h3>
  </div>
  <div class="modal-body edit-modal-body">
    <preview-fun-metric [id]="metricId" [minimal]="'true'" [previewDataSets]="previewDataSets"
                        style="width:350px; height:350px;"></preview-fun-metric>
    <div *ngIf="mode === 'create'">
      <table class="table table-nonfluid">
        <tr>
          <td><label>Chart display name: </label></td>
          <td>
            <input type="text" required
                   [(ngModel)]="chartName" style="width: 250px"/>
          </td>
        </tr>
        <tr>
          <td><label>Metric Model Name: </label></td>
          <td>
            <input type="text" required
                   [(ngModel)]="modelName" style="width: 250px"/>
          </td>
        </tr>
        <tr>
          <td><label>Y1 axis title: </label></td>
          <td>
            <input type="text" required
                   [(ngModel)]="y1AxisTitle" style="width: 250px"/>
          </td>
        </tr>
        <tr>
          <td><label>Source: </label></td>
          <td>
            <input type="text" required
                   [(ngModel)]="source" style="width: 250px"/>
          </td>
        </tr>
        <tr>
          <td><label>Owner: </label></td>
          <td>
            <input type="text" required
                   [(ngModel)]="owner" style="width: 250px"/>
          </td>
        </tr>
        <tr>
          <td><label>Description: </label></td>
          <td>
            <textarea rows="10" [(ngModel)]="description" style="width: 100%;"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <label>Negative gradient: </label>
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="negativeGradient"/>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="((mode === 'create') && chartName) || (mode === 'edit')">
      <span class="fa fa-plus"></span>
      <a [routerLink]="" (click)="addDataSetClick()">Add data-set</a>
    </div>

    <div *ngIf="showOutputSelection">
      <table class="table table-bordered">
        <tr>
          <td>Name:</td>
          <td>
            <input type="text" minlength="1" maxlength="50" required="true"
                   [(ngModel)]="addDataSet.name"/>
          </td>
          <!--<th [attr.colspan]="addDataSet.inputs.length" style="text-align:center;">Input</th>-->
          <!--<th>Output</th>-->
          <!--<th>Min</th>-->
          <!--<th>Max</th>-->
          <!--<th>Expected</th>-->
        </tr>
        <tr>
          <td>
            Output:
          </td>
          <td>
            Name:
            <select [(ngModel)]="addDataSet.output.name" (change)="fetchUnits(addDataSet.output.name)">
              <option *ngFor="let output of outputOptions">{{ output.name }}</option>

            </select> &nbsp;
            Min:
            <input type="number" min="0" max="999999" required
                   [(ngModel)]="addDataSet.output.min"/>&nbsp;
            Max:
            <input type="number" min="0" max="999999" required
                   [(ngModel)]="addDataSet.output.max"/>&nbsp;
            Expected:
            <input type="number" min="0" max="999999" required
                   [(ngModel)]="addDataSet.output.expected"/>&nbsp;
            Unit:
            <select [(ngModel)]="addDataSet.output.unit">
              <option *ngFor="let unit of outputUnits">{{ unit }}</option>

            </select> &nbsp;
          </td>
        </tr>
        <tr *ngFor="let input of addDataSet.inputs">
          <!--<td>-->
            <!--<input type="text" minlength="1" maxlength="50" required="true"-->
                   <!--[(ngModel)]="addDataSet.name"/>-->
          <!--</td>-->
          <td>
            <label>{{ input.name }}:&nbsp;</label>
          </td>
          <td>
            <select [(ngModel)]="input.selectedChoice">
              <option *ngFor="let choice of input.choices">
                {{ choice }}
              </option>
            </select>&nbsp;
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" (click)="addClick()">Add</button>

    </div>

    <table class="table table-bordered">
      <tr>
        <th>Delete</th>
        <th>Name</th>
        <th *ngFor="let inputName of inputNames">{{ inputName.name }}</th>
        <th>Output</th>
        <th>Min</th>
        <th>Max</th>
        <th>Expected</th>
      </tr>
      <tr *ngFor="let dataSet of previewDataSets; index as i">
        <td>
          <button class="btn btn-sm" (click)="removeClick(i)"><i class="fa fa-trash-o"
                                                                 style="font-size:20px; color: red"></i>
          </button>
        </td>
        <td>{{ dataSet.name }}</td>
        <td *ngFor="let inputValue of inputNames">{{ dataSet.inputs[inputValue.name] }}</td>
        <td>{{ dataSet.output.name }}</td>
        <td>
          <input type="number" [(ngModel)]="dataSet.output.min" ng-value="dataSet.output.min"
                 style="width: 100px">
        </td>
        <td><input type="number" [(ngModel)]="dataSet.output.max" ng-value="dataSet.output.max"
                   style="width: 100px"></td>
        <td><input type="number" [(ngModel)]="dataSet.output.expected" ng-value="dataSet.output.expected"
                   style="width: 100px"></td>
      </tr>
    </table>
    <button class="btn btn-success" (click)="submit()">Submit</button>
    <button class="btn" (click)="dismiss()">Close</button>
  </div>
</div>
