<div id="changed-files" class="component">
  <fun-spinner [status]="status"></fun-spinner>
  <div *ngIf="status===null">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xxl-6">
        <div class="card card-primary" style="margin: 4px;">
          <div class="card-header min-padding"><b>Commit History</b></div>
          <div class="card-body min-padding">
            <div class="min-padding">
              <a [routerLink]="" (click)="showTotalFilesCHanged()">All files that changed</a><br><br>
              <p class="no-margin"><b>Git info for first degrade:</b>
                <span>Sha:</span><span style="color: red"> {{ faultyCommit }}</span><br>
                <span>
                  Message:
                </span>
                <span style="color: red">
                {{ faultyMessage }}</span>
              </p><br>
              <p class="no-margin"><b>Git info before the first degrade:</b>
                <span>
                  Sha:</span> <span style="color: green"> {{ successCommit }}</span><br>
                <span>
                  Message:
                </span>
                <span style="color: green">
                {{ successMessage }}</span>
              </p><br>
              <table class="table table-bordered">
                <tr>
                  <th class="align msg-width">
                    <b>FunOS Git Commit Message</b>
                  </th>
                  <th class="align fc-width">
                    Files Changed
                  </th>
                  <th class="align committer-width">
                    Committer
                  </th>
                  <th class="align">
                    <b>Committed Date Time</b>
                  </th>
                </tr>
                <tr class="no-margin" *ngFor="let commit of commits">
                  <td class="table-padding">
                    <span *ngIf="commit.hexsha==faultyCommit" class="text-color-red">{{ commit.message }}</span>
                    <span *ngIf="commit.hexsha==successCommit" class="text-color-green">{{ commit.message }}</span>
                    <span *ngIf="commit.hexsha!=faultyCommit && commit.hexsha!=successCommit">{{ commit.message }}</span>
                  </td>
                  <td class="table-padding align">
                    <a [routerLink]="" (click)="showFilesChanged(commit)">{{ commit["changed_files"].length > 0 ? commit["changed_files"].length: 'NA' }}</a>
                  </td>
                  <td class="table-padding align">
                    {{ commit.author }}
                  </td>
                  <td class="table-padding align">
                    {{ commit.date }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showChanged" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xxl-6">
        <div class="card card-primary" style="margin: 4px;">
          <div class="card-header min-padding"><b>Files Changed:</b></div>
          <div class="card-body min-padding">
            <div class="min-padding">
              <p *ngIf="!totalShow"><b>Git Commit:</b> {{ gitCommit }}<br>
              <b>User:</b> {{ gitUser }}</p>
              <p class="no-margin" *ngFor="let fileNames of changedFiles">
                {{ fileNames }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
