<div class="component">

  <div class="fun-panel">
    <div class="fun-panel-header">Filters</div>
    <div class="fun-panel-body">
      <table>
        <tr>
          <td class="fun-attribute-label">By categories:</td>
          <td class="fun-attribute" style="width: 200px">
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="availableCategories" [settings]="dropDownSettings"
                                     [(ngModel)]="selectedCategories"
                                     (onSelect)="onChangeSelectedCategories()"
                                     (onDeSelect)="onChangeSelectedCategories()"
                                     (onSelectAll)="onChangeSelectedCategories()"
                                     (onDeSelectAll)="onChangeSelectedCategories()">
            </ng-multiselect-dropdown>
          </td>
        </tr>
        <tr>
          <td class="fun-attribute-label">By name:</td>
          <td><app-search-bar [placeHolder]="'name'" (textChanged)="onSearchText($event)"></app-search-bar></td>

        </tr>
      </table>
    </div>
  </div>


  <button *ngIf="mode === Mode.DEFAULT" class="fun-button-add" (click)="onAddSuiteClick()">Add a suite</button>
  <div class="fun-flex-container">
    <!-- pager -->
    <div id="page-div" *ngIf="pager.pages && pager.pages.length">
      <span *ngIf="pager.currentPage > 1" [ngClass]="{'fun-disabled': pager.currentPage === 1}">
      <a [routerLink]="" (click)="setPage(1)">First </a>
      </span>
      <span *ngIf="pager.currentPage > 1" [ngClass]="{'fun-disabled': pager.currentPage === 1}">
      <a [routerLink]="" (click)="setPage(pager.currentPage - 1)">Previous </a>
      </span>
      <ng-container *ngFor="let page of pager.pages">
        <span class="pseudo-anchor" (click)="setPage(page)"
              [ngClass]="{'fun-pager-active':pager.currentPage === page}">{{ page }}</span>&nbsp;
      </ng-container>
      <span *ngIf="pager.currentPage < pager.totalPages"
            [ngClass]="{'fun-disabled': pager.currentPage === pager.totalPages}">
      <a [routerLink]="" (click)="setPage(pager.currentPage + 1)">Next </a>
      </span>
      <span *ngIf="pager.currentPage < pager.totalPages"
            [ngClass]="{'fun-disabled': pager.currentPage === pager.totalPages}">
      <a [routerLink]="" (click)="setPage(pager.totalPages)">Last </a>
      </span>
       <span class="fun-action-link" (click)="showAllSuitesClick()">Show all suites</span>
    </div>
  </div>

  <fun-spinner [status]="status"></fun-spinner>
  <table class="fun-table">
    <tr>
      <td class="fun-table-header" *ngIf="mode !== Mode.DEFAULT"></td>
      <td class="fun-table-header">ID</td>
      <td class="fun-table-header">Name</td>
      <td class="fun-table-header">Description</td>
      <td class="fun-table-header">Categories</td>
      <td class="fun-table-header" *ngIf="mode === Mode.DEFAULT"></td>
      <td *ngIf="showScriptPath" class="fun-table-header">Script path</td>
    </tr>
    <tr *ngFor="let suite of suites; let suiteIndex=index">
      <td *ngIf="multiSelect"><input type="checkbox" [checked]="suite.selected" [(ngModel)]="suite.selected"/></td>
      <td>{{ suite.id }}</td>
      <td>
        <a [routerLink]="'/regression/suite_editor/' + suite.id">{{ suite.name }}</a>
        <label class="badge badge-warning" style="cursor: pointer; float: right" (click)="cloneSuite(suite.id)"><i
          class="fa fa-copy"></i>
        </label>
      </td>
      <td>
        <app-textarea-input [hoverHide]="mode !== Mode.DEFAULT" [initialValue]="suite?.short_description"
                            [editable]="mode === Mode.DEFAULT"
                            (valueChanged)="onShortDescriptionChangedEvent($event, suite)"
                            [numRows]="4"></app-textarea-input>
      </td>
      <td>
        <div style="display: flex">
          <ng-container *ngIf="!multiSelect">
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="availableCategories" [settings]="dropDownSettings"
                                     [(ngModel)]="suite.categories"
                                     (onSelect)="suite.dirty = true"
                                     (onDeSelect)="suite.dirty = true"
                                     (onSelectAll)="suite.dirty = true"
                                     (onDeSelectAll)="suite.dirty = true">
            </ng-multiselect-dropdown>
          </ng-container>
          <ng-container *ngIf="multiSelect">
            {{ suite.categories }}
          </ng-container>

          <div style="padding: 10px">
            <ng-container *ngIf="suite.dirty">
              <span><i class="fa fa-check fa-fw tick-color" (click)="onSubmitCategories(suite)"></i></span>
              <span><i class="fa fa-times fa-fw close-color" (click)="onDismissCategories(suite)"></i></span>
            </ng-container>
          </div>

        </div>

      </td>
      <td *ngIf="mode === Mode.DEFAULT">
        <i (click)="onDeleteSuite(suite)" class="fa fa-trash-o" style="font-size:20px; color: red"></i>
      </td>
      <td *ngIf="showScriptPath">
        <ul *ngFor="let entry of suite.entries"><li>{{ entry.script_path }}</li></ul>
      </td>
    </tr>
  </table>

  <ng-container *ngIf="multiSelect" >
    <span class="fun-cancel-link" (click)="onCancelClick()">Cancel</span>
    <button class="fun-button-add" (click)="onSubmitClick()">Add</button>
  </ng-container>


</div>
