<div class="component">
  <div class="card">
    <div class="card-header">
      Git
    </div>
    <div class="card-body">
      <button *ngIf="!gitPullStatus" class="button btn-primary" (click)="gitPull()">Git pull</button>&nbsp; <fun-spinner [status]="gitPullStatus"></fun-spinner>
      <br>

      <ng-container *ngIf="gitPullLog">
        <b>Git pull log:</b>
        <pre>
          {{ gitPullLog }}
        </pre>
      </ng-container>
      <b>Logs (last 10):</b>
      <pre>{{ gitLogs }}</pre>
    </div>

  </div>

  <div>
    <div>Scheduler state: {{ info?.state }}</div>
    <div>HB: {{ info?.main_loop_heartbeat }}</div>

    <button *ngIf="info.state == stateTypes.SCHEDULER_STATE_RUNNING" (click)="pause()">Pause</button>
    <button *ngIf="info.state == stateTypes.SCHEDULER_STATE_PAUSED" (click)="unpause()">Unpause</button>
  </div>



</div>
