<!--shows the charts for a particular workspace-->
<div *ngIf="showWorkspace" class="card card-primary">
  <div class="card-header">
    <h5 style="text-align: center; margin: 0"><a [routerLink]=""
                                                 style="font-size:
      large;
        float: left" (click)="goBack()">
      <!--<i class="fa fa-hand-o-left" style="color: black"></i>&nbsp;-->
      Back</a>
      <span>{{ workspace.workspace_name }}</span></h5>
    <a *ngIf="!showGrids" [routerLink]="" (click)="showGrids = true"><i class="fa fa-plus-circle"
                                                                        style="color: black"></i> Show
      charts</a>
    <a *ngIf="showGrids" [routerLink]="" (click)="showGrids = false"><i class="fa fa-minus-circle"
                                                                        style="color: black"></i> Hide charts</a> |
    <button
      *ngIf="workspace.interested_metrics.length > 0" class="btn btn-sm btn-outline-dark"
      (click)="generateReport()">Generate
      report
    </button>
  </div>
  <div class="card-body flex-container">
    <div class="card" style="flex: 1 1 50%; padding: 10px;">
      <table style="width: 100%">
        <tr style="vertical-align: top">
          <th style="width: 30%">
            Chart name
          </th>
          <th style="width: 10%">
            Track
          </th>
          <th style="width: 10%">
            Subscribe to alerts
          </th>
          <th style="width: 10%">
            Yesterday's score
          </th>
          <th style="width: 10%">
            Today's score
          </th>
          <th style="width: 30%">
            Lineage
          </th>
        </tr>
        <tr *ngFor="let metric of workspace.interested_metrics">
          <td>
            <a [ngClass]="{highlight:metric.selected}" [routerLink]="" (click)="openChartTable(metric)">{{
              metric['chart_name'] }}</a>
          </td>
          <td>
            <app-toggle-button [checked]="metric['track']" [disabled]="true"
            ></app-toggle-button>
          </td>
          <td>
            <app-toggle-button [checked]="metric['subscribe']" [disabled]="true"
            ></app-toggle-button>
          </td>
          <td>
            {{ metric["penultimate_good_score"] }}
          </td>
          <td>
            {{ metric["last_good_score"] }}
          </td>
          <td>
            {{ metric["lineage"] }}
          </td>
        </tr>
      </table>
    </div>

    <fun-spinner [status]="status"></fun-spinner>
    <div *ngIf="showChartTable" class="card" style="flex: 1 1 50%; vertical-align: top; padding: 10px;">
      <span><b>Chart name: </b>{{ currentChart.chart_name }}
      <a style="float: right" [routerLink]="" (click)="closeChartTable()">Close</a></span>
      <table style="width: 100%">
        <tr>
          <th style="width: 30%">
            Name
          </th>
          <th style="width: 20%">
            Yesterday
          </th>
          <th style="width: 20%">
            Today
          </th>
          <th style="width: 10%">
            Percentage
          </th>
          <th style="width: 10%">
            Unit
          </th>
        </tr>
        <tr *ngFor="let oneData of currentChart.data">
          <td>
            {{ oneData.name }}
          </td>
          <td>
            {{ oneData.yesterday }}
          </td>
          <td>
            {{ oneData.today }}
          </td>
          <td *ngIf="oneData.percentage"
              [ngClass]="{'text-red': oneData.percentage.includes('-'), 'text-green': oneData.percentage.includes('+')}">
            {{ oneData.percentage }}
          </td>
          <td>
            {{ oneData.unit }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <ng-container *ngIf="reportGenerated">
    <div class="card" style="margin: 10px; padding: 5px;">
      <b>Subject: </b><input style="max-width: 50%" type="text" [(ngModel)]="subject"/><br>
      <div *ngFor="let row of workspace.interested_metrics">
        {{ row["chart_name"] }} - Lineage: {{ row["lineage"] }}<br>
        Link to chart: <a href="{{ atomicUrl + row['metric_id'] }}" target="_blank">Link</a><br>
        Comments: <textarea [(ngModel)]="row['comments']" style="vertical-align: middle; max-width: 50%"></textarea>
        <table class="table table-bordered" style="max-width: 50%">
          <tr>
            <th style="width: 10%">
              Name
            </th>
            <th style="width: 10%">
              Yesterday
            </th>
            <th style="width: 10%">
              Today
            </th>
            <th style="width: 10%">
              Percentage
            </th>
            <th style="width: 10%">
              Unit
            </th>
          </tr>
          <tr *ngFor="let dataSet of row['report']">
            <td>
              {{ dataSet.name }}
            </td>
            <td>
              {{ dataSet.yesterday }}
            </td>
            <td>
              {{ dataSet.today }}
            </td>
            <td>
              {{ dataSet.percentage }}
            </td>
            <td>
              {{ dataSet.unit }}
            </td>
          </tr>
        </table>
      </div>
      <span>
      <a [routerLink]="" (click)="reportGenerated = false">Cancel</a>
      <button
        class="btn btn-sm btn-success" style="margin: 5px;"
        (click)="sendReports()">Send
    </button>
    </span>
    </div>
  </ng-container>
  <div *ngIf="showGrids" class="flex-container">
    <ng-container *ngFor="let row of workspace.interested_metrics">
      <div style="flex: 0 0 45%; padding-bottom: 10px;">
        <table align="center">
          <tr>
            <td>
              <b>Lineage:</b>
            </td>
            <td>
              {{ row['lineage'] }}
            </td>
          </tr>
          <tr>
            <td>
              <b>Score:</b>
            </td>
            <td>
              {{ row['last_good_score'] }}
            </td>
          </tr>
        </table>
        <fun-metric-chart [id]="row['metric_id']" [minimal]="'true'" [buildInfo]="buildInfo"></fun-metric-chart>
      </div>
    </ng-container>
    <div class="closed-section"></div>
  </div>
</div>
