<!--shows the data for a particular workspace-->
<div style="padding: 20px"><span class="pseudo-anchor" (click)="backToWorkspaces()"><< Back to workspaces</span></div>
<div *ngIf="showWorkspace" class="card card-primary">
  <div class="card-header">
    <h5 class="card-title" style="margin: 0;">{{ workspace.workspace_name }}</h5>
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li *ngIf="workspace.interested_metrics.length > 0" class="nav-item">
        <span class="nav-link pseudo-anchor"
              role="tab" *ngIf="!showGrids"
              (click)="showCharts()">Show charts</span>
        <span class="nav-link active pseudo-anchor" role="tab"
              *ngIf="showGrids"
              (click)="showGrids = false">Hide charts</span>
      </li>
      <li *ngIf="workspace.interested_metrics.length > 0" class="nav-item">
        <span class="nav-link pseudo-anchor"
                    role="tab" *ngIf="!reportGenerated"
                    (click)="generateReport()">Show report
        </span>
        <span class="nav-link active pseudo-anchor" role="tab"
              *ngIf="reportGenerated"
              (click)="reportGenerated = false">Hide report
        </span>
      </li>
      <li *ngIf="workspaceMetrics.length > 0" class="nav-item">
        <span class="nav-link pseudo-anchor"
                    role="tab" *ngIf="!showDag"
                    (click)="viewDag()">View unattached DAG
        </span>
        <span class="nav-link active pseudo-anchor" role="tab"
              *ngIf="showDag"
              (click)="showDag = false">Hide unattached DAG
        </span>
      </li>
    </ul>
  </div>
  <fun-spinner [status]="status"></fun-spinner>
  <div *ngIf="status === null">
    <div *ngIf="!reportGenerated && !showGrids && !showDag && workspace.interested_metrics.length > 0" class="card-body">
    <app-performance [selectMode]="selectMode.ShowViewWorkspace" [metricIds]="interestedMetrics"></app-performance>
  </div>

  <!--showing reports in the workspace-->
  <ng-container class="card-body tab-pane" role="tabpanel" *ngIf="reportGenerated">
    <performance-show-report [workspace]="workspace" [email]="email" [subject]="subject"
                             (reportGenerated)="reportGenerated = false"></performance-show-report>
  </ng-container>

  <!--showing charts in the workspace-->
  <ng-container class="card-body tab-pane" role="tabpanel" *ngIf="showGrids">
    <performance-show-charts [workspace]="workspace" [buildInfo]="buildInfo"></performance-show-charts>
  </ng-container>

  <!--showing dag in the view dag of workspace-->
  <ng-container class="card-body tab-pane" role="tabpanel" *ngIf="showDag && workspaceMetrics.length > 0">
   <app-performance [selectMode]="selectMode.ShowAttachDag" [metricIds]="workspaceMetrics"></app-performance>
  </ng-container>
  </div>
</div>
