<div class="component">
  <div id="all-cards">

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Release progress
          </div>
          <div class="card-body">
            <div>
              <a href="http://qa-ubuntu-02/testrail/index.php?/runs/view/25&group_by=cases:section_id&group_order=asc">Inspur</a>
            </div>
            <div>
              <a
                href="http://qa-ubuntu-02/testrail/index.php?/suites/view/27&group_by=cases:section_id&group_order=asc&group_id=280">Regex</a>
            </div>
            <span>(Username: regression@fungible.com, Password: fun123)</span>

          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Performance
          </div>
          <div class="card-body">
            <app-performance-summary-widget>

            </app-performance-summary-widget>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <p>Regression</p>
          </div>
          <div class="card-body">
            <app-regression-summary-widget>

            </app-regression-summary-widget>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--app-site-construction></app-site-construction-->
