
.dashboard-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  flex-basis: 500px;
  padding: 10px
}

.card-body {
}

.dashboard-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.fun-card-container {
  padding: 10px;
  flex-basis: 240px;
}
