<div class="component">
  <div id="all-cards">
    <div class="card">
      <div class="card-header">
        Release progress
      </div>
      <div class="card-body">
        <p>Username: public</p>
        <p>Password: fun123</p>
        <a href="http://server17/testrail/index.php?/runs/view/20&group_by=cases:section_id&group_order=asc">Inspur</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Performance
      </div>
      <div class="card-body">
        <a href="/performance">Performance</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Regression
      </div>
      <div class="card-body">
        <a href="/regression/summary">Summary page</a>
      </div>
    </div>

  </div>
</div>
<!--app-site-construction></app-site-construction-->
