<div class="component">
  <div id="all-cards">
    <div class="card">
      <div class="card-header">
        Release progress
      </div>
      <div class="card-body">
        <div>
          <a href="http://qa-ubuntu-02/testrail/index.php?/runs/view/20&group_by=tests:status_id&group_order=asc">Inspur</a>
        </div>
        <div>
          <a href="http://qa-ubuntu-02/testrail/index.php?/runs/view/22&group_by=cases:section_id&group_order=asc">Regex</a>
        </div>
        <span>(Username: regression@fungible.com, Password: fun123)</span>

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Performance
      </div>
      <div class="card-body">
        <a href="/performance">Performance</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Regression
      </div>
      <div class="card-body">
        <a href="/regression/summary">Summary page</a>
      </div>
    </div>

  </div>
</div>
<!--app-site-construction></app-site-construction-->
