cffi==1.10.0
Django==1.11.3
jira==1.0.10
pexpect==4.2.1
paramiko==2.2.1
paramiko-expect==0.2.8
docker==2.7.0
netaddr==0.7.19
psutil==5.3.1
rq==0.8.2
zmq==0.0.0
pathos==0.2.1
python-dateutil==2.6.1
pytz==2013.7
xlsxwriter==1.0.2
pyOpenSSL==17.5.0
commentjson==0.6
django-rest-framework==0.1.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
apscheduler==3.5.3
pyshark==0.3.8
prettytable==0.7.2
gitpython==2.1.11
pyyaml==3.12
python-jenkins==1.4.0
django-debug-toolbar==1.11
jinja2==2.10
pymongo==3.9.0
iso8601==0.1.12
pika== 1.1.0
dlipower==1.0.176
html2text==2019.8.11