<a href="/regression/release_catalogs">Go to release catalogs</a>
<div class="fun-div">
  <ng-container *ngFor="let releaseTrain of byReleaseTrain| keyvalue">
    <h5 style="display: inline-block">{{ releaseTrain.key }}</h5>
    <app-section-horizontal-line></app-section-horizontal-line>
    <ng-container *ngFor="let byDescription of releaseTrain.value| keyvalue">
      <h6>{{ byDescription.key }}</h6>
      <span>Recurring: <app-toggle-button [checked]="byDescription.value?.master_execution.recurring" (changed)="onToggleRecurring($event, byDescription.value?.master_execution)"></app-toggle-button>
      </span>
      <table class="fun-table-borderless">
        <tr>
          <td class="fun-table-borderless-header"></td>
          <td class="fun-table-borderless-header">State</td>
          <td class="fun-table-borderless-header">Result</td>
          <td class="fun-table-borderless-header">Release-train</td>
          <td class="fun-table-borderless-header">Build</td>
          <td class="fun-table-borderless-header">Owner</td>
          <td class="fun-table-borderless-header">Started-date</td>
          <td class="fun-table-borderless-header">Completion-date</td>
        </tr>
      <ng-container *ngFor="let execution of byDescription.value.executions; let index = index">
          <ng-container *ngIf="!execution.deleted">
            <tr>
              <td>
                <a href="/regression/release_detail/{{ execution.id }}">{{ index }}</a>
              </td>
              <td>
                <app-smart-label [value]="jobStatusType.descriptionMap[execution.state]"></app-smart-label>
              </td>
              <td>
                <app-smart-label [value]="execution.result"></app-smart-label>
              </td>
              <td>
                <small>{{ execution.release_train }}</small>
              </td>
              <td>
                <ng-container *ngIf="(execution.state <= jobStatusType.COMPLETED) || (execution.state === jobStatusType.IN_PROGRESS)">
                  <small>{{ execution?.build_number }}</small>
                </ng-container>

              </td>
              <td>
                <small>{{ execution.owner }}</small>
              </td>
              <td>
                {{ execution.started_date_string }}
              </td>
              <td *ngIf="execution.state <= jobStatusType.COMPLETED">
                {{ execution.completion_date_string }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </ng-container>
    <app-section-horizontal-line></app-section-horizontal-line>
  </ng-container>

</div>
