<a href="/regression/release_catalogs">Go to release catalogs</a>
<div class="fun-div">
  <ng-container *ngFor="let releaseTrain of byReleaseTrain| keyvalue">
    <h5 style="display: inline-block">{{ releaseTrain.key }}</h5>
    <app-section-horizontal-line></app-section-horizontal-line>
    <ng-container *ngFor="let byDescription of releaseTrain.value| keyvalue">
      <h6>{{ byDescription.key }}</h6>
      <span>Recurring: <app-toggle-button [checked]="byDescription.value?.master_execution.recurring" (changed)="onToggleRecurring($event, byDescription.value?.master_execution)"></app-toggle-button>
      </span>
      <table>
      <ng-container *ngFor="let execution of byDescription.value.executions; let index = index">
          <ng-container *ngIf="!execution.deleted">
            <tr>
              <td>
                <a href="/regression/release_detail/{{ execution.id }}">{{ index }}</a>
              </td>
              <td>
                State: <app-smart-label [value]="jobStatusType.descriptionMap[execution.state]"></app-smart-label>
              </td>
              <td>
                Result: <app-smart-label [value]="execution.result"></app-smart-label>
              </td>
              <td>
                <small>Release: {{ execution.release_train }}</small>
              </td>
              <td>
                <small>Owner: {{ execution.owner }}</small>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </ng-container>
    <app-section-horizontal-line></app-section-horizontal-line>
  </ng-container>

</div>
