<div [ngClass]="{'component': !embed}">
  <fun-spinner [status]="refreshing"></fun-spinner>
  <div *ngIf="!refreshing" class="flex-container">
    <div class="card">
      <div class="card-header">
        Test-beds
      </div>
      <div class="card-body">
        <table class="test-bed-table table-nonfluid">
          <tr>
            <th class="text-center test-bed-header" rowspan="2">Name</th>
            <th class="text-center test-bed-header" rowspan="2">Description</th>
            <th class="text-center test-bed-header" rowspan="2">Health</th>
            <th class="text-center test-bed-header" colspan="2"><i class="fa fa-cogs" style="font-size:14px"></i>&nbsp;Regression
              lock
            </th>
            <th class="text-center test-bed-header" colspan="3"><i class="fa fa-wrench" style="font-size: 14px"></i>&nbsp;Manual
              lock
            </th>
          </tr>
          <tr>
            <th class="text-center test-bed-sub-header">Status</th>
            <th class="text-center test-bed-sub-header">Locked by</th>
            <th class="text-center test-bed-sub-header">Status</th>
            <th class="text-center test-bed-sub-header">Expiration time</th>
            <th class="text-center test-bed-sub-header">Locked by</th>
          </tr>

          <tr *ngFor="let testBed of testBeds">
            <td>
              <div>
                <!--div style="width: 50%; align-self: center;"-->
                <div>
                  <a href="/regression/test_bed?test_bed_name={{ testBed.name }}">{{ testBed.name }}</a>
                </div>
                <div>
                  <a class="pseudo-anchor fun-button-secondary" style="font-size: smaller"
                     href="/regression?test_bed_type={{ testBed.name }}">Show
                    jobs</a>
                </div>
                <!--div style="width: 50%">
                  Enabled: <app-toggle-button [checked]="!testBed.disabled" (changed)="onToggleDisabled($event, testBed)"></app-toggle-button>
                </div-->
              </div>
            </td>
            <td class="hover-cell"><span [innerHtml]="testBed.description  | safeHtml"></span>&nbsp;&nbsp;<i
              class="fa fa-pencil hover-icon" style="font-size:14px; float: right"
              (click)="onEditDescription(testBed)"></i>&nbsp;
              <div *ngIf="testBed.editingDescription">
                <br>
                <textarea rows="3" [(ngModel)]="testBed.description" style="min-width: 100%;"></textarea>
                <div style="display: flex; justify-content: flex-start; align-items: center">
                  <span><i class="fa fa-check fa-fw tick-color" (click)="onSubmitDescription(testBed)"></i></span>
                  <span><i class="fa fa-times fa-fw close-color" (click)="onCancelDescription(testBed)"></i></span>
                </div>

              </div>
            </td>
            <td>
              <div style="display: flex; flex-direction: row">
                <div style="width: 50%;align-self: center;">
                  <ng-container [ngSwitch]="testBed.health_status">
                    <ng-container *ngSwitchCase="assetHealthStates.DISABLED"><span class="health-icon" tooltip
                                                                              placement="left"
                        [tooltipContentString]="'Disabled'">&#9855;</span></ng-container>
                    <ng-container *ngSwitchCase="assetHealthStates.UNHEALTHY"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Unhealthy'">&#9760;</span></ng-container>
                    <ng-container *ngSwitchCase="assetHealthStates.DEGRADING"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Degrading'">&#9928;</span></ng-container>
                    <ng-container *ngSwitchCase="assetHealthStates.HEALTHY"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Healthy'">&#9728;</span></ng-container>
                  </ng-container>
                </div>

                <div>
                  <app-toggle-button style="width: 50%" tooltip placement="right"
                        [tooltipContentString]="'Enable health-check'" [checked]="testBed.health_check_enabled" (changed)="onToggleHealthCheckEnabled($event, testBed)"></app-toggle-button>
                </div>
              </div>
              <div *ngIf="testBed.health_status !== assetHealthStates.HEALTHY">
                <small>{{ testBed.health_check_message }}</small>
              </div>


            </td>
            <td style="padding: 10px">
              <span class="badge badge-danger" *ngIf="automationStatus[testBed.name]?.numExecutions > 0; else freeAutomationStatus">In use</span>
              <ng-template #freeAutomationStatus>
                <span class="badge badge-success">Free</span>
              </ng-template>
            </td>
            <td>
              <a *ngIf="automationStatus[testBed.name].numExecutions > 0" target="_blank"
                 href="/regression/suite_detail/{{ automationStatus[testBed.name].executionId }}">Suite:
                {{ automationStatus[testBed.name].executionId }}</a>
              <ng-container *ngIf="automationStatus[testBed.name].assetInUse">
                Asset in use: {{ automationStatus[testBed.name].assetInUse }}
              </ng-container>
            </td>
            <td style="padding: 10px">
                  <span class="badge badge-danger"
                        *ngIf="manualStatus[testBed.name].manualLock || assetLevelManualLockStatus[testBed.name]?.asset_level_manual_locked; else freeManualStatus">In use</span>

              <ng-container *ngIf="manualStatus[testBed.name].manualLock">
                <span class="pseudo-anchor" (click)="currentTestBed = testBed; onUnLock(testBed)"> Un-lock</span>
              </ng-container>

              <ng-template #freeManualStatus>
                <span class="badge badge-success">Free</span>
                <ng-container *ngIf="!manualStatus[testBed.name].manualLock">&nbsp;
                  <span class="pseudo-anchor" (click)="currentTestBed = testBed; onLock(lockModalContent, testBed)">Lock</span>
                  &nbsp;
                </ng-container>
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="manualStatus[testBed.name].manualLock">

                &nbsp;
                <span>{{ getPrettyTime(manualStatus[testBed.name].manualLockExpiryTime) }}</span>&nbsp;
                <ng-container *ngIf="isLockExpired(testBed)">

                  <span class="badge badge-danger" *ngIf="manualStatus[testBed.name].manualLock"> Expired</span>
                  &nbsp;
                  <span class="pseudo-anchor fun-button-secondary"
                        [ngClass]="{'fun-button-secondary-active' : testBed.extendClick}"
                        (click)="testBed.extendClick = true; currentTestBed = testBed; onExtendTime(extendSlotModalContent, testBed)"> Extend slot </span>&nbsp;

                </ng-container>

                <span class="pseudo-anchor fun-button-secondary"
                      [ngClass]="{'fun-button-secondary-active' : testBed.addClick}"
                      (click)="testBed.addClick = true; currentTestBed=testBed; onAddTime(addTimeModalContent, testBed)">Add time</span>

              </ng-container>

              <ng-template #lockModalContent let-modal>
                <div class="modal-header">
                  {{lockPanelHeader}}
                </div>
                <div class="modal-body">
                <table style="float:left">
                  <tr>
                    <td colspan="2">
                      <table>
                        <tr>
                          <td>HH:MM (Duration from now)</td>
                          <td>
                            <ngb-timepicker style="display: inline-flex"
                                            [(ngModel)]="schedulingTime"></ngb-timepicker>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                   <tr>
                     <label>Note:&nbsp;</label>
                      <textarea rows="2" [(ngModel)]="currentTestBed.note"
                                    style="min-width: 100%;"></textarea>
                  </tr>
                  <tr>
                    <span class="fun-cancel-link" (click)="modal.dismiss(); onCancelLockPanel(currentTestBed)">Cancel</span>
                    <button class="fun-button-submit" (click)="modal.close(true); onLockSubmit()"> Submit</button>
                  </tr>
                </table>
                  </div>
              </ng-template>

              <ng-template #extendSlotModalContent let-modal>
                <div class="modal-header">
                  {{lockPanelHeader}}
                </div>
                <div class="modal-body">
                  <table>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td>HH:MM (Duration from now)</td>
                            <td>
                              <ngb-timepicker style="display: inline-flex" [(ngModel)]="schedulingTime"></ngb-timepicker>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <span class="fun-cancel-link" (click)="modal.dismiss(); onCancelLockPanel(currentTestBed)">Cancel</span>
                      <button class="fun-button-submit" (click)="modal.close(true); onExtendTimeSubmit(currentTestBed)"> Submit</button>
                    </tr>
                  </table>

                </div>
              </ng-template>

              <ng-template #addTimeModalContent let-modal>
                <div class="modal-header">
                  {{lockPanelHeader}}
                  </div>
                  <div class="modal-body">
                    <label>Hours&nbsp;</label>
                    <input type="number" [(ngModel)]="addedTime">
                      <div style="padding: 5px">
                      <span class="fun-cancel-link" (click)="modal.dismiss(); onCancelLockPanel(currentTestBed)">Cancel</span>
                      <button class="fun-button-submit" (click)="modal.close(true); onAddTimeSubmit(currentTestBed)">Submit</button>
                    </div>
                  </div>
              </ng-template>
            </td>
            <td class="hover-cell">
              <ng-container *ngIf="manualStatus[testBed.name].manualLock">
                {{ userMap[manualStatus[testBed.name].manualLockSubmitter]?.first_name }} {{ userMap[manualStatus[testBed.name].manualLockSubmitter]?.last_name.charAt(0)}}
<!--                <i class="fa fa-pencil hover-icon" style="font-size:14px; float: right" (click)="onEditNote(testBed)"></i>&nbsp;-->
                 <span class="pseudo-anchor fun-button-secondary" [ngClass]="{'fun-button-secondary-active' : testBed.editingNote}" (click)="testBed.editingNote = true; onEditNote(testBed)"> Edit note</span>&nbsp;

                <div *ngIf="testBed.note" style="text-align: center">Note:&nbsp;<span [innerHtml]="testBed.note | safeHtml"></span></div>
                <div *ngIf="testBed.editingNote">
                  <br>
                  <textarea rows="3" [(ngModel)]="testBed.note" style="min-width: 100%;"></textarea>
                  <div style="display: flex; justify-content: flex-start; align-items: center">
                    <span><i class="fa fa-check fa-fw tick-color" (click)="onSubmitNote(testBed)"></i></span>
                    <span><i class="fa fa-times fa-fw close-color" (click)="onCancelNote(testBed)"></i></span>
                  </div>
              </div>
              </ng-container>
              <ng-container *ngIf="assetLevelManualLockStatus[testBed.name]?.asset_level_manual_locked">
                {{ assetLevelManualLockStatus[testBed.name].error_message }}
              </ng-container>
            </td>
          </tr>

        </table>

      </div>
    </div>
  </div>

</div>

<div class="component flex-container">
  <ng-container *ngIf="!embed && !refreshing">
    <div class="card">
      <div class="card-header">
        Assets
      </div>
      <div class="card-body">
        <table class="table table-bordered table-nonfluid">
          <tr>
            <th>Name</th>
            <th>Belongs to</th>
            <th>Type</th>
            <th>Health</th>
            <th>Manual-lock</th>
            <th>Suites</th>
          </tr>
          <tr *ngFor="let asset of assets">
            <td>
              <div style="display: flex">
                <div style="width: 50%">
                  {{ asset.name }}
                </div>
                <div style="width: 50%">
                  Enabled: <app-toggle-button [checked]="!asset.disabled" (changed)="onToggleAssetDisabled($event, asset)"></app-toggle-button>
                </div>
              </div>
            </td>
            <td>
              <ng-container *ngFor="let testBed of asset.test_beds">
                {{ testBed }},&nbsp;
              </ng-container>
            </td>
            <td>{{ asset.type }}</td>
            <td>
              <div style="display: flex; flex-direction: row">
                <div style="width: 50%; align-self: center;">
                  <ng-container [ngSwitch]="asset.health_status">
                    <ng-container *ngSwitchCase="assetHealthStates.DISABLED"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Disabled'">&#9855;</span></ng-container>
                    <ng-container *ngSwitchCase="assetHealthStates.UNHEALTHY"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Unhealthy'">&#9760;</span></ng-container>
                    <ng-container *ngSwitchCase="assetHealthStates.DEGRADING"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Degrading'">&#9928;</span></ng-container>
                    <ng-container *ngSwitchCase="assetHealthStates.HEALTHY"><span class="health-icon" tooltip placement="left"
                        [tooltipContentString]="'Healthy'">&#9728;</span></ng-container>
                  </ng-container>
                </div>
                <div>
                  <app-toggle-button style="width: 50%" tooltip placement="right"
                        [tooltipContentString]="'Enable health-check'" [checked]="asset.health_check_enabled" (changed)="onToggleAssetHealthCheckEnabled($event, asset)"></app-toggle-button>
                </div>
              </div>
              <div *ngIf="asset.health_status !== assetHealthStates.HEALTHY">
                <small>{{ asset.health_check_message }}
                </small>
              </div>


            </td>
            <td>{{ asset.manual_lock_user }}
              <ng-container *ngIf="asset.applyingManualLock && !asset.manual_lock_user">
                Applying manual-lock
              </ng-container>

              <span *ngIf="asset.manual_lock_user" class="pseudo-anchor"
                    (click)="unlockAsset(asset)"> Un-lock</span>
              <span *ngIf="!asset.applyingManualLock && !asset.manual_lock_user" class="pseudo-anchor"
                    (click)="lockAssetModalClick(assetLockModalContent, asset)">Lock</span>
              &nbsp;
              <span *ngIf="asset.manual_lock_user">{{ getPrettyTime(asset?.manual_lock_expiry_time) }}</span>
              &nbsp;
              <span *ngIf="isAssetLockExpired(asset)" class="badge badge-danger"> Expired</span>
              &nbsp;
              <span *ngIf="asset.manual_lock_user" class="pseudo-anchor fun-button-secondary"
                    [ngClass]="{'fun-button-secondary-active' : asset.manual_lock_user}"
                    (click)="onAssetAddTimeModalClick(assetAddTimeModalContent, asset)">Add time</span>

              <ng-template #assetLockModalContent let-modal>
                  <div class="modal-header">
                    Lock asset: {{ assetLockInfo.asset.name }}
                  </div>
                  <div class="modal-body">
                    <table style="float:left">
                      <tr>
                        <td colspan="2">
                          <table>
                            <tr>
                              <td>HH:MM (Duration from now)</td>
                              <td>
                                <ngb-timepicker style="display: inline-flex"
                                                [(ngModel)]="assetLockInfo.schedulingTime"></ngb-timepicker>
                              </td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                      <tr>
                        <span class="fun-cancel-link" (click)="modal.dismiss();">Cancel</span>
                        <button class="fun-button-submit" (click)="modal.close(true); onAssetLockSubmit();"> Submit</button>
                      </tr>
                    </table>
                  </div>
                </ng-template>
              <ng-template #assetAddTimeModalContent let-modal>
                  <div class="modal-header">
                    Add time: {{ assetLockInfo.asset.name }}
                  </div>
                  <div class="modal-body">
                    <label>Hours&nbsp;</label>
                    <input type="number" [(ngModel)]="assetLockInfo.additionalHours">
                      <div style="padding: 5px">
                      <span class="fun-cancel-link" (click)="modal.dismiss();">Cancel</span>
                      <button  [ngClass]="{'fun-disabled': assetLockInfo.additionalHours <= 0}" class="fun-button-submit" (click)="modal.close(true); onAssetAddTimeSubmit()">Submit</button>
                    </div>
                  </div>
              </ng-template>

              <ng-container *ngIf="asset.applyingManualLock">
                <span><i class="fa fa-check fa-fw tick-color" (click)="lockAsset(asset)"></i>
                </span>
                <span><i class="fa fa-times fa-fw close-color"
                         (click)="asset.applyingManualLock = false;"></i>
                </span>
              </ng-container>

            </td>
            <td>
              <ng-container *ngFor="let jobId of asset.job_ids">
                <a href="/regression/suite_detail/{{ jobId }}">{{ jobId }}</a>&nbsp;
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ng-container>

</div>

