<div class="component">
  <div class="card">

    <div class="card-header">
      Testbeds
    </div>
    <div class="card-body">
      <table class="table table-nonfluid">
        <tr>
          <th class="text-center" rowspan="2">Name</th>
          <th rowspan="2">Description</th>
          <th colspan="2">Regression lock</th>
          <th colspan="3">Manual lock</th>
        </tr>
        <tr>
          <th>Status</th>
          <th>Locked by</th>
          <th>Status</th>
          <th>Locked by</th>
          <th>Action</th>
        </tr>

        <tr *ngFor="let testBed of testBeds">
          <td>{{ testBed.name }}</td>
          <td>{{ testBed.description }}</td>
          <ng-container *ngIf="automationStatus[testBed.name]">
            <td>
              <span class="badge badge-danger" *ngIf="automationStatus[testBed.name].numExecutions > 0; else freeAutomationStatus">In use</span>
              <ng-template #freeAutomationStatus>
                <span class="badge badge-success">Free</span>
              </ng-template>
            </td>
            <td>
              <a *ngIf="automationStatus[testBed.name].numExecutions > 0" target="_blank" href="/regression/suite_detail/{{ automationStatus[testBed.name].executionId}}">Suite: {{ automationStatus[testBed.name].executionId }}</a>
            </td>
          </ng-container>
        </tr>

      </table>

    </div>
  </div>

</div>
