table > tbody > tr > th, table > tbody > tr > td {
  /*text-align: left;*/
  padding: 2px;
  margin: 2px;
  vertical-align: middle;
  text-align: center;
}

.test-bed-table tbody tr td:nth-child(1) {
  border-left: black solid 1px;
}

.test-bed-table tbody tr td:nth-child(2) {
  border-right: black solid 1px;
}

.test-bed-table tbody tr td:nth-child(4) {
  border-right: black solid 1px;
}

.test-bed-table tbody tr td:nth-child(7) {
  border-right: black solid 1px;
}

.test-bed-table tr:nth-last-child(1) {
  border-bottom: black solid 1px;
}




.ngb-tp-hour, .ngb-tp-meridian, .ngb-tp-minute, .ngb-tp-second {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
}

.hover-cell .hover-icon {
  visibility: hidden;
}
.hover-cell:hover .hover-icon {
  visibility: visible;
}
