<form *ngIf="triagingType && triageTypes && triagingType != triageTypes.JENKINS_FUN_OS_ON_DEMAND"
      class="form-horizontal"
      [formGroup]="submissionForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="boot_args">BOOTARGS: </label>
    <input style="width: 600px" formControlName="BOOTARGS" id="boot_args"/>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="disable_assertions">DISABLE_ASSERTIONS: </label>
    <input type="checkbox" formControlName="DISABLE_ASSERTIONS" id="disable_assertions"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="max_duration">MAX_DURATION: </label>
    <input style="width: 50px" formControlName="MAX_DURATION" id="max_duration">
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="hw_model">HW_MODEL: </label>
    <input formControlName="HW_MODEL" id="hw_model">
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="skip_dasm_c">SKIP_DASM_C: </label>
    <input type="checkbox" formControlName="SKIP_DASM_C" id="skip_dasm_c"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="funos_makeflags">FUNOS_MAKEFLAGS: </label>
    <input style="width: 500px" formControlName="FUNOS_MAKEFLAGS" id="funos_makeflags"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="pci_mode">PCI_MODE: </label>
    <input style="width: 200px" formControlName="PCI_MODE" id="pci_mode"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="remote_script">REMOTE_SCRIPT: </label>
    <input style="width: 200px" formControlName="REMOTE_SCRIPT" id="remote_script"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="hw_version">HW_VERSION: </label>
    <input style="width: 200px" formControlName="HW_VERSION" id="hw_version"/>
  </div>

</form>

<form *ngIf="triagingType && triageTypes && triagingType == triageTypes.JENKINS_FUN_OS_ON_DEMAND"
      class="form-horizontal"
      [formGroup]="submissionForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="test_script">Test script: </label>
    <input style="width: 600px" formControlName="TEST_SCRIPT" id="test_script"/>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="test_script_loop">Test script loop: </label>
    <input style="width: 600px" formControlName="TEST_SCRIPT_LOOP" id="test_script_loop"/>
  </div>

</form>
