<form class="form-horizontal" [formGroup]="submissionForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="boot_args">BOOTARGS: </label>
    <input style="width: 500px" formControlName="BOOTARGS" id="boot_args"/>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="disable_assertions">DISABLE_ASSERTIONS: </label>
    <input type="checkbox" formControlName="DISABLE_ASSERTIONS" id="disable_assertions"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="max_duration">MAX_DURATION: </label>
    <input formControlName="MAX_DURATION" id="max_duration">
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="skip_dasm_c">SKIP_DASM_C: </label>
    <input type="checkbox" formControlName="SKIP_DASM_C" id="skip_dasm_c"/>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="funos_makeflags">FUNOS_MAKEFLAGS: </label>
    <input style="width: 500px" formControlName="FUNOS_MAKEFLAGS" id="funos_makeflags"/>
  </div>
</form>

