<form *ngIf="triagingType && triageTypes && triagingType != triageTypes.JENKINS_FUN_OS_ON_DEMAND"
      class="form-horizontal"
      [formGroup]="submissionForm">
  <table>
    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="boot_args">BOOTARGS: </label></td>
      <td><input style="width: 600px" formControlName="BOOTARGS" id="boot_args"/></td>
    </tr>
    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="release_build">RELEASE_BUILD: </label></td>
      <td><input type="checkbox" formControlName="RELEASE_BUILD" id="release_build"/></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="max_duration">MAX_DURATION: </label></td>
      <td><input style="width: 50px" formControlName="MAX_DURATION" id="max_duration"></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="hw_model">HW_MODEL: </label></td>
      <td><input formControlName="HW_MODEL" id="hw_model"></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="skip_dasm_c">SKIP_DASM_C: </label></td>
      <td><input type="checkbox" formControlName="SKIP_DASM_C" id="skip_dasm_c"/></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="funos_makeflags">FUNOS_MAKEFLAGS: </label></td>
      <td><input style="width: 500px" formControlName="FUNOS_MAKEFLAGS" id="funos_makeflags"/></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="pci_mode">PCI_MODE: </label></td>
      <td><input style="width: 200px" formControlName="PCI_MODE" id="pci_mode"/></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="remote_script">REMOTE_SCRIPT: </label></td>
      <td><input style="width: 200px" formControlName="REMOTE_SCRIPT" id="remote_script"/></td>
    </tr>

    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="hw_version">HW_VERSION: </label></td>
      <td><input style="width: 200px" formControlName="HW_VERSION" id="hw_version"/></td>
    </tr>
  </table>
</form>

<form *ngIf="triagingType && triageTypes && triagingType == triageTypes.JENKINS_FUN_OS_ON_DEMAND"
      class="form-horizontal"
      [formGroup]="submissionForm">
  <table>
    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="test_script">Test script: </label></td>
      <td><input style="width: 600px" formControlName="TEST_SCRIPT" id="test_script"/></td>
    </tr>
    <tr class="form-group">
      <td><label class="control-label col-sm-2" for="test_script_loop">Test script loop: </label></td>
      <td><input style="width: 600px" formControlName="TEST_SCRIPT_LOOP" id="test_script_loop"/></td>
    </tr>
  </table>
</form>
