
/* You can add global styles to this file, and also import other style files */
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #337ab7;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0;
    padding: 0;
}

.table-nonfluid {
    width: auto !important;
}

.content {
    margin-left: 20px;
    margin-right: 10%;
    /*margin-top: 5%;*/
}

.panel-with-table {
    width: 1250px;
}

.fun-center {
    vertical-align:middle;
}

.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.line-header {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.line-header:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* toggle-button */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-blocked {
    background-color: purple;
}

/*.card {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.modal-dialog-auto {
    width: auto;
}

.progress-bar-blocked {
    background-color: purple;
}

.thead {
    background-color: #337ab7;
    color: white;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: auto;
    }

}

.highcharts-container {
    width:100% !important;
    height:100% !important;
}

.icon-superscript {
  float:right;
  max-width:5%;
  position: relative;
  top: 0;
  font-size: 100%;
  margin-top:0;
  padding-top:0;
}

.anchor-button {
  color: #007bff;
  font-family: Roboto,"Helvetica Neue",sans-serif;

}

.pseudo-anchor {
  color: blue;
}
.pseudo-anchor:hover {
  cursor: pointer;
  color: black;
}

@media all {
    .closed-banner {
        height: 4px;
        overflow: hidden;
        background: lightgrey;
    }
    .closed-section {
        height: 2px;
        overflow: hidden;
        background: lightgrey;
    }
}

.arrow_btn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    color: #337ab7;
}

/* Icon when the collapsible content is hidden */
.arrow_btn.collapsed:after {
    content: "\e080";
    color: #337ab7;
}
.panel-with-table {
    width: 1250px;
}
.no-wrap {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.x-style {
  color: red;
  font-weight: 500;
  vertical-align: middle;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.component_old {
  margin-left: 10px;
  margin-right: 10px;

}

.component-margin {
  margin-top: 70px;
}

.fa {
  cursor: pointer;
}
.grey-text {
  font-size: 95%;
  color: grey;
}
.tick-color {
  color: green;
}
.close-color {
  color: red;
}
.owner-text {
  width: 350px;
}
.text-color-red {
  color: red;
}
.text-color-green {
  color: green;
}

.text-color-green {
  color: green;
}


.passed-table-cell {
  background-color: #9ACD32;
  color: black;
}

.failed-table-cell {
  background-color: #ff9999;
  color: black;
}

.not-run-table-cell {
  background-color: lightgrey;
  color: black;
}

/* table */
.pseudo-table {
  border: 0;
}

tr.text-center > th {
  text-align: center;
}

/* toaster */
#toast-container > div {
  opacity: unset;
}

/* label */
.passed-label {

}

/* input */
.invalid-input {
  border-left: 5px solid #a94442; /* red */
}

/* span */
.link-span-danger {
  background-color: rgba(255, 46, 31, 0.26);
  border-radius: 3px;
  color: #274466;
  display: inline-block;
  font: .75em/2 SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 0 5px;
  position: relative;
  white-space: nowrap;
  border: 0.5px;
}

.span-selected {
  background-color: rgba(230, 255, 0, 0.26);
  border-radius: 3px;
  color: #274466;
  display: inline-block;
  font: .75em/2 SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 0 5px;
  position: relative;
  white-space: nowrap;
  border: 0.5px solid;
}


/* tooltip */
.fun-tooltip {
  position: fixed;
  /*font-size: 14px;*/
  text-align: left;
  color: #000000;
  /*padding: 3px 8px;*/
  background: #fff8ba;
  z-index: 1000;
  opacity: 0;
  border: 1px solid;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 100;
  padding: 5px;
}
.fun-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;

}
.fun-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: black transparent transparent transparent;
}
.fun-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent black transparent;
}
.fun-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent black;
}
.fun-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.fun-tooltip-show {
  opacity: 1;
}


/* Forms */
.fun-form {
  font-family: "Times New Roman", Times, serif;
  margin: 10px
}
.fun-form .fun-form-label {
  margin-top: 5px;
  font-size: 12px;
  display: block;
  font-weight: bold;
}

/* Button */
.btn.submit-button {
  padding-top: unset;
  padding-bottom: unset;
}

.btn.click-button {
  padding-top: unset;
  padding-bottom: unset;
  font-size: 14px;
  border: darkblue 0.5px;
}
