.button-color-delete {
  background-color: red;
}

.button-color-post {
  background-color: green;
}

.button-color-get {
  background-color: darkblue;
}

.button-color-put {
  background-color: orange;
}

.method-button-text-color {
  color: white;
}
.url-font {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}
/*  font-weight: 100;
*/
.response-div {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
