<fun-spinner [status]="status"></fun-spinner>
<ng-container *ngIf="status === null">
  <app-pager *ngIf="workspace" [data]="flattenedInterestedMetrics" [recordsPerPage]=5
             (pageNumber)="setPage($event)"></app-pager>
  <!--<div class="fun-div">-->
  <!--<h4>Release catalogs</h4>-->
  <!--<app-section-horizontal-line></app-section-horizontal-line>-->
  <!--<span class="fun-action-link" (click)="addACatalog()">+ Add a catalog</span>-->
  <!--</div>-->
  <div class="card" style="margin: 10px; padding: 5px;">
    <b>Subject: </b><app-textarea-input [hoverHide]="false" [initialValue]="subject"
                            (valueChanged)="onSubjectChanged($event)" [numRows]="4"></app-textarea-input><br>
    <ng-container *ngIf="showPagedItems">
      <div *ngFor="let interestedMetric of pagedItems">
        <div *ngIf="interestedMetric.leaf">
          <span style="font-size: larger; font-weight: 500">{{ interestedMetric.lineage }} </span><small><a
          href="{{ interestedMetric.url }}" target="_blank">Go to chart</a></small>
          <app-section-horizontal-line></app-section-horizontal-line>
          <span *ngIf="interestedMetric.jira_ids.length > 0">Bugs:
          <span *ngFor="let jira of interestedMetric.jira_ids">
          <a href="'http://jira/browse/' + {{ jira }}" target="_blank">{{ jira }}</a>&nbsp;
          </span><br></span>
          Comments:
          <app-textarea-input [hoverHide]="false" [initialValue]="interestedMetric.comments"
                            (valueChanged)="onCommentsChanged($event, interestedMetric)" [numRows]="4"></app-textarea-input>
        </div>
        <table *ngIf="interestedMetric.leaf" class="fun-table" style="max-width: 50%; margin: 0">
          <tr>
            <td class="fun-table-header" rowspan="2">Series name</td>
            <td class="fun-table-header" rowspan="2">Unit</td>
            <td class="fun-table-header" rowspan="2">
              Yesterday <br><span class="text-size-smaller">{{ interestedMetric.report[0].yesterdayDate }}</span>
            </td>
            <td class="fun-table-header" rowspan="2">
              Today <br><span class="text-size-smaller">{{ interestedMetric.report[0].todayDate }}</span>
            </td>
            <td class="fun-table-header" colspan="2">Today's % change</td>
          </tr>
          <tr>
            <td class="fun-table-header">from last value</td>
            <td class="fun-table-header">from best value</td>
          </tr>
          <ng-container *ngFor="let dataSet of interestedMetric.report">
            <tr>
              <td>{{ dataSet.name }}</td>
              <td>{{ dataSet.unit }}</td>
              <td>
                {{ dataSet.yesterday }}
                <!--<span *ngIf="!dataSet.show_history" class="pseudo-anchor small-text"-->
                                              <!--(click)="dataSet.show_history = true">..show history</span>-->
                <!--<span *ngIf="dataSet.show_history" class="pseudo-anchor small-text"-->
                      <!--(click)="dataSet.show_history = false">..hide history</span>-->
                <label class="badge badge-history pseudo-anchor" data-placement="top" data-toggle="tooltip"
                     title="history" (click)="toggleHistory(dataSet)">history</label>
              </td>
              <td>{{ dataSet.today }}</td>
              <td *ngIf="dataSet.percentage"
                  [ngClass]="{'text-color-red': (dataSet.percentage.includes('-') && interestedMetric.positive) || (dataSet.percentage.includes('+') && !interestedMetric.positive),
                  'text-color-green': (dataSet.percentage.includes('+') && interestedMetric.positive) || (dataSet.percentage.includes('-') && !interestedMetric.positive)}">
                {{ dataSet.percentage }}
              </td>
              <td *ngIf="dataSet.best_percentage"
                  [ngClass]="{'text-color-red': (dataSet.best_percentage.includes('-') && interestedMetric.positive) || (dataSet.best_percentage.includes('+') && !interestedMetric.positive),
                  'text-color-green': (dataSet.best_percentage.includes('+') && interestedMetric.positive) || (dataSet.best_percentage.includes('-') && !interestedMetric.positive)}">
                {{ dataSet.best_percentage }}
              </td>
            </tr>
            <ng-container *ngIf="dataSet.show_history">
              <tr>
                <th style="padding: 0; text-align: center">Date</th>
                <th style="padding: 0; text-align: center">Value</th>
              </tr>
              <tr *ngFor="let data of dataSet['history']; let i = index">
                <td style="padding: 0; text-align: center">{{ data.date }}</td>
                <td style="padding: 0; text-align: center">{{ data.value }}
                  <span *ngIf="dataSet.percentage_history && interestedMetric.positive && i === 0"
                        [ngClass]="{'text-color-red': dataSet.percentage_history.includes('-'), 'text-color-green': dataSet.percentage_history.includes('+')}"><br>{{ dataSet.percentage_history }}</span>
                  <span *ngIf="dataSet.percentage_history && !interestedMetric.positive && i === 0"
                        [ngClass]="{'text-color-green': dataSet.percentage_history.includes('-'), 'text-color-red': dataSet.percentage_history.includes('+')}"><br>{{ dataSet.percentage_history }}</span>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </table>
        <br>
      </div>
    </ng-container>
    <span>
        <span class="fun-cancel-link" (click)="reportGenerated.emit(false)">Cancel</span>
        <button class="fun-button-submit" (click)="sendReports()">Send report</button>
    </span>
  </div>
</ng-container>
