.fun-flex-item {
  flex: 1;
  min-width: auto;
}

.panel {
 margin: 10px;
}

.selected-row {
  background-color: #c4e3f3;
}

.selected-checkpoint-row {
  background-color: rgba(255, 248, 186, 0.58);
}

.timestamp {
  background-color: rgba(220, 220, 220, 0.64);
}

.checkpoint-span {
    background-color: rgba(255, 248, 186, 0.58);
    border-radius: 3px;
    color: #274466;
    display: inline-block;
    font: .75em/2 SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    padding: 0 5px;
    position: relative;
    white-space: nowrap;
    border: .5px;
}


.passed {
  color: green;
}

.failed {
  color: red;
}

.script-name {
  /*font-family: Times;*/
  font-size: 14px;
  line-height: 20px;
  /*font-weight: 700;*/
  margin: auto 10px;

}

.checkbox-text {
  font-family: Times;
  margin-left: 5px;
}

table {
  border-spacing: 0;
}

.auto-scroll {
  overflow: auto;
  max-width: calc(50vw);
}

.test-case-panel {
  height: 400px;
}

.checkpoint-panel {
  height: 400px;
}

.logs-panel {
  height: calc(60vh);
}

.side-panel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 300px;
  background-color: whitesmoke;

  box-shadow: 0 0 10px;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-panel-open {
  width: 50%;
}

.selectedOption {
  border: 1px solid #337ab7;
  margin: 4px;
  background: #337ab7;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
}
