.fun-flex-item {
  flex-grow: 1;
}


.panel {
 margin: 10px;
}

.selected-row {
  background-color: #c4e3f3;
}

.timestamp {
  background-color: rgba(220, 220, 220, 0.64);
}


.checkpoint-span {
  background-color: palegoldenrod;
  border-radius: 2px;
  border: solid black 0.5px;
  padding: 2px;
}
