<div class="component">
  <div class="fun-flex-container">
    <h4>{{ scriptPath }}</h4>
    <button *ngIf="!showTestCasePanel" (click)="onShowTestCasePanelClick()" class="fun-button-add">Show test-cases</button>
    <button (click)="onContextOptionsClick(contextOptions)" class="fun-button-add">Context options</button>
    <ng-template #contextOptions let-modal>
      <div class="fun-panel">
        <div class="fun-panel-header">
          <span class="fun-attribute-label">Select contexts to display</span>
        </div>
        <div class="fun-panel-body">
          <ng-container *ngFor="let availableContext of availableContexts">
            <div>
              <input type="checkbox" [(ngModel)]="availableContext.selected" [checked]="availableContext?.selected">
                ID : {{ availableContext.context_id }} ({{ availableContext.description }})
            </div>

          </ng-container>

        </div>

      </div>

    </ng-template>

  </div>
  <div style="position: fixed; top: 110px">
    <div class="fun-flex-container">
      <div *ngIf="showTestCasePanel" class="fun-flex-item panel" [@show]="showTestCasePanel">
        <h4>Test-cases</h4>

        <table class="fun-table">
          <tr>
            <td class="fun-table-header">ID</td>
            <td class="fun-table-header">Description</td>
            <td class="fun-table-header">Result</td>
          </tr>
          <tr *ngFor="let testCaseExecution of testCaseExecutions; let index=index" [ngClass]="{'selected-row': currentTestCaseExecution?.test_case_id === testCaseExecution.test_case_id }">
            <td>
              <span class="pseudo-anchor" (click)="onTestCaseIdClick(index, testCaseExecution.execution_id)" >{{ testCaseExecution.test_case_id }}
              </span>
            </td>
            <td>{{ testCaseExecution.summary }}</td>
            <td><span [ngClass]="{'passed': testCaseExecution.result === 'PASSED', 'failed': testCaseExecution.result === 'FAILED' }">{{ testCaseExecution.result }}</span></td>
          </tr>
        </table>
      </div>
      <div class="fun-flex-item panel" [@show]="showCheckpointPanel" *ngIf="currentTestCaseExecution">
        <h4>Checkpoints</h4>
        <table class="fun-table">
          <tr>
            <td class="fun-table-header">ID</td>
            <td class="fun-table-header">Checkpoint</td>
            <td class="fun-table-header">Result</td>
            <td class="fun-table-header">Expected</td>
            <td class="fun-table-header">Actual</td>
          </tr>
          <tr *ngFor="let checkpoint of this.timeSeriesByTestCase[currentTestCaseExecution.test_case_id]?.checkpoints" [ngClass]="{'selected-row': currentCheckpointIndex === checkpoint.index }">
            <td><span class="pseudo-anchor" (click)="onCheckpointClick(currentTestCaseExecution.test_case_id, checkpoint.index)">{{ checkpoint.index }}</span></td>
            <td>{{ checkpoint.checkpoint }}</td>
            <td><span [ngClass]="{'passed': checkpoint.result === 'PASSED', 'failed': checkpoint.result === 'FAILED' }">{{ checkpoint.result }}</span></td>
            <td>{{ checkpoint.expected }}</td>
            <td>{{ checkpoint.actual }}</td>
          </tr>
        </table>
      </div>
      <div class="flex-container">
        <ng-container *ngFor="let availableContext of (availableContexts | selected)">
        Context: {{ availableContext.context_id }}
        <div class="fun-flex-item panel" [@show]="showLogsPanel" *ngIf="currentTestCaseExecution">
        <h4>{{ currentTestCaseExecution.test_case_id }}: {{ currentTestCaseExecution.summary }}</h4>
        <div style="overflow-y: scroll; height: 500px">
          <ng-container *ngIf="currentTestCaseExecution">
            <table>
              <tr *ngFor="let seriesElement of this.timeSeriesByTestCase[currentTestCaseExecution.test_case_id]?.timeSeries">
                <ng-container *ngIf="seriesElement.data.context_id === availableContext.context_id">
                  <td class="timestamp" nowrap><small>{{ seriesElement.date_time }}</small></td>
                  <td *ngIf="seriesElement.type === 'checkpoint'">
                    <div id="{{ currentTestCaseExecution.test_case_id }}_{{ seriesElement.data?.index }}">
                      <span class="checkpoint-span">Checkpoint: {{ seriesElement.data?.checkpoint }}
                      </span>
                    </div>
                  </td>
                  <td *ngIf="seriesElement.type === 'log'">{{ seriesElement.data?.log }}</td>
                </ng-container>

              </tr>
            </table>
          </ng-container>
        </div>
      </div>
      </ng-container>
      </div>
    </div>
  </div>
</div>




