.fun-flex-item {
  flex-grow: 1;
}


.panel {
 margin: 10px;
}

.selected-row {
  background-color: #c4e3f3;
}

.timestamp {
  background-color: rgba(220, 220, 220, 0.64);
}



.checkpoint-span {
    background-color: rgba(255, 248, 186, 0.58);
    border-radius: 3px;
    color: #274466;
    display: inline-block;
    font: .75em/2 SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    padding: 0 5px;
    position: relative;
    white-space: nowrap;
    border: .5px;
}
