{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .tab-pane {
            padding: 40px;
            margin-top: 40px;

        }

        .form-control1 {
            margin-bottom: 4px;
        }

        #page-tab {
            position: fixed;
            top: 0;
        }

        .workflow-parameters, .row {
            padding: 10px;
        }

        .nav-item.active {
            border-bottom: 2px solid red;
        }

        .glyphicon.spinning {
            animation: spin 1s infinite linear;
            -webkit-animation: spin2 1s infinite linear;
        }

        .form-label {
            padding: 6px;
        }

        .label-medium {
            vertical-align: super;
            font-size: medium;
        }

        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }
        }

        @-webkit-keyframes spin2 {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        .table-nonfluid {
            width: auto !important;
        }

        thead {
            background-color: #337ab7;
            color: white;
        }


    </style>
    {% block js %}
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{% static "js/tools.js" %}"></script>
        <script src="{% static "create_volume.js" %}"></script>
        <script src="{% static "attach_volume.js" %}"></script>
        <script src="{% static "attach_tg.js" %}"></script>
        <script src="{% static "f1.js" %}"></script>
        <script src="{% static "f1_detail.js" %}"></script>
        <script src="{% static "fun_chart.js" %}"></script>
        <script src="{% static "ikv_test.js" %}"></script>
        <script src="{% static "f1_traffic.js" %}"></script>
        <script src="{% static "create_rds_volume.js" %}"></script>
        <script src="{% static "create_replica_volume.js" %}"></script>
        <script src="{% static "set_ip_cfg.js" %}"></script>
        <script src="{% static "stats.js" %}"></script>
        <script src="{% static "send_traffic.js" %}"></script>

    {% endblock %}
</head>


<body ng-app="tools">

<div class="tabs-wrapper">

    <ul class="navbar-nav nav" id="page-tab">
        <li class="nav-item active">
            <a aria-controls="2" class="nav-link" data-toggle="tab" href="#workflow-container" role="tab">Configure</a>
        </li>
        <li class="nav-item">
            <a aria-controls="3" class="nav-link" data-toggle="tab" href="#traffic-container" role="tab">Traffic</a>
        </li>
        <li class="nav-item">
            <a aria-controls="1" class="nav-link" data-toggle="tab" href="#topology-container" role="tab">Topology</a>
        </li>
        <li class="nav-item">
            <a aria-controls="5" id="details-nav-link" class="nav-link" data-toggle="tab" href="#details-container"
               role="tab">Details</a>
        </li>
    </ul>
</div>


<div class="content ng-cloak" ng-controller="AppController">
    {% verbatim %}
    <div class="tab-content card">

        <div class="tab-pane" id="topology-container" role="tabpanel">
            <canvas id="topology-canvas" width="2000" height="2000"></canvas>
        </div>

        <div class="tab-pane" id="details-container" role="tabpanel">
            <f1-detail ng-if="currentF1" f1="currentF1"></f1-detail>
        </div>


        <div class="tab-pane" id="traffic-container" role="tabpanel">
            <div class="row">
                <div class="col-sm-4" style="max-width:20%">
                    <!-- button ng-click="testClick($event)" type="button" id="topology-deploy-button">TEST</button -->
                    <f1-traffic ng-repeat="f1 in f1s" f1="f1" work-flows="trafficWorkFlows" replace-ip-dot="replaceIpDot"
                                set-common-traffic-work-flow="setCommonTrafficWorkFlow(selectedWorkFlow, f1)"
                                set-active-tab="setActiveTab(tabName, f1)"></f1-traffic>

                </div>

                <div class="col-sm-3">
                    <div ng-if="commonTrafficWorkFlow" class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <label class="label label-primary">Parameters</label>
                                <span>{{ commonTrafficWorkFlow.name }}</span>
                            </div>
                        </div>
                        <div class="panel-body" ng-switch="commonTrafficWorkFlow.id">
                            <div ng-switch-when="attach_tg">
                                <attach-tg f1="currentWorkFlowF1" topology-session-id="topologySessionId" obj="attachTgInfo"></attach-tg>
                            </div>
                            <div ng-switch-when="ikv_test">
                                <ikv-test f1="currentWorkFlowF1" topology-session-id="topologySessionId" obj="ikvTestInfo"></ikv-test>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-5">
                    <stats topology-session-id="topologySessionId"></stats>
                </div>
            </div>
        </div>

        <div class="tab-pane active" id="workflow-container" role="tabpanel">
            <div class="row">
                <div class="col-sm-4">
                    <button ng-click="deployTopologyClick($event, $window)" type="button" id="topology-deploy-button"
                            class="btn btn-success">
                    <span ng-show="deployButtonText == 'Deploying'"><i
                            class="glyphicon glyphicon-refresh spinning"></i></span>
                        <span ng-show="deployButtonText == 'Deploy'"><i class="glyphicon glyphicon-play"></i></span>
                        {{ deployButtonText }}
                    </button>
                </div>
                <div class="col-sm-4">
                    <button ng-click="cleanupTopologyClick()" type="button" class="btn btn-default">
                    Cleanup
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="max-width:20%">
                    <!-- button ng-click="testClick($event)" type="button" id="topology-deploy-button">TEST</button -->
                    <f1 ng-repeat="f1 in f1s" topology-session-id="topologySessionId" f1="f1" work-flows="workFlows" replace-ip-dot="replaceIpDot"
                        set-common-work-flow="setCommonWorkFlow(selectedWorkFlow, f1)"
                        set-active-tab="setActiveTab(tabName, f1)"></f1>

                </div>


                <div class="col-sm-8 workflow-parameters-panel">

                    <div ng-if="commonWorkFlow" class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <label class="label label-primary">Parameters</label>
                                <span>{{ commonWorkFlow.name }}</span>
                            </div>
                        </div>
                        <div class="panel-body" ng-switch="commonWorkFlow.id">
                            <div ng-switch-when="demo"> Just for demo</div>

                            <div ng-switch-when="create_volume">
                                <create-volume f1="currentWorkFlowF1" topology-session-id="topologySessionId" obj="createVolumeInfo"></create-volume>
                            </div>
                            <div ng-switch-when="create_rds_volume">
                                <create-rds-volume f1="currentWorkFlowF1" f1s="f1s" topology-session-id="topologySessionId"></create-rds-volume>
                            </div>
                            <div ng-switch-when="set_ip_cfg">
                                <set-ip-cfg f1="currentWorkFlowF1" f1s="f1s" topology-session-id="topologySessionId"></set-ip-cfg>
                            </div>
                            <div ng-switch-when="create_replica_volume">
                                <create-replica-volume f1="currentWorkFlowF1" f1s="f1s" topology-session-id="topologySessionId"></create-replica-volume>
                            </div>
                            <div ng-switch-when="attach_volume">
                                <attach-volume f1="currentWorkFlowF1"  f1s="f1s" topology-session-id="topologySessionId"></attach-volume>
                            </div>
                            <div ng-switch-when="ikv_test">
                                <ikv-test obj="ikvTestInfo"></ikv-test>
                            </div>
                            <div ng-switch-when="send_traffic">
                                <send-traffic f1="currentWorkFlowF1" f1s="f1s" topology-session-id="topologySessionId"></send-traffic>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div> <!-- tabpanel -->
    {% endverbatim %}
</div>

</body>
</html>
