<div class="component">
  <table class="table table-nonfluid table-borderless" style="margin: 20px">
    <tr>
      <td class="no-wrap">
        <label for="submitter" class="required-label">User:</label>
      </td>
      <td>
        <select id="submitter" [(ngModel)]="selectedUser" (ngModelChange)="onUserChange($event)">
          <option *ngFor="let user of users" [ngValue]="user">{{
            user.first_name }} {{
            user.last_name }}
            ({{ user.email }})
          </option>
        </select>
        &nbsp;
        <a href="/users" target="_blank">Can't find your name? Add user</a>
      </td>
    </tr>
  </table>
  <div *ngIf="showWorkspace" class="card">
    <div class="card-header">
      <h5 class="card-title">{{ selectedUser.first_name }}&nbsp;{{ selectedUser.last_name }}</h5>
      <h6 class="card-subtitle">{{ selectedUser.email }}</h6>
    </div>
    <div class=card-body>
      <!--<app-smart-label [simulateLink]="false"-->
                       <!--[type]="'primary'" [value]="'Add Workspace'"-->
                       <!--(click)="addWorkspace()"></app-smart-label>-->
      <button type="button" class="btn btn-primary btn-sm" (click)="addWorkspace()">Add workspace</button>
      <div>
        <table *ngIf="addingWorkspace" class="table table-borderless" style="margin: 20px; width: 100%;">
          <tr>
            <th>
              Workspace name
            </th>
          </tr>
          <tr>
            <td>
              <input type="text" [(ngModel)]="workspaceName" style="vertical-align: middle">&nbsp;&nbsp;
              <!--<app-smart-label [simulateLink]="false"-->
                               <!--[type]="'passed'"-->
                               <!--[value]="'Create'"-->
                               <!--(click)="createWorkspace()"></app-smart-label>-->
              <button type="button" class="btn btn-outline-success btn-sm" (click)="createWorkspace()">Create</button>&nbsp;
              <!--&nbsp;&nbsp;<app-smart-label [simulateLink]="false"-->
                                           <!--[type]="'primary'"-->
                                           <!--[value]="'Close'"-->
                                           <!--(click)="closeWorkspace()"></app-smart-label>-->
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="closeWorkspace()">Close</button>
            </td>
            <!--<td *ngIf="workspaceName">-->
            <!--<app-performance [selectMode]="true" [userProfileEmail]="selectedUser.email"-->
            <!--[workspaceName]="workspaceName" (submitted)="updateStatus($event)"></app-performance>-->
            <!--</td>-->
          </tr>
          <tr *ngIf="createError">
            <label style="color: red">{{ createError }}</label>
          </tr>
        </table>
        <table *ngIf="profile.length > 0" class="table table-borderless" style="margin: 20px; width: 30%;">
          <tr>
            <!--<th style="width: 10%"></th>-->
            <th style="width: 20%">
              Workspace name
            </th>
          </tr>
          <tr *ngFor="let workspace of profile">
            <!--<td *ngIf="!workspace.editingWorkspace">-->
               <!--<i (click)="onDeleteWorkspace(workspace)" class="fa fa-trash-o"-->
                     <!--style="font-size:20px; color: red"></i>&nbsp;-->
              <!--<a [routerLink]="" (click)="editWorkspace(workspace)">Edit</a>-->
            <!--</td>-->
            <!--<td *ngIf="workspace.editingWorkspace">-->
              <!--<app-smart-label [simulateLink]="false"-->
                               <!--[type]="'primary'" [value]="'Close'"-->
                               <!--(click)="workspace.editingWorkspace = false"></app-smart-label>-->
            <!--</td>-->
            <td>
              <a [routerLink]="" (click)="openWorkspace(workspace)">{{ workspace.name }}</a>
            </td>
            <!--<td *ngIf="!workspace.editingWorkspace">-->
              <!--{{ getString(workspace.interestedMetrics) }}-->
            <!--</td>-->
            <!--<td *ngIf="workspace.editingWorkspace">-->
              <!--<app-performance [selectMode]="true" [userProfileEmail]="selectedUser.email"-->
                               <!--[workspaceName]="workspace.name"-->
                               <!--[interestedMetrics]="workspace.interestedMetrics"-->
                               <!--(submitted)="updateStatus($event, workspace)"></app-performance>-->
            <!--</td>-->
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div>

  </div>
  <div *ngIf="showChartsForWorkspace" class="card">
    <div class="card-header">
      <h5 class="card-title">{{ currentWorkspace.name }}</h5>
      <h6 class="card-subtitle">
        <a *ngIf="!currentWorkspace.editingWorkspace" [routerLink]="" (click)="editWorkspace(currentWorkspace)">Track metrics</a>
        <a *ngIf="currentWorkspace.editingWorkspace" [routerLink]=""
           (click)="currentWorkspace.editingWorkspace = false">Close
          editing
        </a> |
        <a [routerLink]="" (click)="onDeleteWorkspace(currentWorkspace)">Delete</a>
              </h6>
    </div>
    <div class="card-body">
      <ng-container *ngIf="!currentWorkspace.editingWorkspace">
        <!--<div *ngIf="currentNode.grid.length">-->
        <div *ngFor="let rows of grids">
        <!--<div *ngFor="let node of row" id="grid"-->
        <!--[ngStyle]="{'width': miniGridMaxWidth, 'height': miniGridMaxHeight, 'padding': '20px'}">-->
        <!-- Fun Metric Chart component -->
        <div *ngFor="let row of rows | keyvalue">
          <fun-metric-chart [id]="row.key" [minimal]="'true'" [buildInfo]="buildInfo"></fun-metric-chart>
        </div>
        <!--</div>-->
        <!--</div>-->
        <div class="closed-section"></div>
      </div>
      </ng-container>
      <ng-container *ngIf="currentWorkspace.editingWorkspace">
        <div class="flex-container">
      <div
        style="height: auto; justify-content: left; flex: 0 0 30%; align-items: center">
        <app-performance [selectMode]="true" [userProfileEmail]="selectedUser.email"
                               [workspaceName]="currentWorkspace.name"
                               [interestedMetrics]="currentWorkspace.interestedMetrics"
                               (submitted)="updateStatus($event, currentWorkspace)"></app-performance>
      </div>
      <div style="height: auto; justify-content: left; flex: 0 0 50%; align-items: center;
      flex-direction: column;">
        <b>Tracked metrics:</b>
        <table style="width: 100%">
          <tr>
            <th style="width: 10%">
              Metric id
            </th>
            <th style="width: 10%">
              Track
            </th>
            <th style="width: 10%">
              Subscribe
            </th>
            <th style="width: 30%">
              Lineage
            </th>
          </tr>
          <tr *ngFor="let metric of currentWorkspace.interestedMetrics[0] | keyvalue">
            <td>
              {{ metric.key }}
            </td>
            <td>
              {{ metric.value["track"] }}
            </td>
            <td>
              {{ metric.value["subscribe"] }}
            </td>
            <td>
              {{ getString(metric.value["lineage"]) }}
            </td>
            <!--<td>-->
              <!--{{ getString(currentWorkspace.interestedMetrics) }}-->
            <!--</td>-->
          </tr>
        </table>
      </div>

    </div>
        <!--<app-performance [selectMode]="true" [userProfileEmail]="selectedUser.email"-->
                               <!--[workspaceName]="currentWorkspace.name"-->
                               <!--[interestedMetrics]="currentWorkspace.interestedMetrics"-->
                               <!--(submitted)="updateStatus($event, currentWorkspace)"></app-performance>-->
      </ng-container>

    </div>

  </div>
</div>
