<!DOCTYPE html>
<html lang="en">
<head>
  <title>QA Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<nav *ngIf="userProfileReady" class="navbar navbar-expand-lg fixed-top" style="background-color: #337ab7;">
  <a [routerLink]="['/']">
    <img src="/static/media/web_logo.png" height="40" width="100"></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="qa-dashboard-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/performance" style="color: white;background-color: #337ab7"
           role="button">Performance</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a [routerLink]="" id="navbarDropdown" style="color: white;background-color: #337ab7"
           class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
           aria-expanded="false" ngbDropdownToggle>Regression</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/regression/summary">Summary</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression">All jobs</a>
          <a class="dropdown-item" href="/regression/submit_job_page">Submit job</a>
          <a class="dropdown-item" href="/regression/test_bed">Test-beds</a>
          <a class="dropdown-item" href="/regression/all_jiras_component">JIRAs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression/triaging">Regression finder</a>
          <a class="dropdown-item" href="/regression/submit_job_page?mode=TRIAGE">Integration triage</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression/suites_view">Suites</a>
          <a class="dropdown-item" href="/regression/admin">Admin</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression/releases">Releases</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a [routerLink]="" id="navbarDropdown" style="color: white;background-color: #337ab7"
           class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
           aria-expanded="false" ngbDropdownToggle>Documentation</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/static/storage_api.html">Storage API</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a [routerLink]="" style="color: white;background-color: #337ab7" class="nav-link dropdown-toggle"
           role="button" aria-haspopup="true"
           aria-expanded="false" ngbDropdownToggle>Administration</a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="/regression/scheduler/admin">Scheduler</a>
          <a class="dropdown-item" href="/performance/admin">All</a>
          <a class="dropdown-item" href="/initialize">Initialize</a>
          <a class="dropdown-item" href="/daemons">Services</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">

      <li>
        <span *ngIf="showAlert">
          <i [routerLink]="['/common/logs']" class="fa fa-bell fa-2x"
               style="color: gold; text-shadow: 0 0 3px #000;" aria-hidden="true"></i>
        </span>
      </li>
      <li>
        <span style="color: white">Hi {{ userProfile.user.first_name }}, &nbsp;</span>
      </li>
      <li class="dropdown" *ngIf="userProfileReady">
          <span class="dropbtn" class="fa fa-user-circle-o fa-2x"
               style="color: white; text-shadow: 0 0 3px #000;"></span>
          <div class="dropdown-content">
            <div>
              <span class="fun-action-link" [routerLink]="['/performance/workspace']">Workspace</span>
            </div>
            <div>
              <span class="fun-action-link" [routerLink]="['/common/logs']" role="button">Logs</span>
            </div>

            <div class="fun-action-link" (click)="logout()">Logout</div>

          </div>
      </li>

    </ul>

  </div>
</nav>


<div>
  <app-announcement></app-announcement>
  <toaster-container></toaster-container>
  <div [ngClass]="{'component-margin': !hasAnnouncement}" *ngIf="userProfileReady">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="doLogin">
    <div class="login-box-container">
      <div class="login-box">
        <div class="fun-panel">
          <div class="fun-panel-header" style="text-align: center; background-color: #337ab7">
            <img src="/static/media/web_logo.png" height="42" width="120">
          </div>
          <div class="fun-panel-body" style="display: flex; align-items: flex-start; flex-direction: column; justify-items: center">
            <br>
            <div style="align-self: center">
              E-mail: <input type="email" [(ngModel)]="email" style="width: 250px">
            </div>
            <br>
            <div style="align-self: center">
              <button [ngClass]="{'fun-button-disabled': !email}" class="fun-button-submit" (click)="login()">Login</button>
            </div>

          </div>
          <!--button (click)="logout()">Logout</button-->

        </div>

      </div>
    </div>
  </div>

</div>

</body>
</html>


