<!DOCTYPE html>
<html lang="en">
<head>
  <title>QA Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #337ab7;">
  <a class="navbar-brand" href="/" style="color: white">Integration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="qa-dashboard-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/performance" style="color: white;background-color: #337ab7" role="button">Performance</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a [routerLink]="" id="navbarDropdown" style="color: white;background-color: #337ab7"
           class="nav-link dropdown-toggle"role="button" aria-haspopup="true"
           aria-expanded="false" ngbDropdownToggle>Regression</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/regression/summary">Summary</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression">All Jobs</a>
          <a class="dropdown-item" href="/regression/submit_job_page">Submit Job</a>
          <a class="dropdown-item" href="/regression/test_bed">Test-beds</a>
          <a class="dropdown-item" href="/regression/all_jiras_component">JIRAs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression/triaging">Regression finder</a>
          <a class="dropdown-item" href="/regression/submit_job_page?mode=TRIAGE">Integration triage</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/regression/admin">Admin</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a [routerLink]="" style="color: white;background-color: #337ab7" class="nav-link dropdown-toggle"
           role="button" aria-haspopup="true"
           aria-expanded="false" ngbDropdownToggle>Administration</a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="/regression/scheduler/admin">Scheduler</a>
          <a class="dropdown-item" href="/performance/admin">All</a>
          <a class="dropdown-item" href="/initialize">Initialize</a>
        </div>
      </li>
    </ul>
        <ul class="navbar-nav">
      <li><i [routerLink]="['/common/logs']" class="fa fa-bell fa-2x" style="color: gold;      text-shadow: 0 0 3px #000;" aria-hidden="true" *ngIf="showAlert"></i>&nbsp;
          <a [routerLink]="['/common/logs']" role="button" style="color: white;background-color: #337ab7">Logs</a>
      </li>
    </ul>

  </div>
</nav>



<div>
  <!--div class="component" style="background-color: #FFFDDE; border:thin solid #EDDD00"> Your announcement</div-->
  <app-announcement></app-announcement>
  <toaster-container></toaster-container>
  <div [ngClass]="{'component-margin': !hasAnnouncement}">
    <router-outlet></router-outlet>
  </div>


</div>

</body>
</html>


