<div class="card" style="padding-top: 70px;">
<div class="component" >
  <app-queue-viewer></app-queue-viewer>

  <!-- button ng-click="test()">Test</button -->
  <div class="card card-primary">
    <div class="card-header"><b>Suite Executions</b></div>
    <div class="card-body">
      <div class="text-center">
        <!-- pager -->
        <div id="page-div" *ngIf="pager.pages && pager.pages.length">
          <span *ngIf="pager.currentPage > 1" [ngClass]="{'disabled': pager.currentPage === 1}">
          <a [routerLink]="" (click)="setPage(1)"><< </a>
          </span>
          <span *ngIf="pager.currentPage > 1" [ngClass]="{'disabled': pager.currentPage === 1}">
          <a [routerLink]="" (click)="setPage(pager.currentPage - 1)">< </a>
          </span>
          <span *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a [routerLink]="" (click)="setPage(page)">{{page}} </a>
          </span>
          <span *ngIf="pager.currentPage < pager.totalPages" [ngClass]="{'disabled': pager.currentPage === pager.totalPages}">
          <a [routerLink]="" (click)="setPage(pager.currentPage + 1)">> </a>
          </span>
          <span *ngIf="pager.currentPage < pager.totalPages" [ngClass]="{'disabled': pager.currentPage === pager.totalPages}">
          <a [routerLink]="" (click)="setPage(pager.totalPages)">>> </a>
          </span>
        </div>
      </div>
      <fun-spinner [status]="status"></fun-spinner>
      <table class="table table-hover table-responsive table-bordered">
        <tr style="text-align: center">
          <th>Id</th>
          <th>Result</th>
          <th><label data-placement="top" data-toggle="tooltip" title="Passed"
                     class="badge badge-success">Passed</label></th>
          <th><label data-placement="top" data-toggle="tooltip" title="Failed"
                     class="badge badge-danger">Failed</label></th>
          <th><label data-placement="top" data-toggle="tooltip" title="Not Run"
                     class="badge badge-secondary">Not Run</label></th>
          <th><label data-placement="top" data-toggle="tooltip" title="In Progress"
                     class="badge badge-info">In Progress</label></th>
          <th><label data-placement="top" data-toggle="tooltip" title="Skipped"
                     class="badge badge-warning">Skipped</label></th>
          <th># TC</th>
          <th>Version</th>
          <th>Scheduled at</th>
          <th>Path</th>
          <th>Action</th>
          <th>Re-runs</th>
          <th>Tags</th>

        </tr>
        <tr *ngIf="suiteExecutionsCount === 0">
          <td colspan="15">
            No Data Found
          </td>
        </tr>
        <ng-container *ngFor="let suiteExecution of items">
          <tr style="text-align: center">

          <td>{{ suiteExecution.fields.execution_id }}</td>
          <td>
            <a [routerLink]="'/regression/suite_detail/' + suiteExecution.fields.execution_id" target="_blank">
              <app-smart-label [simulateLink]="true" [value]="suiteExecution.suite_result" [type]="suiteExecution.suite_result"></app-smart-label>
            </a>
          </td>
          <td>{{ suiteExecution.num_passed }}</td>
          <td>{{ suiteExecution.num_failed }}</td>
          <td>{{ suiteExecution.num_not_run }}</td>
          <td>{{ suiteExecution.num_in_progress }}</td>
          <td>{{ suiteExecution.num_skipped }}</td>
          <td>{{ testCaseLength(suiteExecution.fields.test_case_execution_ids) }}</td>
          <td>{{ suiteExecution.fields.version === 'UNKNOWN'? '-': suiteExecution.fields.version }}</td>
          <td>{{ trimTime(suiteExecution.fields.scheduled_time) }}</td>
          <td>{{ suiteExecution.fields.suite_path === 'dynamic'? 'Re(' + getReRunOriginalSuitePath(suiteExecution) + ')' : suiteExecution.fields.suite_path }}</td>
          <td>
            <ng-container *ngIf="suiteExecution.fields.suite_type ==='regular'">
              <span data-placement="top" data-toggle="tooltip" title="Re-run all"
                    (click)="reRunClick(suiteExecution.fields.execution_id, suiteExecution.fields.suite_path)" class="anchor-button pseudo-anchor">
              Re-run all</span>
            <span data-placement="top" data-toggle="tooltip" title="Re-run failed"
                    (click)="reRunClick(suiteExecution.fields.execution_id, suiteExecution.fields.suite_path, ['FAILED', 'NOT_RUN'])" class="anchor-button pseudo-anchor">
              / Re-run failed</span>            &nbsp;
            <span style="display: inline-flex"
              [hidden]="(suiteExecution.suite_result === 'ABORTED') || (suiteExecution.suite_result === 'KILLED') || ((suiteExecution.suite_result === 'PASSED') || (suiteExecution.suite_result === 'FAILED'))"
              data-placement="top" data-toggle="tooltip" title="Stop/Kill"
              (click)="killClick(suiteExecution.fields.execution_id)" class="anchor-button pseudo-anchor">&nbsp;Kill</span>
            </ng-container>

          </td>
          <td>
            <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numActive" class="text-color-red">Active: <span class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numActive }}</span></span>
            &nbsp;<span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numCompleted " class="text-color-green">Completed: <span class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numCompleted }}</span></span>
            <ng-container *ngIf="suiteExecution.fields.suite_type === 'dynamic'">
              <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.reRunInfo.length > 0">
                <a href="/regression/suite_detail/{{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }}">Original: {{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }} </a>
              </span>
            </ng-container>
          </td>
          <td>
            <label *ngFor="let tag of getTagList(suiteExecution.fields.tags)" class="badge badge-primary">
              <a class="tag-link" target="_blank" href="/regression/jobs_by_tag/{{ tag }}">{{ tag}}</a></label>
          </td>
        </tr>
          <tr *ngIf="suiteExecution.showingDetails">
            <td colspan="16">
              <app-re-run-panel *ngIf="suiteExecution.reRunInfo" [reRunInfo]="suiteExecution.reRunInfo"></app-re-run-panel>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</div>

