.table td {
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}
/*.show-table-text a {*/
  /*color: #337ab7;*/
/*}*/
#page-div {
  float: left;
  padding: 10px;
}
a {
  cursor: pointer;
}
.table-danger {
  background-color: #fbe9eb;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.tag-link {
  color: white;
}

.filter-selected {
  text-decoration: underline;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
  color: lightgrey;
}

.pseudo-anchor:hover {
  cursor: pointer;
  color: black;
}

.re-run-div {
  padding: 5px;
  font-size: 14px;
}

.btn {
  border: solid black 1px !important;
}

span > .dropdown-item {
  font-size: 14px;
}

.dropdown-item-sub-text {
  font-size: 12px;
}
