<div class="component">
  <span style="margin-left: 20px" (click)="showingTestBeds = !showingTestBeds"
        class="pseudo-anchor">{{ !showingTestBeds? "+ Show": "- Hide" }} test-beds</span>
  <app-test-bed *ngIf="showingTestBeds" [embed]="true"></app-test-bed>

  <span style="margin-left: 20px; display: block" (click)="showingQueues = !showingQueues"
        class="pseudo-anchor">{{ !showingQueues? "+ Show": "- Hide" }} queues</span>

  <div class="card" *ngIf="showingQueues">
    <div class="card-header">
      Queue occupancy
    </div>
    <div class="card-body">
      <app-queue-viewer></app-queue-viewer>
    </div>
  </div>


  <!-- button ng-click="test()">Test</button -->
  <div class="card card-primary">
    <div class="card-header"><b>Suite Executions</b>
      &nbsp;&nbsp;
      <ng-container *ngIf="filterButtons.length > 0">
        Filters:
        <ng-container *ngFor="let filterButton of filterButtons">
          <span class="link-span-danger">{{ filterButton.displayString }}
            <span class="pseudo-anchor" (click)="removeFilterButton(filterButton)">Remove</span>
          </span>
          &nbsp;
        </ng-container>
      </ng-container>

    </div>
    <div class="card-body">


      <div id="filter-div" style="padding: 10px;">
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.ALL}"
              (click)="onStateFilterClick('ALL')">All</span> &nbsp;
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.IN_PROGRESS}"
              (click)="onStateFilterClick(stateMap.IN_PROGRESS)">In-progress</span> &nbsp;
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.QUEUED}"
              (click)="onStateFilterClick(stateMap.QUEUED)">Queued</span>&nbsp;
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.COMPLETED}"
              (click)="onStateFilterClick(stateMap.COMPLETED)">Completed</span>&nbsp;
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.SCHEDULED}"
              (click)="onStateFilterClick(stateMap.SCHEDULED)">Scheduled</span>&nbsp;
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.SUBMITTED}"
              (click)="onStateFilterClick(stateMap.SUBMITTED)">Submitted</span>&nbsp;
        <span class="pseudo-anchor" [ngClass]="{'filter-selected': stateFilterString === filter.AUTO_SCHEDULED}"
              (click)="onStateFilterClick(stateMap.AUTO_SCHEDULED)">Auto-scheduled</span>&nbsp;
        <span class="pseudo-anchor fun-button-secondary" [ngClass]="{'fun-button-secondary-active' : searching}" (click)="onSearch()">
          Advanced search &nbsp;<i class="fa fa-search" style="font-size:14px; color: blue"></i>
        </span>

      </div>
      <div *ngIf="searching" [@fadeIn] class="card" >
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div>
              <div  *ngIf="fetchedUsers" style="width: 50%; margin-bottom: 10px; margin-top: 10px">
              <label>Submitters</label>
              <ng-multiselect-dropdown
                [placeholder]="'Select users'"
                [data]="submitterEmails"
                [settings]="dropDownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                formControlName="submitters" [ngClass]="{'disabled' : searchingByExecutionId}">
              </ng-multiselect-dropdown>

            </div>

            <div *ngIf="fetchedSuites" style="width: 50%; margin-bottom: 10px; margin-top: 10px">
              <label>Suite paths</label>
              <ng-multiselect-dropdown
                [placeholder]="'Select suite paths'"
                [data]="suitesInfoKeys"
                [settings]="dropDownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                formControlName="suiteName" [class.is-invalid]="searchForm.errors?.atLeastOne" [ngClass]="{'disabled' : searchingByExecutionId}">
              </ng-multiselect-dropdown>

            </div>

            </div>
            <br>

            <div  style="width: 50%">
              <div style="border: none; font-size: 14px;">
                <label class="checkbox-inline">
                  <input type="checkbox" formControlName="searchByExecutionId" (click)="onSelectSuiteExecutionId()">&nbsp;Search by suite execution
                </label>
              </div>
            </div>

            <div style="width: 50%">
              <label>Suite execution id&nbsp;&nbsp;</label>
              <input type="text" formControlName="executionId">
            </div>
            <div style="padding: 5px">
              <span class="fun-cancel-link" (click)="onCancel()">Cancel</span> &nbsp;
              <button class="fun-button-submit" [disabled]="!searchForm.valid" (click)="executionReload()">Submit
              </button>
            </div>

          </form>
        </div>


      </div>


      <div class="text-center">
        <!-- pager -->
        <div id="page-div" *ngIf="pager.pages && pager.pages.length">
          <span *ngIf="pager.currentPage > 1" [ngClass]="{'disabled': pager.currentPage === 1}">
          <a [routerLink]="" (click)="setPage(1)">First </a>
          </span>
          <span *ngIf="pager.currentPage > 1" [ngClass]="{'disabled': pager.currentPage === 1}">
          <a [routerLink]="" (click)="setPage(pager.currentPage - 1)">Previous </a>
          </span>
          <ng-container *ngFor="let page of pager.pages">
            <span class="pseudo-anchor" (click)="setPage(page)"
                  [ngClass]="{active:pager.currentPage === page}">{{ page }}</span>&nbsp;
          </ng-container>
          <span *ngIf="pager.currentPage < pager.totalPages"
                [ngClass]="{'disabled': pager.currentPage === pager.totalPages}">
          <a [routerLink]="" (click)="setPage(pager.currentPage + 1)">Next </a>
          </span>
          <span *ngIf="pager.currentPage < pager.totalPages"
                [ngClass]="{'disabled': pager.currentPage === pager.totalPages}">
          <a [routerLink]="" (click)="setPage(pager.totalPages)">Last </a>
          </span>
        </div>
      </div>


      <fun-spinner [status]="status"></fun-spinner>
      <table class="table table-hover table-responsive table-bordered"
             *ngIf="stateFilterString !== filter.AUTO_SCHEDULED">
        <tr style="text-align: center">
          <th>ID</th>
          <th>Result</th>
          <th>State</th>
          <th>Actions</th>
          <th tooltip [tooltipContentString]="'Test-cases that passed'" placement="top">
            <label class="badge badge-success">P</label>
          </th>
          <th tooltip [tooltipContentString]="'Test-cases that failed'" placement="top">
            <label class="badge badge-danger">F</label>
          </th>
          <th tooltip [tooltipContentString]="'Test-cases that are not run'" placement="top">
            <label class="badge badge-secondary">NR</label>
          </th>
          <th tooltip [tooltipContentString]="'Test-cases that are in progress'" placement="top">
            <label class="badge badge-info">IP</label>
          </th>
          <th tooltip [tooltipContentString]="'Number of test-cases'" placement="top">TCs</th>
          <th>Version</th>
          <th>Started at</th>
          <th>Submitter</th>
          <th>Suite/Script</th>
          <th>Re-runs</th>
          <th>Test-bed</th>
          <th>Jenkins params</th>
          <th>Tags</th>
          <th></th>

        </tr>
        <tr *ngIf="suiteExecutionsCount === 0">
          <td colspan="15">
            No Data Found
          </td>
        </tr>
        <ng-container *ngFor="let suiteExecution of items">

          <ng-container *ngIf="suiteExecution.fields.state != stateMap.AUTO_SCHEDULED">
            <tr style="text-align: center">
              <td>
                <a [routerLink]="'/regression/suite_detail/' + suiteExecution.fields.execution_id">
                  {{ suiteExecution.fields.execution_id }}
                </a>
                <div *ngIf="suiteExecution.fields.auto_scheduled_execution_id > -1">
                  <small>Auto: <a [routerLink]="'/regression/suite_detail/' + suiteExecution.fields.auto_scheduled_execution_id">{{ suiteExecution.fields.auto_scheduled_execution_id }}</a></small>
                </div>
              </td>
              <td>
                <app-smart-label *ngIf="suiteExecution.suite_result != 'UNKNOWN'" [value]="suiteExecution.suite_result"
                                 [type]="suiteExecution.suite_result"></app-smart-label>
              </td>
              <td>
                <ng-container [ngSwitch]="suiteExecution.fields.state">
                <span *ngSwitchCase="stateMap.KILLED" tooltip placement="right" [tooltipContentString]="'Killed'">
                  <img width="20" height="20" src="/static/media/skull.png">
                </span>
                  <span *ngSwitchCase="stateMap.ABORTED" tooltip placement="right" [tooltipContentString]="'Aborted'">
                  <img width="20" height="20" src="/static/media/skull.png">
                </span>
                  <span *ngSwitchCase="stateMap.COMPLETED" tooltip placement="right"
                        [tooltipContentString]="'Completed'">
                  <i class="fa fa-check"> </i>
                </span>
                  <span *ngSwitchCase="stateMap.SUBMITTED" tooltip placement="right"
                        [tooltipContentString]="'Submitted'">
                  <i class="fa fa-upload"> </i>
                </span>
                  <span *ngSwitchCase="stateMap.SCHEDULED" tooltip placement="right"
                        [tooltipContentString]="'Scheduled'">
                  <i class="fa fa-calendar"> </i>
                </span>
                  <span *ngSwitchCase="stateMap.AUTO_SCHEDULED" tooltip placement="right"
                        [tooltipContentString]="'Auto-scheduled'">
                  <i class="fa fa-calendar"> </i>
                </span>
                  <span *ngSwitchCase="stateMap.IN_PROGRESS" tooltip placement="right"
                        [tooltipContentString]="'In-progress'">
                  <img width="20" height="20" src="/static/media/progress_bar.jpg">
                </span>
                  <span *ngSwitchCase="stateMap.QUEUED" tooltip placement="right" [tooltipContentString]="'Queued'">
                  <i class="fa fa-hourglass-half"> </i>
                </span>

                  <div *ngSwitchDefault tooltip placement="right"
                       [tooltipContentString]="stateStringMap[suiteExecution.fields.state]">
                    {{ stateStringMap[suiteExecution.fields.state] }}</div>
                </ng-container>

              </td>
              <td>
                <div ngbDropdown class="dropdown" *ngIf="suiteExecution.fields.suite_type ==='regular'">
                  <a class="dropdown-toggle" role="button" aria-haspopup="true"
                     aria-expanded="false" ngbDropdownToggle>...
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <ng-template #content let-modal>
                      <div class="card">
                        <div class="card-header">
                          Re-run options
                        </div>
                        <div class="card-body">
                          <div class="re-run-div">
                            <button (click)="toggleReRunOptions()" class="btn click-button" [ngClass]="{'btn-primary': reRunOptionsReRunAll, 'btn-outline-primary': !reRunOptionsReRunAll}" ><i class="fa" [ngClass]="{'fa-check': reRunOptionsReRunAll}"></i> Re-run all</button>
                          </div>
                          <div class="re-run-div">
                            <button (click)="toggleReRunOptions()" class="btn click-button" [ngClass]="{'btn-primary': reRunOptionsReRunFailed, 'btn-outline-primary': !reRunOptionsReRunFailed}"><i class="fa" [ngClass]="{'fa-check': reRunOptionsReRunFailed}"></i> Re-run failed</button>
                          </div>
                          <div class="re-run-div">
                            <button (click)="togglereUseBuildImage()" class="btn click-button" [ngClass]="{'btn-primary': reUseBuildImage, 'btn-outline-primary': !reUseBuildImage}"><i class="fa" [ngClass]="{'fa-check': reUseBuildImage}"></i>Re-use Jenkins build image</button> (From the original run)
                          </div>
                          <div>
                          </div>

                          <app-section-horizontal-line></app-section-horizontal-line>
                          <div style="display: flex; justify-content: flex-end">
                            <span class="pseudo-anchor" (click)="modal.dismiss('Cross click')">Cancel</span> &nbsp;&nbsp;
                            <button class="btn btn-success submit-button" (click)="modal.close(suiteExecution)">Submit</button>
                          </div>
                        </div>

                      </div>

                    </ng-template>
                    <ng-container>
                      <span
                        (click)="reRunClick(suiteExecution, null, false)"
                        class="dropdown-item anchor-button pseudo-anchor">
                        Re-run all
                        <span class="dropdown-item-sub-text"> (This will rebuild the image on Jenkins again)</span>
                      </span>
                      <span
                          (click)="reRunClick(suiteExecution, ['FAILED', 'NOT_RUN'], false)"
                          class="dropdown-item anchor-button pseudo-anchor">
                        Re-run failed
                        <span class="dropdown-item-sub-text"> (This will rebuild the image on Jenkins again)</span>
                      </span>
                      <span *ngIf="suiteExecution.fields.test_bed_type !== 'simulation'"
                        (click)="reRunClick(suiteExecution, null, true)"
                        class="dropdown-item anchor-button pseudo-anchor">
                        Quick re-run all
                        <span class="dropdown-item-sub-text"> (This will not rebuild the image on Jenkins again. Instead, it will re-use the image from original job)</span>
                      </span>
                      <span *ngIf="suiteExecution.fields.test_bed_type !== 'simulation'"
                        (click)="reRunClick(suiteExecution, ['FAILED', 'NOT_RUN'], true)"
                        class="dropdown-item anchor-button pseudo-anchor">
                        Quick re-run failed
                        <span class="dropdown-item-sub-text"> (This will not rebuild the image on Jenkins again. Instead, it will re-use the image from original job)</span>
                      </span>
                    </ng-container>

                    <span *ngIf="suiteExecution.fields.state > stateMap.COMPLETED"
                          (click)="killClick(suiteExecution.fields.execution_id)"
                          class="dropdown-item anchor-button pseudo-anchor">Kill
                    </span>
                  </div>
                </div>

                <div ngbDropdown class="dropdown"
                     *ngIf="suiteExecution.fields.suite_type ==='dynamic' && suiteExecution.fields.state > stateMap.COMPLETED">
                  <a class="dropdown-toggle" role="button" aria-haspopup="true"
                     aria-expanded="false" ngbDropdownToggle>...
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <span *ngIf="suiteExecution.fields.state > stateMap.COMPLETED"
                          (click)="killClick(suiteExecution.fields.execution_id)"
                          class="dropdown-item anchor-button pseudo-anchor">Kill</span>
                  </div>
                </div>
              </td>
              <td>{{ suiteExecution.num_passed }}</td>
              <td>{{ suiteExecution.num_failed }}</td>
              <td>{{ suiteExecution.num_not_run }}</td>
              <td>{{ suiteExecution.num_in_progress }}</td>
              <td>{{ testCaseLength(suiteExecution.fields.test_case_execution_ids) }}</td>
              <td>{{ suiteExecution.fields.version === 'UNKNOWN'? '-': suiteExecution.fields.version }}</td>
              <td>
                <ng-container *ngIf="suiteExecution.fields.started_time">
                  {{ trimTime(suiteExecution.fields.started_time) }}
                </ng-container>
              </td>
              <td>
              <span class="pseudo-anchor"
                    (click)="navigateByQueryParams([{submitter_email: suiteExecution.fields.submitter_email}])">{{ userMap[suiteExecution.fields.submitter_email]?.first_name }} {{ userMap[suiteExecution.fields.submitter_email]?.last_name.charAt(0)}}
              </span>
              </td>

              <td>
                <ng-container *ngIf="suiteExecution.fields.suite_type === 'dynamic'; else regularSuitePath">
                  <span class="pseudo-anchor"
                        (click)="navigateByQueryParams([{suite_path: getReRunOriginalSuitePath(suiteExecution)}])">Re({{ getReRunOriginalSuitePath(suiteExecution)}})</span>
                  &nbsp;&nbsp;<small><span (click)="showDetailsClick(suiteExecution)"
                                           class="pseudo-anchor">...details</span></small>
                  <small>{{ suiteExecution.fields.description }}</small>

                </ng-container>
                <ng-template #regularSuitePath>
                  <span class="pseudo-anchor"
                        (click)="navigateByQueryParams([{suite_path: suiteExecution.fields.suite_path}])">{{ suiteExecution.fields?.suite_path?.length > 0 ? suiteExecution.fields.suite_path: suiteExecution.fields.script_path }}
                  </span>
                  &nbsp;&nbsp;<small><span (click)="showDetailsClick(suiteExecution)"
                                           class="pseudo-anchor">...details</span></small>
                  <p *ngIf="suiteExecution.fields.description">
                    <small>{{ suiteExecution.fields.description }}</small>
                  </p>
                </ng-template>

              </td>

              <td>
                <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numActive"
                      class="text-color-red">Active: <span
                  class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numActive }}</span></span>
                &nbsp;<span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numCompleted "
                            class="text-color-green">Completed: <span
                class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numCompleted }}</span></span>
                <ng-container *ngIf="suiteExecution.fields.suite_type === 'dynamic'">
                  <span (click)="showDetailsClick(suiteExecution)"
                        *ngIf="suiteExecution?.reRunInfo?.reRunInfo.length > 0">
                    <a href="/regression/suite_detail/{{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }}">Original: {{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }} </a>
                  </span>
                </ng-container>
              </td>
              <td>
                <span class="pseudo-anchor"
                      (click)="navigateByQueryParams([{test_bed_type: suiteExecution.fields.test_bed_type}])">{{ suiteExecution.fields.test_bed_type }}</span>
              </td>
              <td>
                <span *ngIf="suiteExecution?.BRANCH_FunOS"
                      style="font-size: 0.75em">{{ 'BRANCH_FunOS:' + suiteExecution?.BRANCH_FunOS }}</span>

              </td>
              <td>
                <label *ngFor="let tag of getTagList(suiteExecution.fields.tags)" class="badge badge-primary">
                  <span style="cursor: pointer" (click)="navigateByQueryParams([{tag: tag}])">{{ tag }}</span>
                </label>
              </td>
              <td>
                <ng-container>
                  <i (click)="onDeleteSuiteExecution(suiteExecution)" class="fa fa-trash-o"
                     style="font-size:20px; color: red"></i>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="suiteExecution.showingDetails">
              <td colspan="18">
                <ng-container *ngIf="suiteExecution.fields.suite_id">
                  Suite ID: {{ suiteExecution.fields.suite_id }} <span class="pseudo-anchor" (click)="onSuiteDetail(suiteExecution.fields.suite_id)">...suite details</span>
                  <div>Name: {{ suiteMap[suiteExecution.fields.suite_id].name }}</div>
                  <div>Description:</div>
                  <div [innerHTML]="suiteMap[suiteExecution.fields.suite_id].short_description | safeHtml"></div>
                </ng-container>
                <ng-container *ngIf="(suiteExecution.parsedInputs | keyvalue)?.length">
                  <app-section-horizontal-line [text]="'Inputs'"></app-section-horizontal-line>
                  <ngx-json-viewer [json]="suiteExecution.parsedInputs" [expanded]="false"></ngx-json-viewer>
                </ng-container>
                <ng-container *ngIf="(suiteExecution.parsedEnvironment | keyvalue)?.length">
                  <app-section-horizontal-line [text]="'Environment'"></app-section-horizontal-line>
                  <ngx-json-viewer [json]="suiteExecution.parsedEnvironment" [expanded]="false"></ngx-json-viewer>
                </ng-container>
                <app-re-run-panel *ngIf="suiteExecution.reRunInfo"
                                  [reRunInfo]="suiteExecution.reRunInfo"></app-re-run-panel>
              </td>
            </tr>

          </ng-container>




        </ng-container>

      </table>
      <table class="table" *ngIf="stateFilterString === filter.AUTO_SCHEDULED">
        <tr>
          <th class="text-center">Actions</th>
          <th class="text-center">ID</th>
          <th class="text-center">Submitter</th>
          <th class="text-center">Suite</th>
          <th class="text-center">Schedule</th>
          <th class="text-center">Test-bed</th>
          <th class="text-center">Enabled</th>

        </tr>
        <ng-container *ngFor="let suiteExecution of items">
          <tr style="text-align: center">
            <td style="text-align: center">
              <ng-container>
                <i (click)="onDeleteSuiteExecution(suiteExecution)" class="fa fa-trash-o"
                   style="font-size:20px; color: red"></i>
              </ng-container>
            </td>

            <td style="text-align: center">{{ suiteExecution.fields.execution_id }}</td>
            <td>{{ suiteExecution.fields.submitter_email }}</td>
            <td>
              {{ suiteExecution.fields.suite_type === 'dynamic'? 'Re(' + getReRunOriginalSuitePath(suiteExecution) + ')' : suiteExecution.fields.suite_path }}
              &nbsp;&nbsp;<small><span (click)="showDetailsClick(suiteExecution)"
                                       class="pseudo-anchor">...details</span></small>

            </td>

            <ng-container [ngSwitch]="suiteExecution.fields.scheduling_type">
              <td *ngSwitchCase="'periodic'">
                {{ requestedDaysToString(suiteExecution.fields.requested_days) + "[" + getRequestedTime(suiteExecution.fields.requested_hour, suiteExecution.fields.requested_minute) + "]" + suiteExecution.fields.timezone_string }}
              </td>
              <td *ngSwitchCase="'today'">
                {{ "[" + getRequestedTime(suiteExecution.fields.requested_hour, suiteExecution.fields.requested_minute) + "]" + suiteExecution.fields.timezone_string }}
              </td>
              <td *ngSwitchCase="'repeat'">
                Repeat in: {{ suiteExecution.fields.repeat_in_minutes }} minutes
              </td>
            </ng-container>
            <td>{{ suiteExecution.fields.test_bed_type }}</td>
            <td>
              <app-toggle-button [checked]="!suiteExecution.fields?.disable_schedule"
                                 (changed)="onChangeAutoSchedule($event, suiteExecution)"></app-toggle-button>
            </td>

          </tr>
          <tr *ngIf="suiteExecution.showingDetails">
            <td colspan="8">
              <ng-container *ngIf="suiteExecution.fields.suite_id">
                Suite ID: {{ suiteExecution.fields.suite_id }} <span class="pseudo-anchor" (click)="onSuiteDetail(suiteExecution.fields.suite_id)">...suite details</span>
                <div>Name: {{ suiteMap[suiteExecution.fields.suite_id].name }}</div>
                <div>Description:</div>
                <div [innerHTML]="suiteMap[suiteExecution.fields.suite_id].short_description | safeHtml"></div>
              </ng-container>
              <ng-container *ngIf="(suiteExecution.parsedInputs | keyvalue)?.length">
                <div><b>Inputs</b></div>

                <ngx-json-viewer [json]="suiteExecution.parsedInputs" [expanded]="false"></ngx-json-viewer>
              </ng-container>
              <ng-container *ngIf="(suiteExecution.parsedEnvironment | keyvalue)?.length">
                <div><b>Environment</b></div>

                <ngx-json-viewer [json]="suiteExecution.parsedEnvironment" [expanded]="false"></ngx-json-viewer>
              </ng-container>
              <app-re-run-panel *ngIf="suiteExecution.reRunInfo"
                                [reRunInfo]="suiteExecution.reRunInfo"></app-re-run-panel>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

</div>
