<p class="component">
  <button (click)="test()">Test</button>
</p>

<div class="card" *ngFor="let moduleInfo of info | keyvalue">
  <div class="card card-primary">
    <div class="card-header"><b>{{ moduleInfo.value.verboseName }}</b></div>
    <div class="card-body">
      <fun-chart [pointClickCallback]="pointClickCallback"
                 (pointInfo)="showPointDetails($event)"
                 [title]="moduleInfo.value.verboseName"
                 [y1AxisLabel]="'Results'"
                 [y1Values]="moduleInfo.value.y1Values"
                 [xValues]="moduleInfo.value.xValues"
                 [chartType]="'vertical_colored_bar_chart'">
      </fun-chart>
    </div>
    <div class="card-body" *ngIf="moduleInfo.value.showDetailedInfo">
      <button type="button" class="btn btn-success btn-sm"> Passed <span class="badge badge-light">{{ moduleInfo.value.detailedInfo.numPassed }}</span></button>
      <button type="button" class="btn btn-danger btn-sm"> Failed <span class="badge badge-light">{{ moduleInfo.value.detailedInfo.numFailed }}</span></button>
      <button type="button" class="btn btn-secondary btn-sm"> Not-run <span class="badge badge-light">{{ moduleInfo.value.detailedInfo.numNotRun }}</span></button>
      <div *ngFor="let scriptInfo of moduleInfo.value.detailedInfo.scriptDetailedInfo | keyvalue">
        <div>{{ scriptInfo.key }}</div>
        <table class="table">
          <tr>
            <th>Result</th>
            <th>Suite ID</th>
            <th>TC-ID</th>
            <th>Start-time</th>
          </tr>
          <tr *ngFor="let executionEntry of scriptInfo.value">
            <td>{{ executionEntry.result }}</td>
            <td><a target="_blank" href="/regression/suite_detail/{{ executionEntry.suite_execution_id }}">{{ executionEntry.suite_execution_id }}</a></td>
            <td>{{ executionEntry.test_case_id }}</td>
            <td>{{ executionEntry.started_time }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


</div>


