.fun-form-input-field-label {
  font-size: 14px;
}

.fun-form-inline-field {
  margin-right: 10px;
}

label {
  font-size: 14px;
}


/* Forms */
.fun-form {
  /*margin: 10px*/
}
.fun-form-field-container {
  margin-top: 15px;
  margin-bottom: 5px;

}
.fun-form-field {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fun-form .fun-form-label {
  margin-top: 5px;
  font-size: 14px;
  display: block;
}

input[disabled].fun-form-input  {
  color: #DCDAD1;
  padding: 2px;
  margin: 0 0 0 0;
  background-color: lightgrey;
}


.fun-attribute-section-header {
  font-size: 14px;
  display: block;
  font-weight: bold;
}


.fun-attribute-label {
  font-weight: bold;
  margin-right: 10px;
}

.fun-attribute-section {
  margin: 10px;
}

.fun-panel {
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,.125);
}

.fun-panel-header {
  padding: 5px;
  background-color: rgba(0,0,0,.03);
}

.fun-panel-body {
  padding: 5px;
}

