<div class="component">
  <fun-spinner [status]="status"></fun-spinner>
  <ng-container *ngIf="!status">
    <app-section-header
      [subText1]="'Release-train: ' + releaseCatalogExecution.release_train"
      [subText2]="'Owner: ' + releaseCatalogExecution.owner"
                        [staticTitle]="'Release: '"
      [title]="releaseCatalogExecution.description" [editable]="true" (editingCallback)="descriptionChangedCallback($event)"
      [leftAlignedButtons]="headerLeftAlignedButtons"
    >

    </app-section-header>

    <div class="fun-attribute" *ngIf="jobStatusTypes">
      State: <app-smart-label [value]="jobStatusTypes.descriptionMap[releaseCatalogExecution.state]"></app-smart-label>
    </div>
    <br>
    <ng-container *ngIf="addingSuites">
      <div class="fun-panel">
        <div class="fun-panel-header">
          Adding suites ...
        </div>
        <div class="fun-panel-body">
          <app-suites-view [@show]="addingSuites"
                       *ngIf="addingSuites"
                       [multiSelect]="true"
                       (reportSelectedSuites)="suitesSelectedByView($event)" (cancelSelection)="cancelSuiteSelection()">

          </app-suites-view>
        </div>
      </div>
    </ng-container>


    <app-section-header [title]="'Suites'" [subSection]="true"></app-section-header>
    <span *ngIf="!addingSuites" class="fun-action-link" (click)="addingSuites = !addingSuites">+ Add suites
    </span>
    <button class="fun-button-delete" (click)="deleteSuites()" *ngIf="atLeastOneSelected">Delete</button>
    <button *ngIf="!releaseCatalogExecution.ready_for_execution" class="fun-button-submit" (click)="execute()">Execute</button>

    <div class="fun-div" *ngFor="let suite_execution of releaseCatalogExecution.suite_executions">
      {{ suite_execution.suite_id }}:
      <div style="text-decoration: underline; display: inline-block"><b>{{ suite_execution.suite_details?.name }}</b>
      </div>
      <span>
        &nbsp;&nbsp;{{ suite_execution?.suite_details?.short_description }}
      </span>
      <div>
        <input type="checkbox" (click)="onSelectClicked()" [(ngModel)]="suite_execution.selected" [checked]="suite_execution.selected">&nbsp;
        <span>Test-bed: {{ suite_execution.test_bed_name }}

          <span *ngIf="(releaseCatalogExecution.state === jobStatusTypes.UNKNOWN) || (!suite_execution.test_bed_name)" class="fun-action-link" (click)="suite_execution.modifyingTestBed = !suite_execution.modifyingTestBed">modify</span>


          <ng-container *ngIf="suite_execution.modifyingTestBed">
            <select  id="test-bed" [(ngModel)]="newTestBedName">
              <option *ngFor="let testBed of testBeds" [ngValue]="testBed.name">{{ testBed.name }}
              </option>
            </select>
              <span><i class="fa fa-check fa-fw tick-color" (click)="onSubmitModifyTestBed(suite_execution, newTestBedName)"></i></span>
              <span><i class="fa fa-times fa-fw close-color" (click)="onCancelModifyTestBed(suite_execution, newTestBedName)"></i></span>
          </ng-container>
        </span>
        <span>
          , Scripts: {{ suite_execution?.suite_details?.entries.length }}
          <span class="fun-action-link" (click)="suite_execution.showingScripts = !suite_execution.showingScripts">{{ showingScripts? 'hide': 'show' }} scripts</span>
        </span>
      </div>
      <table *ngIf="suite_execution.showingScripts" [@show] class="fun-table">
        <tr>
          <td class="fun-table-header">
            Script path
          </td>
        </tr>
        <tr *ngFor="let entry of suite_execution?.suite_details?.entries">
          <td>{{ entry.script_path }}</td>
        </tr>
      </table>

    </div>


  </ng-container>

</div>
