<div class="component">
  <fun-spinner [status]="status"></fun-spinner>
  <ng-container *ngIf="!status && jobStatusTypes">
    <app-section-header
      [subText1]="headerSubText1"
      [subText2]="'Owner: ' + releaseCatalogExecution.owner"
                        [staticTitle]="'Release: '"
      [title]="releaseCatalogExecution.description" [editable]="true" (editingCallback)="descriptionChangedCallback($event)"
      [leftAlignedButtons]="headerLeftAlignedButtons"
      [titleStateLabel]="jobStatusTypes?.descriptionMap[releaseCatalogExecution.state]"
      [titleResultLabel]="releaseCatalogExecution.result"
    >
    </app-section-header>
    <div *ngIf="releaseCatalogExecution.master_execution_id">
      <a [routerLink]="['/regression/release_detail/' + releaseCatalogExecution.master_execution_id]">Go to master instance</a>
    </div>
    <app-section-header [title]="'Suites'"
                        [subSection]="true"
                        [titleActionLinks]="suitesHeaderActionLinks"
                        [titleLeftAlignedButtons]="suitesHeaderLeftAlignedButtons"></app-section-header>
    <ng-container *ngIf="addingSuites">
      <div class="fun-panel">
        <div class="fun-panel-header">
          Adding suites ...
        </div>
        <div class="fun-panel-body">
          <app-suites-view [@show]="addingSuites"
                       *ngIf="addingSuites"
                       [multiSelect]="true"
                       (reportSelectedSuites)="suitesSelectedByView($event)" (cancelSelection)="cancelSuiteSelection()">

          </app-suites-view>
        </div>
      </div>
    </ng-container>
    <button *ngIf="!releaseCatalogExecution.ready_for_execution" class="fun-button-submit" (click)="execute()">Execute</button>

    <div class="fun-div" *ngFor="let suite_execution of releaseCatalogExecution.suite_executions">
      <div><b>{{ suite_execution.suite_id }}: {{ suite_execution.suite_details?.name }}</b>&nbsp;&nbsp;{{ suite_execution?.suite_details?.short_description }}</div>

      <div>
      Job-ID:
        <ng-container *ngIf="suite_execution.job_id else jobIdUnavailable">
          <a href="/regression/suite_detail/{{ suite_execution.job_id }}">{{ suite_execution.job_id }}</a>
        </ng-container>
        <ng-template #jobIdUnavailable>
          Not available
        </ng-template>
        <span *ngIf="suite_execution.job_id">
          &nbsp;State: <app-smart-label [value]="jobStatusTypes.descriptionMap[suite_execution.job_status]"></app-smart-label>
          &nbsp;Result: <app-smart-label [value]="suite_execution.job_result"></app-smart-label>
          <ng-container *ngIf="(suite_execution.job_status > jobStatusTypes.UNKNOWN) && (suite_execution.job_status <= jobStatusTypes.COMPLETED) && (!suite_execution?.re_run_request_submitted)">
            &nbsp;<span class="fun-action-link" (click)="reRunRequest(suite_execution)">Re-run</span>
          </ng-container>
          <ng-container *ngIf="suite_execution?.re_run_request_submitted">
            &nbsp;<span>Re-run submitted</span>
          </ng-container>
        </span>

      </div>
      <span>

      </span>
      <div>
        <input type="checkbox" (click)="onSelectClicked()" [(ngModel)]="suite_execution.selected" [checked]="suite_execution.selected">&nbsp;
        <span>Test-bed: {{ suite_execution.test_bed_name }}

          <span *ngIf="(releaseCatalogExecution.state === jobStatusTypes.UNKNOWN) || (!suite_execution.test_bed_name)" class="fun-action-link" (click)="suite_execution.modifyingTestBed = !suite_execution.modifyingTestBed">modify</span>
          <ng-container *ngIf="suite_execution.modifyingTestBed">
            <select  id="test-bed" [(ngModel)]="newTestBedName">
              <option *ngFor="let testBed of testBeds" [ngValue]="testBed.name">{{ testBed.name }}
              </option>
            </select>
              <span><i class="fa fa-check fa-fw tick-color" (click)="onSubmitModifyTestBed(suite_execution, newTestBedName)"></i></span>
              <span><i class="fa fa-times fa-fw close-color" (click)="onCancelModifyTestBed(suite_execution, newTestBedName)"></i></span>
          </ng-container>
        </span>
        <span>
          , Scripts: {{ suite_execution?.suite_details?.entries.length }}
          <span class="fun-action-link" (click)="suite_execution.showingScripts = !suite_execution.showingScripts">{{ suite_execution.showingScripts? 'hide': 'show' }} scripts</span>
        </span>
        <span *ngIf="suite_execution?.run_history.length > 0">
          , Previous runs: {{ suite_execution?.run_history.length }}
          <span class="fun-action-link" (click)="suite_execution.showingRunHistory = !suite_execution.showingRunHistory">{{ suite_execution.showingRunHistory? 'hide': 'show' }} history </span>

        </span>

        <ng-container *ngIf="suite_execution.error_message">
          Last error (updates every 3 mins): <app-messages-panel [messages]="[suite_execution.error_message]" [type]="'ERROR'"></app-messages-panel>
        </ng-container>
      </div>
      <table *ngIf="suite_execution.showingScripts" [@show] class="fun-table">
        <tr>
          <td class="fun-table-header">
            Script path
          </td>
        </tr>
        <tr *ngFor="let entry of suite_execution?.suite_details?.entries">
          <td>{{ entry.script_path }}</td>
        </tr>
      </table>
      <table *ngIf="suite_execution.showingRunHistory" [@show] class="fun-table">
        <tr>
          <td class="fun-table-header">
            Job-ID
          </td>
          <td class="fun-table-header">
            Result
          </td>
        </tr>
        <tr *ngFor="let entry of suite_execution?.run_history">
          <td><a href="/regression/suite_detail/{{ entry.job_id }}">{{ entry.job_id }}</a></td>
          <td><app-smart-label [value]="entry.job_result"></app-smart-label></td>
        </tr>
      </table>
    </div>


  </ng-container>
  <!--button (click)="test()">Test</button-->
</div>
