a {
  cursor: pointer;
}

.arrow-icon {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.a-text a {
  color: #337ab7;
}

.card-button {
  width: fit-content;
  cursor: pointer;
}

.properties-margin {
  margin: 4px;
}

.chart-div {
  width: 100%;
  height: 100%;
}

.git-commit {
  color: white;
  border: solid 1px black;
  background-color: #337ab7;
}

.highlight {
  text-decoration: underline !important;
  color: black !important;
  font-weight: 600 !important;
}
