<fun-spinner [status]="status"></fun-spinner>
<div *ngIf="status === null" class="chart-div" [ngClass]="{'component': paddingNeeded}">
  <div style="max-width: 1000px; height: 100%; margin: auto;">
    <br>
    <!-- showing the units dropdown on the right and days in past on the left-->
    <div *ngIf="!minimal">
      <span style="float: left">
        <span *ngIf="showingAll">
          <span class="fun-action-link" (click)="setDaysInPast(DEFAULT_DAYS_IN_PAST)">Last 60 days</span>&nbsp;|&nbsp;
          <span class="highlight">All</span>
        </span>
        <span *ngIf="!showingAll">
          <span class="highlight">Last 60 days</span>&nbsp;|&nbsp;
          <span class="fun-action-link" (click)="setDaysInPast(MAX_DAYS_IN_PAST)">All</span>
        </span>
      </span>
      <select *ngIf="leaf" [(ngModel)]="selectedUnit"
              (ngModelChange)="onUnitChange($event)" style="float: right">
        <option [ngValue]="units" *ngFor="let units of category">{{ units }}</option>
      </select>
    </div>

    <!-- fun chart component -->
    <fun-chart [mileStones]="mileStoneIndices" [y1AxisPlotLines]="y1AxisPlotLines" [yMax]="yMax" [yMin]="yMin"
               [y1Values]="values"
               [xValues]="series"
               [title]="chartName"
               [xAxisLabel]="chart1XaxisTitle"
               [y1AxisLabel]="chart1YaxisTitle"
               [backgroundColor]="backgroundColor"
               [seriesColors]="seriesColors"
               [tooltipFormatter]="tooltip"
               [pointClickCallback]="pointClickCallback" (pointInfo)="showPointDetails($event)"></fun-chart>
    <!--showing clicked point details when selected on a chart-->
    <div class="card" *ngIf="pointClicked && leaf">
      <div class="properties-margin">
        <table>
          <tr *ngFor="let point of pointInfo | keyvalue">
            <td class="no-wrap">
              <b>{{ point.key }}:</b>
            </td>
            <ng-container [ngSwitch]="point.key">
              <td *ngSwitchCase="'LSF job id'" class="word-break">
                <a class="pseudo-anchor" (click)="openLsfUrl(point.value)">{{ point.value }}</a>
              </td>
              <!--<td *ngSwitchCase="'Version'" class="word-break">-->
                <!--<a class="pseudo-anchor" (click)="openVersionUrl(point.value)">{{ point.value }}</a>-->
              <!--</td>-->
              <td *ngSwitchCase="'Suite execution id'" class="word-break">
                <a class="pseudo-anchor" (click)="openSuiteUrl(point.value)">{{ point.value }}</a>
              </td>
              <td *ngSwitchCase="'Suite log directory'" class="word-break">
                <a class="pseudo-anchor" (click)="openSuiteLog(point.value)">Link</a>
              </td>
              <td *ngSwitchCase="'Associated suites'" class="word-break">
                <a *ngFor="let value of point.value"
                   class="pseudo-anchor" (click)="openSuiteUrl(value)">{{ value }}
                </a>
              </td>
              <td *ngSwitchDefault class="word-break">
                {{ point.value }}
              </td>
            </ng-container>
          </tr>
        </table>
        <a *ngIf="!showBuildProps && buildProps" class="pseudo-anchor" (click)="showBuildProps = !showBuildProps">Show
          Build
          Properties</a>
        <a *ngIf="showBuildProps && buildProps" class="pseudo-anchor" (click)="showBuildProps = !showBuildProps">Hide
          Build
          Properties</a><br>
        <div style="padding: 4px;" *ngIf="showBuildProps && buildProps">
          <pre>{{ buildProps | json }}</pre>
        </div>
        <cancel-btn-link [text]="'close'" (onClick)="closePointInfo()"></cancel-btn-link>
      </div>
    </div>
    <!-- showing owner info only when leaf charts are clicked -->
    <div *ngIf="!minimal">
      <div *ngIf="leaf">
        <i *ngIf="!editingOwner" class="grey-text">Owner: <span
          (click)="editingOwner = true">{{ currentOwner }}</span></i>
        <i *ngIf="editingOwner" style="font-size: 95%;">Owner: <input type="text" class="owner-text"
                                                                      [(ngModel)]="currentOwner">
          <span><i class="fa fa-check fa-fw tick-color" (click)="submit()"></i></span>
          <span><i class="fa fa-times fa-fw close-color" (click)="editingOwner = false"></i></span></i>
        <span style="float: right;" *ngIf="!editingSource"><i class="grey-text">Source: </i><i class="grey-text"
                                                                                               *ngIf="currentSource === 'Unknown'">{{ currentSource }}</i>
          <a *ngIf="currentSource !== 'Unknown'" class="pseudo-anchor" (click)="openSource(currentSource)">{{
            getAppName(currentSource)
            }}</a>&nbsp;
          <a (click)="editingSource = true"><i class="fa fa-pencil"></i></a></span>
        <i *ngIf="editingSource" style="font-size: 95%; float: right">Source: <input type="text" class="owner-text"
                                                                                     [(ngModel)]="currentSource">
          <span><i class="fa fa-check fa-fw tick-color" (click)="submit()"></i></span>
          <span><i class="fa fa-times fa-fw close-color" (click)="editingSource = false"></i></span></i>
        <br>
      </div>
      <br>
      <div>
        <b>Description: </b><a *ngIf="!editingDescription" (click)="toggleEdit()"><i class="fa fa-pencil"></i></a>
        <br>
        <div [innerHTML]="currentDescription | safeHtml"></div>
        <div *ngIf="editingDescription">
          <br>
          <textarea rows="30" [(ngModel)]="currentDescription" style="min-width: 100%;"></textarea>
          <button class="btn btn-success" (click)="submit()">Submit</button>
          <a style="padding: 5px;" (click)="toggleEdit()">Cancel</a>
        </div>
      </div>
      <br>
      <div *ngIf="leaf">
        <b>Show expected values:</b>&nbsp;
        <a *ngIf="!showAllExpectedValues && showSelect" class="pseudo-anchor" (click)="changeAllExpectedValues()">Select
          All</a>
        <a *ngIf="showAllExpectedValues && showSelect" class="pseudo-anchor" (click)="changeAllExpectedValues()">Deselect
          All</a>
        <table>
          <tr *ngFor="let output of expectedValues">
            <td *ngIf="output.value && output.value !== -1">
              <input
                type="checkbox"
                [checked]="output.show"
                (change)="changeExpectedValueShow(output)"/>&nbsp;
            </td>
            <td>
              <i>{{ output.name }}:</i>&nbsp;
            </td>
            <td *ngIf="output.value && output.value !== -1">
              {{ output.value }} {{ output.unit }}
            </td>
            <td *ngIf="!output.value || output.value === -1">
              Not set
            </td>
          </tr>
        </table>
      </div>
      <!--<div>-->
        <!--<i *ngIf="!editingDaysInPast" class="grey-text">Show days in past: <span-->
          <!--(click)="editingDaysInPast = true">{{ daysInPast }}</span></i>-->
        <!--<i *ngIf="editingDaysInPast" style="font-size: 95%;">Show days in past: <input type="number"-->
                                                                                       <!--style="width: 100px"-->
                                                                                       <!--[(ngModel)]="daysInPast">-->
          <!--<span><i class="fa fa-check fa-fw tick-color" (click)="submitDaysInPast()"></i></span>-->
          <!--<span><i class="fa fa-times fa-fw close-color" (click)="editingDaysInPast = false"></i></span></i>-->
      <!--</div>-->
    </div>
    <br>
    <div class="closed-section"></div>
    <!-- Show tables below the leaf chart -->
    <div *ngIf="!minimal && leaf" style="padding-top: 10px; padding-bottom: 10px;">
      <div *ngIf="!minimal">
        <span class="a-text">
          <a *ngIf="!showingTable" class="pseudo-anchor" (click)="showTables()">Show Table </a>
          <a *ngIf="showingTable" class="pseudo-anchor" (click)="showTables()">Hide Table </a>
          <a class="pseudo-anchor" (click)="showTables()"><span *ngIf="!showingTable" class="arrow-right"></span>
          <span *ngIf="showingTable" class="arrow-down"></span>
          </a>
        </span>
        <div *ngIf="showingTable" scrollTo>
          <h3 style="float: left;">{{ chartName }}</h3>
          <fun-table [data]="data"></fun-table>
          <p class="no-margin"><a target="_blank" href="/performance/score_table/{{ metricId }}">Scores link</a></p>
        </div>
      </div>
    </div>
    <!-- configure button below the leaf chart -->
    <div *ngIf="!minimal" style="padding-top: 10px; padding-bottom: 10px;">
      <div *ngIf="!minimal">
        <span class="a-text">
          <a class="pseudo-anchor" (click)="showConfigure()">Configure </a>
          <a class="pseudo-anchor" (click)="showConfigure()"><span *ngIf="!showingConfigure" class="arrow-right"></span>
            <span *ngIf="showingConfigure" class="arrow-down"></span>
          </a>
        </span>
        <div *ngIf="showingConfigure">
          <p style="margin-top: 10px; margin-bottom: 0"><b>Metric ID: </b>{{ metricId }}</p>
          <table class="table table-nonfluid table-borderless">
            <tr>
              <th>Name</th>
              <th *ngIf="leaf">Field</th>
              <th>Min</th>
              <th>Max</th>
              <ng-container *ngIf="leaf">
                <th>Expected</th>
                <th>Reference</th>
                <th>Unit</th>
              </ng-container>
            </tr>
            <tr *ngFor="let dataSet of previewDataSets">
              <td>{{ dataSet.name }}</td>
              <td *ngIf="leaf">{{ dataSet.output.name }}</td>
              <td><input type="number" [(ngModel)]="dataSet.output.min" [value]="dataSet.output.min"
                         style="width: 100px"></td>
              <td><input type="number" [(ngModel)]="dataSet.output.max" [value]="dataSet.output.max"
                         style="width: 100px"></td>
              <ng-container *ngIf="leaf">
                <td><input type="number" [(ngModel)]="dataSet.output.expected"
                           [value]="dataSet.output.expected"
                           style="width: 100px"></td>
                <td><input type="number" [(ngModel)]="dataSet.output.reference"
                           [value]="dataSet.output.reference"
                           style="width: 100px"></td>
                <td>{{ dataSet.output.unit }}</td>
              </ng-container>
            </tr>
          </table>
          <table class="table table-nonfluid table-borderless">
            <tr>
              <td>
                BaseLine Date:&nbsp;
              </td>
              <td><input type="text" [(ngModel)]="baseLineDate" [value]=""
                         style="width: 300px">
              </td>
            </tr>
            <tr *ngIf="platform == Platform.S1 && leaf">
              <td>
                Set Expected Values:
              </td>
              <td>
                <select [(ngModel)]="expectedOperation" style="width: 100px">
                  <option [ngValue]="key" *ngFor="let key of expectedOperationCategory">{{ key }}</option>
                </select>
              </td>
            </tr>
            <tr *ngIf="leaf">
              <td>
                Visualization Unit:&nbsp;
              </td>
              <td>
                <select [(ngModel)]="changingVizUnit" style="width: 100px">
                  <option [ngValue]="units" *ngFor="let units of category">{{ units }}</option>
                </select>
              </td>
            </tr>
          </table>
          <ng-container *ngIf="leaf">
            <p><input type="checkbox" [checked]="negativeGradient"
                      [(ngModel)]="negativeGradient">&nbsp;Negative
              gradient
            </p>
            <p><input type="checkbox" [checked]="leaf" [(ngModel)]="leaf">&nbsp;Leaf</p>
          </ng-container>
          <p class="no-margin"><a target="_blank" href="/admin/fun_test/metricchart/{{ chartInfo.pk }}/change/">Admin
            link</a></p>
          <div class="row">
            <div style="padding: 10px;">
              <button class="btn btn-success" (click)="submit()">Submit</button>
              <a (click)="showConfigure()"> Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
