<fun-spinner [status]="status"></fun-spinner>
<div *ngIf="status === null" class="chart-div" [ngClass]="{'component': paddingNeeded}">
  <div style="max-width: 1000px; height: 100%; margin: auto;">
    <br>
    <!-- showing week month and all time mode for leafs -->
    <div *ngIf="!minimal" [ngSwitch]="timeMode">
      <div *ngSwitchCase="'all'">
        <a (click)="setTimeMode('week')"> Week </a>/
        <a (click)="setTimeMode('month')"> Month </a>/
        <b><u><a (click)="setTimeMode('all')"> All </a></u></b>
      </div>
      <div *ngSwitchCase="'week'">
        <b><u><a (click)="setTimeMode('week')"> Week </a></u></b>/
        <a (click)="setTimeMode('month')"> Month </a>/
        <a (click)="setTimeMode('all')"> All </a>
      </div>
      <div *ngSwitchCase="'month'">
        <a (click)="setTimeMode('week')"> Week </a>/
        <b><u><a (click)="setTimeMode('month')"> Month </a></u></b>/
        <a (click)="setTimeMode('all')"> All </a>
      </div>
    </div>
    <!-- fun chart component -->
    <fun-chart [mileStones]="mileStoneIndices" [y1Values]="values" [xValues]="series" [title]="chartName"
               [xAxisLabel]="chart1XaxisTitle"
               [y1AxisLabel]="chart1YaxisTitle" [xAxisFormatter]="formatter" [tooltipFormatter]="tooltip"
               [pointClickCallback]="pointClickCallback" (pointInfo)="showPointDetails($event)"></fun-chart>
    <!--showing clicked point details when selected on a chart-->
    <div class="card" *ngIf="pointClicked && modelName !== 'MetricContainer'">
      <div class="properties-margin">
        <table>
          <tr *ngFor="let point of pointInfo">
            <td class="no-wrap">
              <b>{{ point.name }}:</b>
            </td>
            <td class="word-break">
              {{ point.value }}
            </td>
          </tr>
        </table>
        <a *ngIf="!showBuildProps" [routerLink]="" (click)="showBuildProps = !showBuildProps">Show Build
          Properties</a>
        <a *ngIf="showBuildProps" [routerLink]="" (click)="showBuildProps = !showBuildProps">Hide Build
          Properties</a><br>
        <div style="padding: 4px;" *ngIf="showBuildProps && buildProps">
          <pre>{{ buildProps.value }}</pre>
        </div>
        <cancel-btn-link [text]="'close'" (onClick)="closePointInfo()"></cancel-btn-link>
      </div>
    </div>
    <!-- showing owner info and description only when leaf charts are clicked -->
    <div *ngIf="!minimal">
      <div *ngIf="modelName !== 'MetricContainer'" style="float: right">
        <i *ngIf="!editingOwner" class="grey-text">Owner: <span
          (click)="editingOwner = true">{{ inner.currentOwner }}</span></i>
        <i *ngIf="editingOwner" style="font-size: 95%;">Owner: <input type="text" class="owner-text"
                                                                      [(ngModel)]="inner.currentOwner">
          <span><i class="fa fa-check fa-fw tick-color" (click)="submit()"></i></span>
          <span><i class="fa fa-times fa-fw close-color" (click)="editingOwner = false"></i></span></i>
        <br>
      </div>
      <br>
      <div>
        <b>Description: </b><a *ngIf="!editingDescription" (click)="toggleEdit()"><i class="fa fa-pencil"></i></a>
        <br>
        <div [innerHTML]="inner.currentDescription"></div>
        <div *ngIf="editingDescription">
          <br>
          <textarea rows="4" [(ngModel)]="inner.currentDescription" style="min-width: 100%;"></textarea>
          <button class="btn btn-success" (click)="submit()">Submit</button>
          <a style="padding: 5px;" (click)="toggleEdit()">Cancel</a>
        </div>
      </div>
      <div *ngIf="modelName !== 'MetricContainer'">
        <span *ngIf="!editingSource"><i class="grey-text">Source: </i><span *ngIf="inner.currentSource === 'Unknown'">{{ inner.currentSource }}</span>
          <a *ngIf="inner.currentSource !== 'Unknown'" [routerLink]="" (click)="openSource(inner.currentSource)">{{ getAppName(inner.currentSource) }}</a>&nbsp;
          <a (click)="editingSource = true"><i class="fa fa-pencil"></i></a></span>
        <i *ngIf="editingSource" style="font-size: 95%;">Source: <input type="text" class="owner-text"
                                                                        [(ngModel)]="inner.currentSource">
          <span><i class="fa fa-check fa-fw tick-color" (click)="submit()"></i></span>
          <span><i class="fa fa-times fa-fw close-color" (click)="editingSource = false"></i></span></i>
        <br>
      </div>
      <br>
    </div>
    <div class="closed-section"></div>
    <!-- Show tables below the leaf chart -->
    <div *ngIf="!minimal && modelName !== 'MetricContainer'" style="padding-top: 10px; padding-bottom: 10px;">
      <div *ngIf="!minimal">
    <span class="a-text">
      <a *ngIf="!showingTable" [routerLink]="" (click)="showTables()">Show Table </a>
      <a *ngIf="showingTable" [routerLink]="" (click)="showTables()">Hide Table </a>
      <a [routerLink]="" (click)="showTables()"><span *ngIf="!showingTable" class="arrow-right"></span>
        <span *ngIf="showingTable" class="arrow-down"></span>
      </a>
    </span>
        <div *ngIf="showingTable" scrollTo>
          <h3 style="float: left;">{{ chartName }}</h3>
          <fun-table [data]="data"></fun-table>
        </div>
      </div>
    </div>
    <!-- configure button below the leaf chart -->
    <div *ngIf="!minimal && modelName !== 'MetricContainer'" style="padding-top: 10px; padding-bottom: 10px;">
      <div *ngIf="!minimal">
    <span class="a-text">
      <a [routerLink]="" (click)="showConfigure()">Configure </a>
      <a [routerLink]="" (click)="showConfigure()"><span *ngIf="!showingConfigure" class="arrow-right"></span>
        <span *ngIf="showingConfigure" class="arrow-down"></span>
      </a>
    </span>
        <div *ngIf="showingConfigure">
          <table class="table table-nonfluid table-borderless" *ngFor="let dataSet of previewDataSets">
            <tr>
              <th>Name</th>
              <th>Field</th>
              <th>Min</th>
              <th>Max</th>
              <th>Expected</th>
            </tr>
            <tr>
              <td>{{ dataSet.name }}</td>
              <td>{{ dataSet.output.name }}</td>
              <td><input type="number" [(ngModel)]="dataSet.output.min" [value]="dataSet.output.min"
                         style="width: 100px"></td>
              <td><input type="number" [(ngModel)]="dataSet.output.max" [value]="dataSet.output.max"
                         style="width: 100px"></td>
              <td><input type="number" [(ngModel)]="dataSet.output.expected"
                         [value]="dataSet.output.expected"
                         style="width: 100px"></td>
            </tr>
          </table>
          <p><input type="checkbox" [checked]="negativeGradient" [(ngModel)]="inner.negativeGradient">&nbsp;Negative
            gradient
          </p>
          <p><input type="checkbox" [checked]="leaf" [(ngModel)]="inner.leaf">&nbsp;Leaf</p>
          <div class="row">
            <div style="padding: 10px;">
              <button class="btn btn-success" (click)="submit()">Submit</button>
              <a (click)="showConfigure()"> Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
