{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="qa-dashboard">
<head>
    <title>QA Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link href="{% static "css/common/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link href="{% static "css/qa_dashboard/qa_dashboard.css" %}" rel="stylesheet">


    {% block javascript %}

        <script src="{% static "js/common/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/common/bootstrap.min.js" %}"></script>
        <!-- script src="{% static "js/common/angular.min.js" %}"></script -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js"
                type="application/javascript"></script>
        <script src="{% static "js/qa_dashboard/fun_field_component.js" %}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{% static "js/qa_dashboard/qa_dashboard.js" %}"></script>
        <script src="{% static "js/common/fun_chart.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    {% endblock %}


</head>
<body>


<!--div class="nav-side-menu" style="width: 10%">
    <div class="brand">Fungible QA</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#regression-tasks">
                <a href="#"><i class="fa fa-dashboard fa-lg"></i>Regression<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu" id="regression-tasks">
                <li class="active"><a href="/regression">All Jobs</a></li>
                <li class="active"><a href="/regression/completed_jobs">Completed Jobs</a></li>
                <li class="active"><a href="/regression/pending_jobs">Pending Jobs</a></li>
                <li class="active"><a href="/regression/jenkins_jobs">Jenkins Jobs</a></li>
                <li><a href="/regression/submit_job_page">Submit Jobs</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#test-case" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Test-cases <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="test-case">
                <li><a href="/tcm/view_catalog_page">View Catalog</a></li>
                <li><a href="/tcm/create_catalog_page">Create Catalog</a></li>
            </ul>
        </ul>
    </div>
</div-->

<nav class="navbar navbar-default" style="background-color: #337ab7;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#qa-dashboard-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: white">Fungible QA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="qa-dashboard-navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" style="color: white;background-color: #337ab7" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Regression<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/regression">All Jobs</a></li>
                        <li><a href="/regression/completed_jobs">Completed Jobs</a></li>
                        <li><a href="/regression/pending_jobs">Pending Jobs</a></li>
                        <li><a href="/regression/submit_job_page">Submit Job</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/regression/jenkins_jobs">Jenkins Jobs</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="color: white;background-color: #337ab7">Test-cases<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tcm/view_catalogs">View Catalogs</a></li>
                        <li><a href="/tcm/create_catalog_page">Create Catalog</a></li>
                    </ul>
                </li>
            </ul>
            <!--form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/common/alerts_page" role="button" style="color: white;background-color: #337ab7">Alerts</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% verbatim %}
<div class="content" ng-controller="QaDashBoardController" ng-if="showCommonError">
    <div class="alert alert-danger alert-dismissible show" role="alert">
        <strong>{{ commonErrorMessage }}</strong> {{ detailError }}
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" ng-click="closeCommonError()">&times;</span>
        </button>
    </div>
</div>
<div class="content" ng-controller="QaDashBoardController" ng-if="showCommonSuccess">
    <div class="alert alert-success alert-dismissible show" role="alert">
        <strong>{{ commonSuccessMessage }}</strong>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" ng-click="closeCommonSuccess()">&times;</span>
        </button>
    </div>
</div>
{% endverbatim %}

{% block content %}
{% endblock %}


</body>
</html>

