<div class="component">
  <div class="row">
    <div class="col">
      <div class="fun-panel">
        <div class="fun-panel-header">
          <span *ngIf="suiteExecution" class="fun-panel-header-main-text">Suite: {{ suiteExecution.fields.suite_type === 'dynamic'? 'Re(' + getReRunOriginalSuitePath(suiteExecution) + ')' : suiteExecution.fields.suite_path }}
            </span>
          <small *ngIf="suiteExecution"><a href="/regression/suite_editor/{{ suiteExecution.fields.suite_id }}">Go to suite</a></small>
          <small style="float: right" *ngIf="suiteExecution">Submitted by: {{ suiteExecution.fields.submitter_email }}</small>

        </div>
        <div class="fun-panel-body">
          <div class="description" *ngIf="suiteExecution && suiteExecution.fields.description && suiteExecution.fields.description.length > 0">
            {{ suiteExecution.fields.description }}
          </div>

          <table *ngIf="suiteExecution">
            <tr>
              <td class="attribute-table-td"><span class="attribute-table-main-text">Job ID </span>{{ suiteExecution.fields.execution_id }}</td>
              <td class="attribute-table-td"><span  class="attribute-table-main-text">State</span> <app-smart-label [value]="stateStringMap[suiteExecution.fields.state]"></app-smart-label>
                <span *ngIf="suiteExecution?.fields.state > stateMap.COMPLETED" (click)="killClick(suiteExecution.fields.execution_id)" class="anchor-button pseudo-anchor" style="padding: 5px;"> Kill</span>
              </td>
              <td class="attribute-table-td" *ngIf="suiteExecution">
                <span class="attribute-table-main-text">Preserve logs</span>
                <app-toggle-button [checked]="suiteExecution.fields?.preserve_logs" (changed)="onTogglePreserveLogs($event, preserveLogs)"></app-toggle-button>
              </td>
            </tr>
            <tr>
              <td class="attribute-table-td" *ngIf="suiteExecution && suiteExecution.fields && (suiteExecution.fields.state == stateMap.IN_PROGRESS || suiteExecution.fields.state <= stateMap.COMPLETED)">
                <span class="attribute-table-main-text">Started at</span> {{ localizeTime(suiteExecution.fields.started_time) }}
              </td>
              <td class="attribute-table-td" *ngIf="suiteExecution && suiteExecution.fields && (suiteExecution.fields.state <= stateMap.COMPLETED)">
                <span class="attribute-table-main-text">Completed at</span> {{ localizeTime(suiteExecution.fields.completed_time) }}
              </td>
              <td class="attribute-table-td">
                <span class="attribute-table-main-text">Running time</span> {{ getRunningTime() }}
              </td>
            </tr>
            <tr>
              <td class="attribute-table-td">
                <span class="attribute-table-main-text">Test-bed type</span> {{ suiteExecution?.fields?.test_bed_type }}
              </td>
              <td class="attribute-table-td">
                <span class="attribute-table-main-text">Version</span> {{ suiteExecution?.fields?.version }}
              </td>
              <td class="attribute-table-td" *ngIf="environment?.BRANCH_FunOS">
                <span class="attribute-table-main-text">BRANCH_FUNOS</span>{{ environment.BRANCH_FunOS }}
              </td>
              <td class="attribute-table-td" *ngIf="environment?.RELEASE_BUILD">
                <span class="attribute-table-main-text">RELEASE_BUILD</span>{{ environment.RELEASE_BUILD }}
              </td>
            </tr>
            <tr>
              <td class="attribute-table-td" *ngIf="suiteExecution">
                <span class="attribute-table-main-text">Log directory</span>
                  <a href="{{ getSchedulerLogDir(suiteExecution.fields.execution_id) | async }}">Link</a>
                <span style="margin: 0 10px 0" class="pseudo-anchor fun-button-secondary" [ngClass]="{'fun-button-secondary-active' : showingLogPath}" (click)="showingLogPath = !showingLogPath">
                  Show path
                </span>
              </td>
              <td class="attribute-table-td" *ngIf="(suiteExecution.parsedInputs | keyvalue)?.length">
                <span class="pseudo-anchor fun-button-secondary" [ngClass]="{'fun-button-secondary-active' : showingInputs}" (click)="showingInputs = !showingInputs">
                  Show inputs
                </span>
              </td>
              <td class="attribute-table-td" *ngIf="(suiteExecution.parsedEnvironment | keyvalue)?.length">
                <span class="pseudo-anchor fun-button-secondary" [ngClass]="{'fun-button-secondary-active' : showingEnvironment}" (click)="showingEnvironment = !showingEnvironment">
                  Show environment
                </span>
              </td>
            </tr>
            <tr *ngIf="showingLogPath" style="background-color: #e7e7e7">
              <td colspan="3">
                {{ ABSOLUTE_LOG_DIRECTORY + suiteExecution.fields.execution_id }}
              </td>
            </tr>
            <tr *ngIf="showingInputs">
              <td colspan="3" *ngIf="(suiteExecution.parsedInputs | keyvalue)?.length">
                <ngx-json-viewer [json]="suiteExecution.parsedInputs" [expanded]="false"></ngx-json-viewer>
              </td>
            </tr>
            <tr *ngIf="showingEnvironment">
               <td colspan="3" *ngIf="(suiteExecution.parsedEnvironment | keyvalue)?.length">
                <ngx-json-viewer [json]="suiteExecution.parsedEnvironment" [expanded]="false"></ngx-json-viewer>
              </td>
            </tr>
            <tr>
              <td class="attribute-table-td">
                <span class="attribute-table-main-text">Result</span> <app-smart-label [value]="suiteExecution?.fields?.result"></app-smart-label>
                 <span
                  *ngIf="(suiteExecution?.fields.state !== stateMap.IN_PROGRESS) && (suiteExecution?.fields.state !== stateMap.ABORTED)"
                  (click)="reRunModalOpen(suiteContent)"
                  class="pseudo-anchor anchor-button" style="padding: 5px">Re-run options
                </span>
                <ng-template #suiteContent let-modal>
                  <div class="fun-panel">
                    <div class="fun-panel-header">
                      Re-run options
                      <span *ngIf="reRunScript"> Script: {{ reRunScript }}</span>
                    </div>
                    <div class="fun-panel-body">
                      <div class="re-run-div">
                        <button (click)="toggleReRunOptions()" class="btn click-button"
                                [ngClass]="{'btn-primary': reRunOptionsReRunAll, 'btn-outline-primary': !reRunOptionsReRunAll}">
                          <i class="fa" [ngClass]="{'fa-check': reRunOptionsReRunAll}"></i> Re-run all
                        </button>
                      </div>
                      <div class="re-run-div">
                        <button (click)="toggleReRunOptions()" class="btn click-button"
                                [ngClass]="{'btn-primary': reRunOptionsReRunFailed, 'btn-outline-primary': !reRunOptionsReRunFailed}">
                          <i class="fa" [ngClass]="{'fa-check': reRunOptionsReRunFailed}"></i> Re-run failed
                        </button>
                      </div>
                      <div class="re-run-div" *ngIf="suiteExecution?.fields?.test_bed_type !== 'simulation'">
                        <button (click)="togglereUseBuildImage()" class="btn click-button"
                                [ngClass]="{'btn-primary': reUseBuildImage, 'btn-outline-primary': !reUseBuildImage}"><i
                          class="fa" [ngClass]="{'fa-check': reUseBuildImage}"></i>Re-use Jenkins build image
                        </button>
                        (From the original run)
                      </div>
                      <div>
                      </div>
                      <app-section-horizontal-line></app-section-horizontal-line>
                      <div style="display: flex; justify-content: flex-end">
                        <span class="pseudo-anchor" (click)="modal.dismiss('Cross click')">Cancel</span> &nbsp;&nbsp;
                        <button class="btn btn-success submit-button" (click)="modal.close(suiteExecution)">Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </td>
              <td class="attribute-table-td" *ngIf="suiteExecution?.fields.state >= stateMap.COMPLETED">
                <span>
                  <span class="attribute-table-main-text">Pause on failure</span>
                  <app-toggle-button [checked]="suiteExecution?.fields?.pause_on_failure" (changed)="onTogglePauseOnFailure($event)"></app-toggle-button>
                </span>
              </td>
            </tr>
          </table>



          <table *ngIf="suiteExecution" class="fun-table" style="margin: 10px">
            <tr>
              <td class="fun-table-header">
                Passed
              </td>
              <td class="fun-table-header">
                Failed
              </td>
              <td class="fun-table-header">
                Not-run
              </td>
              <td class="fun-table-header">
                In-progress
              </td>
            </tr>
            <tr>
              <td>{{ suiteExecution.num_passed }}</td>
              <td>{{ suiteExecution.num_failed }}</td>
              <td>{{ suiteExecution.num_not_run }}</td>
              <td>{{ suiteExecution.num_in_progress }}</td>

            </tr>
          </table>
        </div>
      </div>


      <div *ngIf="suiteExecution" [innerHTML]="suiteExecution.fields.banner | safeHtml">
      </div>


      <div *ngIf="suiteExecution?.reRunInfo?.reRunInfo.length > 0">Re-run info:
        <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numActive"
              class="text-color-red">Active: <span
          class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numActive }}</span></span>
        <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numCompleted "
              class="text-color-green">Completed: <span
          class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numCompleted }}</span></span>
        <ng-container *ngIf="suiteExecution.fields.suite_type === 'dynamic'">
        <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.reRunInfo.length > 0">
          <a href="/regression/suite_detail/{{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }}">Original:
            {{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }}</a>
        </span>
        </ng-container>
        <ng-container *ngIf="suiteExecution.showingDetails">
          <app-re-run-panel *ngIf="suiteExecution.reRunInfo" [reRunInfo]="suiteExecution.reRunInfo"></app-re-run-panel>
        </ng-container>
      </div>

      <ng-container *ngIf="suiteExecution?.fields.state == stateMap.QUEUED">
        <br>
        <span class="h6">Queue occupancy:</span>
        <app-queue-viewer></app-queue-viewer>
      </ng-container>


      <div class="card" *ngFor="let scriptExecutionInfo of scriptExecutionsMap | keyvalue">
        <div class="card card-primary">
          <div class="card-header"><b>Script: {{ scriptInfo[scriptExecutionInfo.key]?.script_path }} </b>
            <span
              *ngIf="(suiteExecution?.fields.state !== stateMap.IN_PROGRESS) && (suiteExecution?.fields.state !== stateMap.ABORTED)"
              (click)="reRunModalOpen(suiteContent, scriptExecutionInfo.key)"
              class="anchor-button pseudo-anchor">Re-run options
            </span>

            <ng-container *ngIf="scriptInfo.hasOwnProperty(scriptExecutionInfo.key)">
              <label class="badge badge-history" data-placement="top" data-toggle="tooltip"
                     title="history" (click)="clickHistory(scriptExecutionInfo.key)">history</label>
            </ng-container>
          </div>
          <div class="card-body">
            <jira-info *ngIf="scriptInfo[scriptExecutionInfo.key]?.id"
                       [apiUrl]="'/regression/jiras/' + scriptInfo[scriptExecutionInfo.key].id">
            </jira-info>


            <br>
            <table *ngIf="getKeys(scriptExecutionInfo.value).length > 0"
                   class="table table-hover table-responsive table-bordered">
              <thead>
              <tr>
                <th class="text-center">E Id</th>
                <th class="text-center">T Id</th>
                <th class="text-center">Summary</th>
                <th class="text-center">Inputs</th>
                <th class="text-center">Result</th>
                <th class="text-center">Started At</th>
                <th class="text-center">Report</th>
                <th class="text-center">Console</th>
                <th class="text-center">New report <span class="badge badge-warning">Beta</span></th>
                <!--th class="text-center">Action</th-->
              </tr>
              </thead>
              <tr *ngFor="let script of scriptExecutionInfo.value | keyvalue">
                <td>{{ script.value.execution_id }}</td>
                <td>{{ script.value.test_case_id }}</td>
                <td class="text-left">{{ script.value.test_case_id === 0? 'Script setup': script.value.summary }}</td>
                <td>{{ parseInputs(script.value.inputs)  }}</td>
                <td>
                  <ng-container *ngIf="hasReRuns(script.value); else NonReRunResult">
                    <div class="text-left">
                      <ul>
                        <li style="margin-bottom: unset">Latest-run:
                          <app-smart-label [value]="script.value.result" [type]="script.value.result"></app-smart-label>
                        </li>
                        <li style="margin-bottom: unset">Original:
                          <app-smart-label [value]="getOriginalResult(script.value)"
                                           [type]="getOriginalResult(script.value)"></app-smart-label>
                        </li>
                        <li><span style="text-align: unset" (click)="setReRunInfo(script.value)" class="pseudo-anchor">Re-run history</span>
                        </li>

                      </ul>
                    </div>

                  </ng-container>
                  <ng-template #NonReRunResult>
                    <app-smart-label [value]="script.value.result" [type]="script.value.result"></app-smart-label>
                  </ng-template>
                </td>
                <td>{{ localizeTime(script.value.started_time) }}</td>
                <td>
                  <ng-container *ngIf="hasReRuns(script.value); else NonReRunHtml">
                    <ul>
                      <li>Latest: <span class="pseudo-anchor"
                                        (click)="getHtmlLogPath(getLatestRerunSuiteExecutionId(script.value), script.value.script_path, testCaseInfo[getLatestRerunEntry(script.value).re_run_test_case_execution_id].log_prefix)">HTML</span>
                      </li>
                      <li>Original: <span class="pseudo-anchor"
                                          (click)="getHtmlLogPath(suiteExecutionId, script.value.script_path, script.value.log_prefix)">HTML</span>
                    </ul>
                  </ng-container>
                  <ng-template #NonReRunHtml>
                    <span class="pseudo-anchor"
                          (click)="getHtmlLogPath(suiteExecutionId, script.value.script_path, script.value.log_prefix)">HTML</span>
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="hasReRuns(script.value); else NonReRunConsole">
                    <ul>
                      <li>Latest: <span class="pseudo-anchor"
                                        (click)="getConsoleLogPath(getLatestRerunSuiteExecutionId(script.value), script.value.script_path, testCaseInfo[getLatestRerunEntry(script.value).re_run_test_case_execution_id].log_prefix)">Console</span>
                      </li>
                      <li>Original: <span class="pseudo-anchor"
                                          (click)="getConsoleLogPath(suiteExecutionId, script.value.script_path, script.value.log_prefix)">Console</span>
                    </ul>
                  </ng-container>
                  <ng-template #NonReRunConsole>
                    <span class="pseudo-anchor"
                          (click)="getConsoleLogPath(suiteExecutionId, script.value.script_path, script.value.log_prefix)">Console</span>

                  </ng-template>
                </td>
                <td>
                  <a [routerLink]="[getScriptDetailLink(scriptExecutionInfo.key, script.value.execution_id, script.value.log_prefix)]">New report</a>
                </td>
                <!--td>
									<button data-placement="top" data-toggle="tooltip" title="Re-run"
													(click)="rerunClick(executionId, script.value.test_case_id, script.value.script_path)"
													class="btn btn-outline-warning btn-sm">
										<i class="fa fa-refresh"></i></button>
								</td-->
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showReRunPanel" class="col">
      <div id="re-run-panel" class="card">
        <div class="card-header">
          Re-run history: <b>{{ currenReRunScriptInfo.script_path }}</b> Test-case
          ID: {{ currenReRunScriptInfo.test_case_id }}
          <span class="float-sm-right pseudo-anchor" (click)="showReRunPanel = false">Close</span>

        </div>
        <div class="card-body">
          <table class="table-nonfluid table">
            <tr class="text-center">
              <th>
                Original result
              </th>
              <th>
                Re-run result
              </th>
              <th>
                Suite ID
              </th>
              <th>
                TC execution ID
              </th>
              <th>
                Started at
              </th>
              <th>
                HTML
              </th>
              <th>
                Console
              </th>
            </tr>
            <tr *ngFor="let reRun of currenReRunHistory">
              <td>
                <app-smart-label [value]="reRun.result" [type]="reRun.result"></app-smart-label>
              </td>
              <td>
                {{ reRun.re_run_result }}
              </td>
              <td>
                <a href="/regression/suite_detail/{{ reRun.re_run_suite_execution_id }}">{{ reRun.re_run_suite_execution_id }}</a>
              </td>
              <td>
                {{ reRun.re_run_test_case_execution_id }}
              </td>
              <td>
                {{ localizeTime(reRun.started_time) }}
              </td>
              <td *ngIf="testCaseInfo.hasOwnProperty(reRun.re_run_test_case_execution_id)">
                <span class="pseudo-anchor"
                      (click)="getHtmlLogPath(reRun.re_run_suite_execution_id, currenReRunScriptInfo.script_path, testCaseInfo[reRun.re_run_test_case_execution_id].log_prefix)">HTML</span>
              </td>
              <td *ngIf="testCaseInfo.hasOwnProperty(reRun.re_run_test_case_execution_id)">
                <span class="pseudo-anchor"
                      (click)="getConsoleLogPath(reRun.re_run_suite_execution_id, currenReRunScriptInfo.script_path, testCaseInfo[reRun.re_run_test_case_execution_id].log_prefix)">Console</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
