.table td {
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
  text-align: center;
}
.table-danger {
  background-color: #fbe9eb;
}
.cell {
  width: 50%;
}
.top-card {
  max-width: 50%;
  border: 0;
  padding-top: 60px;
}

.re-run-div {
  padding: 5px;
  font-size: 14px;
}

.attribute-table-td {
  padding: 10px;
}

.attribute-table-main-text {
  font-weight: bolder;
  padding: 5px;
}

.description {
  font-size: 87.5%;
  color: grey;
  word-break: break-word;
}
