<div class="this-component component">
  <div class="card">
    <div class="card-header">
      Suite info
      <ng-container *ngIf="suiteExecution.fields.suite_type ==='regular'">
        &nbsp;(<span data-placement="top" data-toggle="tooltip" title="Re-run all"
                    (click)="reRunClick(suiteExecution.fields.execution_id, suiteExecution.fields.suite_path)"
                    class="anchor-button pseudo-anchor">Re-run all</span>
        <span data-placement="top" data-toggle="tooltip" title="Re-run failed"
              (click)="reRunClick(suiteExecution.fields.execution_id, suiteExecution.fields.suite_path, ['FAILED', 'NOT_RUN'])"
              class="anchor-button pseudo-anchor">
    / Re-run failed</span>)
      </ng-container>
    </div>
    <div class="card-body">
      <table>
        <tr *ngFor="let attribute of attributes">
          <td class="cell">
            <b>{{ attribute.name }}</b>
          </td>
          <td class="cell">
            {{ attribute.value }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="suiteExecution" [innerHTML]="suiteExecution.fields.banner | safeHtml">
  </div>


  <div *ngIf="suiteExecution">

  </div>

  <div *ngIf="suiteExecution?.reRunInfo">Re-run info:
    <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numActive"
          class="text-color-red">Active: <span
      class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numActive }}</span></span>
    <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.numCompleted "
          class="text-color-green">Completed: <span
      class="pseudo-anchor">{{ suiteExecution?.reRunInfo?.numCompleted }}</span></span>
    <ng-container *ngIf="suiteExecution.fields.suite_type === 'dynamic'">
    <span (click)="showDetailsClick(suiteExecution)" *ngIf="suiteExecution?.reRunInfo?.reRunInfo.length > 0">
      <a href="/regression/suite_detail/{{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }}">Original:
        {{ suiteExecution?.reRunInfo.reRunInfo[0].original.suite_execution_id }}</a>
    </span>
    </ng-container>
    <ng-container *ngIf="suiteExecution.showingDetails">
      <app-re-run-panel *ngIf="suiteExecution.reRunInfo" [reRunInfo]="suiteExecution.reRunInfo"></app-re-run-panel>
    </ng-container>
  </div>


  <div class="card" *ngFor="let scriptInfo of scriptExecutionsMap | keyvalue">
    <div class="card card-primary">
      <div class="card-header"><b>Script: {{ scriptInfo.key }}</b>
        <ng-container *ngIf="suiteExecution.fields.suite_type ==='regular'">
          (<span data-placement="top" data-toggle="tooltip" title="Re-run all"
                 (click)="reRunClick(suiteExecution.fields.execution_id, suiteExecution.fields.suite_path, null, scriptInfo.key)"
                 class="anchor-button pseudo-anchor">Re-run all</span>
          <span data-placement="top" data-toggle="tooltip" title="Re-run failed"
                (click)="reRunClick(suiteExecution.fields.execution_id, suiteExecution.fields.suite_path, ['FAILED', 'NOT_RUN'], scriptInfo.key)"
                class="anchor-button pseudo-anchor">
        / Re-run failed</span>)
        </ng-container>
      </div>
      <div class="card-body">
        <table *ngIf="getKeys(scriptInfo.value).length > 0" class="table table-hover table-responsive table-bordered">
          <thead>
          <tr>
            <th class="text-center">E Id</th>
            <th class="text-center">T Id</th>
            <th class="text-center">Summary</th>
            <th class="text-center">Inputs</th>
            <th class="text-center">Result</th>
            <th class="text-center">Scheduled At</th>
            <th class="text-center">HTML</th>
            <th class="text-center">Flat</th>
            <!--th class="text-center">Action</th-->
          </tr>
          </thead>
          <tr *ngFor="let script of scriptInfo.value | keyvalue">
            <td>{{ script.value.execution_id }}</td>
            <td>{{ script.value.test_case_id }}</td>
            <td class="text-left">{{ script.value.test_case_id === 0? 'Script setup': script.value.summary }}</td>
            <td>{{ parseInputs(script.value.inputs)  }}</td>
            <td [ngClass]="{'table-danger': script.value.result === 'FAILED'}">
              <a [ngClass]="'text-'+ resultToClass(script.value.result)">{{ script.value.result }}</a>
            </td>
            <td>{{ trimTime(script.value.started_time) }}</td>
            <td><a [routerLink]="" (click)="getHtmlLogPath(script.value.script_path, script.value.log_prefix)">html</a>
            </td>
            <td><a [routerLink]=""
                   (click)="getConsoleLogPath(script.value.script_path, script.value.log_prefix)">flat</a>
            </td>
            <!--td>
							<button data-placement="top" data-toggle="tooltip" title="Re-run"
											(click)="rerunClick(executionId, script.value.test_case_id, script.value.script_path)"
											class="btn btn-outline-warning btn-sm">
								<i class="fa fa-refresh"></i></button>
						</td-->
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
