<div class="card">
  <div class="card-header">
    Re-run info
  </div>
  <div class="card-body">
    <table class="table-nonfluid">
      <th>Re-run Id</th>
      <th>Result</th>
      <th>Scheduled time</th>
      <th>Completed time</th>
      <tr *ngFor="let entry of reRunInfo.reRunInfo">
        <td><a target="_blank" href="/regression/suite_detail/{{ entry.re_run.suite_execution_id }}">{{ entry.re_run.suite_execution_id }}</a></td>
        <td>{{ entry.re_run.attributes.result }}</td>
        <td>{{ entry.re_run.attributes.scheduled_time }}</td>
        <td>{{ entry.re_run.attributes.completed_time }}</td>
      </tr>
    </table>
  </div>
</div>
