<div class="card" *ngFor="let category of priorityCategories">
  <div class="card-header">
    {{ toTitleCase(category) }} priority jobs
  </div>
  <div class="card-body">
    <table class="table table-nonfluid">
      <tr>
        <th></th>
        <th>Job-Id</th>
        <th>Priority</th>
        <th>Test-bed</th>
        <th>Suite</th>
        <th>Submitter</th>
        <th>Message</th>
        <th>Options</th>
      </tr>
      <tr *ngFor="let queueEntry of queueOccupancy[category]; let i = index">
        <td>
          <ng-container>
            <i (click)="onDelete(queueEntry)" class="fa fa-trash-o" style="font-size:20px; color: red"></i> &nbsp;
          </ng-container>
          <ng-container *ngIf="i > 0 && queueOccupancy[category].length > 1">
            <i class="btn btn-link" (click)="moveUpDown(queueEntry.job_id, true)" class="fa fa-arrow-up"></i>
            &nbsp;
          </ng-container>
          <ng-container *ngIf="i < ( queueOccupancy[category].length - 1 ) && queueOccupancy[category].length > 1">
            <i class="btn btn-link" (click)="moveUpDown(queueEntry.job_id, false)" class="fa fa-arrow-down"></i>
            &nbsp;
          </ng-container>
          <ng-container  *ngIf="i > 0 && queueOccupancy[category].length > 1">
            <span class="pseudo-anchor" (click)="moveToTop(queueEntry.job_id, false)">Move to top</span>&nbsp;
          </ng-container>
          <span *ngIf="category === 'normal' || category === 'low' " class="pseudo-anchor" (click)="moveToNextQueue(queueEntry.job_id)">Move to next Q</span>


        </td>
        <td><a href="/regression/suite_detail/{{ queueEntry.job_id }}">{{ queueEntry.job_id }}</a></td>
        <td>{{ queueEntry.priority }}</td>
        <td>{{ queueEntry.test_bed_type }}</td>
        <td><div>{{ queueEntry.job_spec.suite_path }}</div><small>Waiting time: {{ queueEntry.waiting_time }}</small></td>
        <td>{{ userMap[queueEntry.job_spec.email].first_name }} {{ userMap[queueEntry.job_spec.email].last_name.charAt(0)}}</td>
        <td [innerHTML]="queueEntry.message | safeHtml"></td>
        <td style="display: flex; justify-content: flex-start">
          <div>
            Suspend: <app-toggle-button [checked]="queueEntry.suspend" (changed)="onChangeSuspend($event, queueEntry)"></app-toggle-button>
          </div>&nbsp;&nbsp;
          <div *ngIf="queueEntry.test_bed_type === 'suite-based'">
            Allow pre-emption: <app-toggle-button [checked]="queueEntry.pre_emption_allowed" (changed)="onChangePreEmption($event, queueEntry)"></app-toggle-button>
          </div>
        </td>

      </tr>
    </table>
  </div>

</div>
