<html>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<script>

function myController($scope) {
    let ctrl = this;

    this.$onInit = function () {
        console.log(ctrl);
        $scope.requiredError = false;
        $scope.minRequirementError = null;
        $scope.maxRequirementError = null;
        $scope.minLengthRequirementError = null;
        $scope.maxLengthRequirementError = null;
        $scope.errorStyle = "color: #a94442";

    }

    $scope.testClick = function () {
        console.log("testClick");
        console.log(ctrl.f);

    }

    $scope.onChange = function () {
        if(ctrl.type === "number") {
            let result = validateNumber();
        } else if(ctrl.type === "text") {
            let result = validateText();
        }
    }

    let validateNumber = function () {
        $scope.minRequirementError = null;
        $scope.maxRequirementError = null;

        let result = true;
        //console.log("Validating number:" + $scope.value);
        if(ctrl.min) {
            if($scope.value < ctrl.min) {
                $scope.minRequirementError = "Value is less than: " + ctrl.min;
                result = false;
            }
        }
        if(ctrl.max) {
            if($scope.value > ctrl.max) {
                $scope.minRequirementError = "Value is greater than: " + ctrl.max;
                result = false;
            }
        }
        if (!result) {
            console.log($scope.value + " : is invalid");
        }
        else {
            console.log($scope.value + " : is valid");
        }
        return result
    }

    let validateText = function () {
        $scope.minLengthRequirementError = null;
        $scope.maxLengthRequirementError = null;

        let result = true;
        //console.log("Validating text:" + $scope.value);
        if(ctrl.minLength) {
            if($scope.value.length < ctrl.minLength) {
                $scope.minLengthRequirementError = "Length of value is less than: " + ctrl.minLength;
                result = false;
            }
        }
        if(ctrl.maxLength) {
            if($scope.value.length > ctrl.maxLength) {
                $scope.maxLengthRequirementError = "Length of value is greater than: " + ctrl.maxLength;
                result = false;
            }
        }
        if (!result) {
            console.log($scope.value + " : is invalid");
        }
        else {
            console.log($scope.value + " : is valid");
        }
        return result
    }




}

angular.module("myApp", [])
    .component("helloWorld",{
        template: "<div>" +
                  "<input type='{{ $ctrl.type }}' ng-model='value' ng-change='onChange()'/>" +
                  "<p ng-if='!value && $ctrl.required' style='{{ errorStyle }}'>{{ $ctrl.type }} * Required</p>" +
                  "<p ng-show='minRequirementError' style='{{ errorStyle }}'>{{ minRequirementError }}</p>" +
                  "<p ng-show='maxRequirementError' style='{{ errorStyle }}'>{{ maxRequirementError }}</p>" +
                  "<p ng-show='minLengthRequirementError' style='{{ errorStyle }}'>{{ minLengthRequirementError }}</p>" +
                  "<p ng-show='maxLengthRequirementError' style='{{ errorStyle }}'>{{ maxLengthRequirementError }}</p>" +
                  "</div>",

        bindings: { name: '@' ,
                    f: '<',
                    type: '@',
                    min: '<',
                    max: '<',
                    minLength: '<',
                    maxLength: '<',
                    required: '@'
                  },
        controller: myController
  });


</script>

<div ng-app="myApp">
    <form>
        <hello-world type="number" min="5" max="10" required="true"></hello-world>
        <hello-world type="text" min-length="5" max-length="7"></hello-world>
    </form>

    <form>
  <div class="form-group">

              <hello-world type="number" min="5" max="10" required="true"></hello-world>
        <hello-world type="text" min-length="5" max-length="7"></hello-world>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</html>