<div class="card">
  <div class="card card-primary">
    <div class="card-header min-padding">

    </div>
    <div class="card-body min-padding">
      <div class="min-padding">
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>
              Options
            </th>
          </tr>
          <tr>
            <td>
              ModelName
            </td>
            <td>
              <select [(ngModel)]="modelName" style="width: 100px" (change)="moduleChange()">
                  <option [ngValue]="name" *ngFor="let name of modelNames">{{ name }}</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Owner
            </td>
            <td>
              <select [(ngModel)]="owner" style="width: 100px" (change)="moduleChange()">
                  <option [ngValue]="name" *ngFor="let name of owners">{{ name }}</option>
                </select>
            </td>
          </tr>
          <tr *ngIf="showCharts">
            <td>
              Charts
            </td>
            <td>
              <select [(ngModel)]="chartName" style="width: 100px">
                  <option [ngValue]="name" *ngFor="let name of chartNames">{{ name }}</option>
                </select>
            </td>
          </tr>
        </table>

      </div>
      <div style="margin-top: 2px" >
      </div>
    </div>
  </div>
</div>
