
<button (click)="selectClick()" class="fun-button-add">{{ singleSelectNode? "Modify " + selectionText + " selection": "Select a " + selectionText }}</button>
<span class="span-selected" *ngIf="singleSelectNode" style="display: inline-block">Selected file: {{ singleSelectNode.scriptPath }}&nbsp;</span>

<table class="table" *ngIf="selectionMode">
  <tr>
    <th>Path</th>
  </tr>
  <tr>
    <td>
      <span *ngIf="!refreshingStatus" (click)="onRefreshFiles()" class="fun-action-link">Refresh files</span>
      <fun-spinner [status]="refreshingStatus"></fun-spinner>
    </td>
  </tr>
  <tr *ngFor="let node of flatNodes">
    <td *ngIf="node.show">
      <span [innerHTML]="getIndentHtml(node) | safeHtml">&nbsp;</span>
      <input *ngIf="node.leaf" type="radio" [checked]="singleSelectNode && singleSelectNode.uId === node.uId"
             (click)="singleSelectClick(node)">
      {{ node.scriptPath }}
      &nbsp;
      <span *ngIf="node.childrenIds.size > 0 && !node.expanded" class="pseudo-anchor" (click)="expand(node)"><span
        class="arrow arrow-right"></span></span> &nbsp;
      <span *ngIf="node.childrenIds.size > 0 && node.expanded" class="pseudo-anchor" (click)="collapse(node)"><span
        class="arrow arrow-down"></span></span>
    </td>
  </tr>
</table>


