<span style="font-size: 1.5rem">VP utilization distribution
  <i class="fa fa-table" aria-hidden="true" (click)="showVpUtilization()"></i></span>
<table *ngIf="showVpUtilizationDistribution" class="fun-table">
  <tr>
    <td class="fun-table-header">Datetime</td>
    <td class="fun-table-header">F1-0</td>
    <td class="fun-table-header">F1-1</td>
  </tr>
  <tr *ngFor="let d of data">
    <td>{{ d.date_time }}</td>
    <td><pre>{{ d.data["0"] | json | slice:0:10 }}<span class="fun-action-link">...expand</span></pre></td>
    <td><pre>{{ d.data["1"] | json | slice:0:10 }}</pre></td>
  </tr>
</table>
<div class="fun-flex-container">
  <ng-container *ngFor="let f1 of fs.f1s; let f1Index=index">
    <div class="fun-flex-item">
      <h5>F1-{{ f1Index }}</h5>
      <div style="width: 500px; height: 500px;" >
        <fun-chart [title]="'VP utilization distribution (Range of percentages)'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'Number of VPs'" [y1Values]="f1['histogram']"></fun-chart>
      </div>
    </div>
  </ng-container>
</div>
<app-section-horizontal-line></app-section-horizontal-line>

<span style="font-size: 1.5rem">VP utilization by cluster
  <i class="fa fa-table" aria-hidden="true" (click)="showVpUtilization()"></i></span>
<ng-container *ngFor="let f1 of fs.f1s; let f1Index=index">
  <h5>F1-{{ f1Index }}</h5>
  <div class="fun-flex-container">
    <div class="fun-flex-item" *ngIf="f1.clusters[0]['debug_vp_util']">
      <fun-chart [title]="'Cluster-0'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[0]['debug_vp_util'].series"></fun-chart>
    </div>
    <div class="fun-flex-item" *ngIf="f1.clusters[1]['debug_vp_util']">
      <fun-chart [title]="'Cluster-1'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[1]['debug_vp_util'].series"></fun-chart>
    </div>
    <div class="fun-flex-item" *ngIf="f1.clusters[2]['debug_vp_util']">
      <fun-chart [title]="'Cluster-2'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[2]['debug_vp_util'].series"></fun-chart>
    </div>
  </div>
  <div class="fun-flex-container">
    <div class="fun-flex-item" *ngIf="f1.clusters[3]['debug_vp_util']">
      <fun-chart [title]="'Cluster-3'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[3]['debug_vp_util'].series"></fun-chart>
    </div>
    <div class="fun-flex-item" *ngIf="f1.clusters[4]['debug_vp_util']">
      <fun-chart [title]="'Cluster-4'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[4]['debug_vp_util'].series"></fun-chart>
    </div>
    <div class="fun-flex-item" *ngIf="f1.clusters[5]['debug_vp_util']">
      <fun-chart [title]="'Cluster-5'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[5]['debug_vp_util'].series"></fun-chart>
    </div>
  </div>

  <div class="fun-flex-container">
    <div class="fun-flex-item" *ngIf="f1.clusters[6]['debug_vp_util']">
      <fun-chart [title]="'Cluster-6'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[6]['debug_vp_util'].series"></fun-chart>
    </div>
    <div class="fun-flex-item" *ngIf="f1.clusters[7]['debug_vp_util']">
      <fun-chart [title]="'Cluster-7'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[7]['debug_vp_util'].series"></fun-chart>
    </div>
    <div class="fun-flex-item" *ngIf="f1.clusters[8]['debug_vp_util']">
      <fun-chart [title]="'Cluster-8'" [xAxisLabel]="'Sample'" [y1AxisLabel]="'%'" [y1Values]="f1.clusters[8]['debug_vp_util'].series"></fun-chart>
    </div>
  </div>
</ng-container>


