<div class="fun-flex-container">
  <div class="fun-flex-item fun-panel panel" style="width: 100%;">
    <div class="fun-panel-header">
      <span><span style="font-size: 1.5rem; font-weight: 500;">{{ title }}</span>&nbsp;
        <button class="fun-button-with-icon" [ngClass]="{'fun-button-with-icon-selected': showTable}"
                (click)="showTables()"><i class="fa fa-table"></i> Show raw tables
        </button></span><br>
      <span>
        PoolName:
        <select [(ngModel)]="selectedPoolName" (change)="updatePoolName(selectedPoolName)">
        <option *ngFor="let poolName of fs.availablePools | keyvalue" [ngValue]="poolName.key">
          {{ poolName.key }}
        </option>
      </select>
        <span *ngIf="selectedPoolName">&nbsp;&nbsp;Key:
          <select [(ngModel)]="selectedPoolKey" (change)="updatePoolNameAndKey()">
        <option *ngFor="let poolKey of fs.availablePools[selectedPoolName]" [ngValue]="poolKey">
          {{ poolKey }}
        </option>
      </select>
        </span>
      </span>
    </div>
    <div class="fun-panel-body">
      <span><span style="font-size: 1.5rem; font-weight: 500;">BM usage per cluster</span></span>
      <ng-container *ngIf="!updatingCharts">
        <div *ngFor="let f1Index of detectedF1Indexes">
        <h5>F1-{{ f1Index }}</h5>
        <div *ngIf="showCharts" class="fun-flex-container">
              <div [@slideInOut] class="fun-flex-item">
                <fun-stats
                  [data]="fs.f1s[f1Index][defaultSelectedPoolName][defaultSelectedPoolKey]['timeSeries']"></fun-stats>
              </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf=showTable class="fun-flex-item fun-panel" style="width: 40%">
    <div class="fun-panel-body" [@show] style="height: 700px; overflow: scroll">
      <fun-stats-table [tableData]="rawTableData" [tableHeaders]="rawTableHeaders"></fun-stats-table>
    </div>
  </div>
</div>
