<div class="fun-flex-container">
  <div class="fun-div" [@slideInOut] *ngIf="!preparingCatalogExecution">
    <app-section-header [value]="'Release catalogs'"></app-section-header>
    <span class="fun-action-link" (click)="addACatalog()">+ Add a catalog</span>
    <table class="fun-table-borderless">
      <tr>
        <td>
        </td>
        <td class="fun-table-borderless-header">
          Name
        </td>
        <td class="fun-table-borderless-header">
          Description
        </td>
        <td class="fun-table-borderless-header">
          # Suites
        </td>
        <td class="fun-table-borderless-header">
        </td>
      </tr>
      <tr *ngFor="let catalog of releaseCatalogs; let index=index" class="fun-table-borderless-row">
        <td><span class="fun-action-link" (click)="prepareExecutionDetails(index)">Prepare for execution</span></td>

        <td><small>{{ index }}.</small> {{ catalog.name }}</td>
        <td>{{ catalog.description }}</td>
        <td>{{ catalog.suites.length }}</td>
        <td>
          <i class="fa fa-pencil" (click)="editCatalog(catalog.id)"></i>&nbsp;
          <i class="fa fa-trash" style="color: red" (click)="removeCatalog(index)"></i></td>
      </tr>

    </table>
  </div>
  <div class="fun-div" *ngIf="preparingCatalogExecution">
    <app-section-header [value]="'Set catalog execution parameters ...'"></app-section-header>
    <table>
      <tr>
        <td class="fun-attribute-label">Owner</td>
        <td>
          <select id="owner" [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [ngValue]="user">{{ user.first_name }} {{ user.last_name }}
              ({{ user.email }})
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="fun-attribute-label">
          Description
        </td>
        <td>
          <app-textarea-input [numRows]="1" [hoverHide]="false" (valueChanged)="setExecutionDescription($event)" [initialValue]="releaseCatalogExecution.description"></app-textarea-input>
        </td>
      </tr>

    </table>


    <table class="fun-table-borderless">
      <tr>
        <td class="fun-table-borderless-header">
          Suite ID
        </td>
        <td class="fun-table-borderless-header">
          Name
        </td>
        <td class="fun-table-borderless-header">
          Description
        </td>
      </tr>
      <tr class="fun-table-borderless-row" *ngFor="let suiteForExecution of suitesForExecution">
        <td>
          {{ suiteForExecution.id }}
        </td>
        <td>
          {{ suiteForExecution.name }}
        </td>
        <td>
          {{ suiteForExecution.short_description }}
        </td>
      </tr>
    </table>
    <div class="fun-div">
      <span class="fun-action-link" (click)="preparingCatalogExecution = false">back</span>&nbsp;&nbsp;
      <button class="fun-button-submit" (click)="execute()">Execute</button>
    </div>

  </div>


</div>

