<div class="fun-flex-container">
  <div class="fun-div" [@slideInOut] *ngIf="!preparingCatalogExecution">
    <app-section-header [value]="'Release catalogs'"></app-section-header>
    <span class="fun-action-link" (click)="addACatalog()">+ Add a catalog</span>
    <table class="fun-table-borderless">
      <tr>
        <td>

        </td>
        <td class="fun-table-borderless-header">
          Name
        </td>
        <td class="fun-table-borderless-header">
          Description
        </td>
        <td class="fun-table-borderless-header">
          # Suites
        </td>
        <td class="fun-table-borderless-header">
        </td>
      </tr>
      <tr *ngFor="let catalog of releaseCatalogs; let index=index" class="fun-table-borderless-row">
        <td><button class="fun-button-submit" (click)="execute(index)">Execute</button></td>

        <td><small>{{ index }}.</small> {{ catalog.name }}</td>
        <td>{{ catalog.description }}</td>
        <td>{{ catalog.suites.length }}</td>
        <td>
          <i class="fa fa-pencil" (click)="editCatalog(catalog.id)"></i>&nbsp;
          <i class="fa fa-trash" style="color: red" (click)="removeCatalog(index)"></i></td>
      </tr>

    </table>
  </div>
  <div class="fun-div" *ngIf="preparingCatalogExecution">
    <app-section-header [value]="'Catalog execution details ...'"></app-section-header>
    <span class="fun-action-link" (click)="preparingCatalogExecution = false">< back</span>
  </div>


</div>

