<mat-form-field *ngIf="action">
  <mat-select placeholder="actions" [formControl]="actionControl" [(value)]="actionSelected">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of actionGroups" [label]="group.name">
      <mat-option *ngFor="let action of group.actions" [value]="action.value">
        {{ action.viewValue }}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>


<div *ngIf="actionSelected">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DPUs
        </mat-panel-title>
        <mat-panel-description>
          Please select one or more DPUs
        </mat-panel-description>
      </mat-expansion-panel-header>
      <dpus></dpus>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuration
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div>
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Capacity">
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Validate
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="submit()">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div>
  <p *ngIf="action">Available pools</p>
  <mat-radio-group [(ngModel)]="selectedElement" [required]="true" *ngIf="dataSource.data.length > 0">
    <table mat-table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z81">

      <ng-container *ngIf="!radioSelection" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngIf="radioSelection" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-radio-button [value]="row" (click)="selection.select(row);" [checked]="selection.isSelected(row)">
          </mat-radio-button>
        </td>
      </ng-container>


      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef> UUID </th>
        <td mat-cell *matCellDef="let element"> {{ element.uuid }} </td>
      </ng-container>

      <ng-container matColumnDef="f1s">
        <th mat-header-cell *matHeaderCellDef> DPUs</th>
        <td mat-cell *matCellDef="let element"> {{ element.f1s }} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedVolumesColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div>
              <table mat-table [dataSource]="volumes" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
											The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No.</th>
                  <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name</th>
                  <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight</th>
                  <td mat-cell *matCellDef="let element"> {{ element.weight }} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol</th>
                  <td mat-cell *matCellDef="let element"> {{ element.symbol }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedVolumesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedVolumesColumns;"></tr>
              </table>


            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!--tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.highlighted-row]="row.id == selectedRowIndex"
					class="example-element-row"
					[class.example-expanded-row]="expandedElement === row"
					(click)="selection.toggle(row); expandedElement = row;"></tr-->

      <ng-container *ngIf="!radioSelection">
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === row"
            (click)="selection.toggle(row); expandedElement = row;">
        </tr>
      </ng-container>
      <ng-container *ngIf="radioSelection">
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.select(row);">
        </tr>
      </ng-container>


      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
  </mat-radio-group>
</div>
