<div class="component container-fluid">
  <div class="row">
    <div class="col col-lg-6 col-md-6 col-xl-6 col-xxl-6">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Regression summary
                </div>
                <div class="card-body">
                  <table id="summary-table" class="table table-responsive">
                    <tr>
                      <th rowspan="3" class="fun-center text-center" style="background-color: #fff2cc">Module/Tag</th>
                      <th colspan="6" class="text-center blue-header">By date</th>
                      <th colspan="6" class="text-center blue-header">By version</th>
                    </tr>
                    <tr>
                      <th colspan="2" class="text-center passed-table-cell">Passed</th>
                      <th colspan="2" class="text-center failed-table-cell">Failed</th>
                      <th colspan="2" class="text-center not-run-table-cell">Not run</th>
                      <th colspan="2" class="text-center passed-table-cell">Passed</th>
                      <th colspan="2" class="text-center failed-table-cell">Failed</th>
                      <th colspan="2" class="text-center not-run-table-cell">Not run</th>
                    </tr>
                    <tr>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                    </tr>
                    <tr *ngFor="let filter of filters; index as index">
                      <td class="text-center"><u class="pseudo-anchor"
                                                 (click)="scrollTo('summary-chart-', index)">{{ filter.info }}</u></td>
                      <td class="text-center">{{ filter.previousResultsByDate.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByDate.date }}/2019)</span></td>
                      <td class="text-center">{{ filter.currentResultsByDate.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByDate.date }}/2019)</span></td>
                      <td class="text-center">{{ filter.previousResultsByDate.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByDate.date }}/2019)</span></td>
                      <td class="text-center">{{ filter.currentResultsByDate.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByDate.date }}/2019)</span></td>
                      <td class="text-center">{{ filter.previousResultsByDate.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByDate.date }}/2019)</span></td>
                      <td class="text-center">{{ filter.currentResultsByDate.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByDate.date }})</span></td>
                      <td class="text-center">{{ filter.previousResultsByVersion.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.currentResultsByVersion.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.previousResultsByVersion.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.currentResultsByVersion.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.previousResultsByVersion.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.currentResultsByVersion.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByVersion.version }})</span></td>
                    </tr>
                  </table>
                </div>
                <div class="card-body">
                  <b>
                    <span *ngIf="numBugs > 0" class="no-padding text-color-red">Bugs
                      <sup><span class="text-color-red">{{ numBugs }}</span></sup>

                    </span>
                  </b>&nbsp;
                  <span><span style="color: red">Active </span>- {{ numBugsActive }}
                  <span style="color: green">Resolved </span> - {{ numBugsResolved }}</span>
                  &nbsp;
                  <u (click)="showGlobalBugPanel = !showGlobalBugPanel" class="anchor-button pseudo-anchor">details</u>
                  <!--jira-info [ngClass]='{hidden: !showGlobalBugPanel}'
                             [apiUrl]="'/regression/all_jiras'"
                             [allowDelete]="false"
                             [allowAdd]="false"
                             (numBugs)="updateNumBugs($event, null)"
                             (numActive)="updateNumBugsActive($event, null)"
                             (numResolved)="updateNumBugsResolved($event, null)">
                  </jira-info-->
                  &nbsp;<a href="/regression/all_jiras_component" target="_blank"><i class="fa fa-external-link"></i></a>
                  <summary-jira-info [summaryInHeader]="false" [ngClass]='{hidden: !showGlobalBugPanel}' *ngIf="globalJiraMap" [bugInfoUrl]="'/common/bug_info'" [data]="globalJiraMap" [allowDelete]="false" [allowContext]="true" [allowAdd]="false" (numBugs)="updateNumBugs($event, null)"
                             (numActive)="updateNumBugsActive($event, null)"
                             (numResolved)="updateNumBugsResolved($event, null)"></summary-jira-info>


                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ng-container *ngIf="filters.length > 0">
                <ng-container *ngFor="let filter of filters; index as index">
                  <ng-container *ngIf="filter.timeBucketList?.length > 0">
                  <div id="summary-chart-{{ index }}">
                    <app-regression-summary-chart [title]="filter.info"
                                                  (pointInfo)="showPointDetails($event)"
                                                  (modeChanged)="modeChanged()"
                                                  [pointClickCallback]="pointClickCallback"
                                                  [filterEntry]="filter">
                    </app-regression-summary-chart>

                  </div>
                  </ng-container>



                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-6 col-xl-6 col-xxl-6">
      <span id="detailed-info"></span>
      <div class="card-body" *ngIf="showDetailedInfo && detailedInfo">
        <table class="table">
          <tr>
            <th *ngIf="detailedInfo.mode === 'version'">Software version: {{ detailedInfo.category }} </th>
            <th *ngIf="detailedInfo.mode === 'date'">Date: {{ detailedInfo.category }} </th>

            <th><label class="badge badge-success">Passed</label></th>
            <th><label class="badge badge-danger">Failed</label></th>
            <th><label class="badge badge-secondary">Not-run</label></th>
          </tr>
          <tr>
            <td>Overall</td>
            <td>{{ detailedInfo.numPassed }}</td>
            <td>{{ detailedInfo.numFailed }}</td>
            <td>{{ detailedInfo.numNotRun }}</td>

          </tr>
          <ng-container *ngFor="let scriptInfo of detailedInfo.scriptDetailedInfo | keyvalue">
            <tr *ngIf="scriptInfo.value.historyResults">
              <td>
                {{ scriptInfo.key }}
                  <span *ngIf="scriptInfo.value.numBugs > 0"
                        (click)="scriptInfo.value.showingDetails = true"
                         class="no-padding text-color-red">Bugs
                    <sup>
                      <span class="text-color-red">{{ scriptInfo.value.numBugs }}</span>
                    </sup>&nbsp;
                  </span>
                  <ng-container *ngIf="scriptInfo.value.numBugs > 0">
                    <span style="color: red">A({{ scriptInfo.value.numBugsActive }})</span>
                    <span style="color: green">R({{ scriptInfo.value.numBugsResolved }})</span>
                  </ng-container>



                &nbsp;<label class="badge badge-history pseudo-anchor" data-placement="top" data-toggle="tooltip"
                             title="history" (click)="clickHistory(scriptInfo.key)">history</label>
                &nbsp;
                <ng-container *ngIf="getBaselineSuiteExecutionId(scriptInfo.key); else noBaseline; let baselineSuiteExecutionId">
                  <a target="_blank" href="/regression/suite_detail/{{ baselineSuiteExecutionId }}"  class="badge" [ngClass]="{'baseline-available': baselineSuiteExecutionId}">Baseline: {{ baselineSuiteExecutionId }}</a>
                  &nbsp;
                  <ng-container *ngIf="baselineSuiteExecutionId && !matchWithBaseline(scriptInfo.key, scriptInfo.value, baselineSuiteExecutionId).matches; else matched">
                    <label class="badge badge-danger">Baseline mismatched</label>
                  </ng-container>
                  <ng-template #matched>
                    <label class="badge badge-success">Baseline matched</label>
                  </ng-template>
                </ng-container>
                <ng-template #noBaseline>
                  <label class="badge badge-danger">No baseline</label>
                </ng-template>
                &nbsp;
                <u (click)="scriptInfo.value.showingDetails = !scriptInfo.value.showingDetails"
                   class="anchor-button pseudo-anchor">details</u>


              </td>
              <td>{{ scriptInfo.value.historyResults.numPassed }}</td>
              <td>{{ scriptInfo.value.historyResults.numFailed }}</td>
              <td>{{ scriptInfo.value.historyResults.numNotRun }}</td>

            </tr>

            <tr [ngClass]='{hidden: !scriptInfo.value.showingDetails}' *ngIf="scriptInfo.value">
              <ng-container *ngIf="scriptInfo.value.mismatchMessage">
                <code>{{ scriptInfo.value.mismatchMessage }}</code>
              </ng-container>

              <jira-info  [ngClass]='{hidden: !scriptInfo.value.showingDetails}'
                         [apiUrl]="'/regression/jiras/' + scriptPathToPk(scriptInfo.key)"
                         (numBugs)="updateNumBugs($event, scriptInfo.value)"
                         (numResolved)="updateNumBugsResolved($event, scriptInfo.value)"
                         (numActive)="updateNumBugsActive($event, scriptInfo.value)">
              </jira-info>

            </tr>
            <ng-container *ngIf="scriptInfo.value.showingDetails">
              <tr *ngFor="let suiteExecutionId of scriptInfo.value.suiteExecutionIdSet">
                <td colspan="4">
                  <table class="pseudo-table">
                    <tr style="display: inline-block">
                      <td>Suite-execution ID: <a href="/regression/suite_detail/{{ suiteExecutionId }}" target="_blank">{{ suiteExecutionId }}</a></td>
                      <td>
                        <label>Set as baseline</label>
                      </td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" [checked]="isBaselineForScript(scriptInfo.key, suiteExecutionId)"
                                 (change)="setBaseline(detailedInfo, scriptInfo.key, suiteExecutionId)" class="switch" data-toggle="toggle">
                          <span class="slider round"></span>
                        </label>
                      </td>
                    </tr>
                  </table>
                  <table class="table">
                    <tr>
                      <th>TC-ID</th>
                      <th>Result</th>
                      <th *ngIf="getBaselineSuiteExecutionId(scriptInfo.key)">Baseline</th>
                      <th>Summary</th>
                    </tr>
                    <tr *ngFor="let executionEntry of scriptInfo.value.bySuiteExecution[suiteExecutionId].history | keyvalue">
                      <td>{{ executionEntry.value.test_case_id }}</td>

                      <td>
                        <a [ngClass]="{'failed': executionEntry.value.result === 'FAILED', 'passed': executionEntry.value.result === 'PASSED'}" href="/regression/suite_detail/{{ suiteExecutionId }}" target="_blank">{{ executionEntry.value.result }}</a>
                      </td>

                      <ng-container *ngIf="getBaselineSuiteExecutionId(scriptInfo.key); let baselineSuiteExecutionId">
                        <ng-container *ngIf="getBaselineResult(scriptInfo.key, executionEntry.value.test_case_id); let baselineResult">
                          <td>
                            <a target="_blank" href="/regression/suite_detail/{{ baselineSuiteExecutionId }}" [ngClass]="{'failed': baselineResult === 'FAILED', 'passed': baselineResult === 'PASSED'}">{{ baselineResult }}</a>
                          </td>
                        </ng-container>
                      </ng-container>
                      <td>{{ getTestCaseSummary(scriptInfo.key, executionEntry.value.test_case_id) }}</td>

                    </tr>
                  </table>
                </td>
              </tr>

            </ng-container>
          </ng-container>

        </table>

      </div>
    </div>
  </div>
</div>

