<div class="component container-fluid">
  <div class="row">
    <div class="col col-lg-6 col-md-6 col-xl-6 col-xxl-6">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Regression summary
                </div>
                <div class="card-body">
                  <table id="summary-table" class="table table-responsive">
                    <tr>
                      <th rowspan="3" class="fun-center text-center" style="background-color: #fff2cc">Module/Tag</th>
                      <th colspan="6" class="text-center blue-header">By date</th>
                      <th colspan="6" class="text-center blue-header">By version</th>
                    </tr>
                    <tr>
                      <th colspan="2" class="text-center passed-table-cell">Passed</th>
                      <th colspan="2" class="text-center failed-table-cell">Failed</th>
                      <th colspan="2" class="text-center not-run-table-cell">Not run</th>
                      <th colspan="2" class="text-center passed-table-cell">Passed</th>
                      <th colspan="2" class="text-center failed-table-cell">Failed</th>
                      <th colspan="2" class="text-center not-run-table-cell">Not run</th>
                    </tr>
                    <tr>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                      <th class="text-center second-header">Previous</th>
                      <th class="text-center second-header">Current</th>
                    </tr>
                    <tr *ngFor="let filter of filters; index as index">
                      <td class="text-center"><u class="pseudo-anchor" (click)="scrollTo('summary-chart-', index)">{{ filter.info }}</u></td>
                      <td class="text-center">{{ filter.previousResultsByDate.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByDate.date }}/2018)</span></td>
                      <td class="text-center">{{ filter.currentResultsByDate.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByDate.date }}/2018)</span></td>
                      <td class="text-center">{{ filter.previousResultsByDate.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByDate.date }}/2018)</span></td>
                      <td class="text-center">{{ filter.currentResultsByDate.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByDate.date }}/2018)</span></td>
                      <td class="text-center">{{ filter.previousResultsByDate.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByDate.date }}/2018)</span></td>
                      <td class="text-center">{{ filter.currentResultsByDate.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByDate.date }})</span></td>
                      <td class="text-center">{{ filter.previousResultsByVersion.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.currentResultsByVersion.numPassed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.previousResultsByVersion.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.currentResultsByVersion.numFailed }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.previousResultsByVersion.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.previousResultsByVersion.version }})</span></td>
                      <td class="text-center">{{ filter.currentResultsByVersion.numNotRun }}&nbsp;<span
                        class="date-info-text">({{ filter.currentResultsByVersion.version }})</span></td>
                    </tr>
                  </table>
                </div>
                <div class="card-body">
                  <b><span *ngIf="numBugs > 0" class="no-padding text-color-red">Bugs<sup><span
                  class="text-color-red">{{ numBugs }}</span></sup></span></b>&nbsp;
                  <u (click)="showGlobalBugPanel = !showGlobalBugPanel"
                   class="anchor-button pseudo-anchor">details</u>
                  <jira-info *ngIf="showGlobalBugPanel" [apiUrl]="'/regression/all_jiras'" [allowDelete]="false" [allowAdd]="false" (numBugs)="updateGlobalNumBugs($event)"></jira-info>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ng-container *ngIf="filters.length > 0">
                <ng-container *ngFor="let filter of filters; index as index">
                  <div id="summary-chart-{{ index }}">
                                      <app-regression-summary-chart [title]="filter.info"
                                                (pointInfo)="showPointDetails($event)"
                                                (modeChanged)="modeChanged()"
                                                [pointClickCallback]="pointClickCallback"
                                                [filterEntry]="filter">
                  </app-regression-summary-chart>

                  </div>


                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-6 col-xl-6 col-xxl-6">
      <span id="detailed-info"></span>
      <div class="card-body" *ngIf="showDetailedInfo && detailedInfo">
        <table class="table">
          <tr>
            <th *ngIf="detailedInfo.mode === 'version'">Software version: {{ detailedInfo.category }} </th>
            <th *ngIf="detailedInfo.mode === 'date'">Date: {{ detailedInfo.category }} </th>

            <th><label class="badge badge-success">Passed</label></th>
            <th><label class="badge badge-danger">Failed</label></th>
            <th><label class="badge badge-secondary">Not-run</label></th>
          </tr>
          <tr>
            <td>Overall</td>
            <td>{{ detailedInfo.numPassed }}</td>
            <td>{{ detailedInfo.numFailed }}</td>
            <td>{{ detailedInfo.numNotRun }}</td>

          </tr>
          <ng-container *ngFor="let scriptInfo of detailedInfo.scriptDetailedInfo | keyvalue">
            <tr *ngIf="scriptInfo.value.historyResults">
              <td>
                {{ scriptInfo.key }}
                <b><span *ngIf="scriptInfo.value.numBugs > 0" (click)="scriptInfo.value.showingDetails = true"
                         class="no-padding text-color-red">Bugs<sup><span
                  class="text-color-red">{{ scriptInfo.value.numBugs }}</span></sup>&nbsp;</span></b>
                <u (click)="scriptInfo.value.showingDetails = !scriptInfo.value.showingDetails"
                   class="anchor-button pseudo-anchor">details</u>
                &nbsp;<label class="badge badge-history pseudo-anchor" data-placement="top" data-toggle="tooltip" title="history" (click)="clickHistory(scriptInfo.key)">history</label>
              </td>
              <td>{{ scriptInfo.value.historyResults.numPassed }}</td>
              <td>{{ scriptInfo.value.historyResults.numFailed }}</td>
              <td>{{ scriptInfo.value.historyResults.numNotRun }}</td>

            </tr>
            <tr *ngIf="scriptInfo.value.showingDetails">
              <jira-info [apiUrl]="'/regression/jiras/' + scriptPathToPk(scriptInfo.key)"
                         (numBugs)="updateNumBugs($event, scriptInfo.value)"></jira-info>

            </tr>
            <ng-container *ngIf="scriptInfo.value.showingDetails">
              <tr *ngFor="let suiteExecutionId of scriptInfo.value.suiteExecutionIdSet">
                <td colspan="4">
                  <table class="table">
                    <tr>
                      <th>Result</th>
                      <th>Suite execution ID</th>
                      <th>TC-ID</th>
                      <th>Summary</th>
                    </tr>
                    <tr *ngFor="let executionEntry of scriptInfo.value.bySuiteExecution[suiteExecutionId].history">
                      <td><span
                        [ngClass]="{'failed': executionEntry.result === 'FAILED', 'passed': executionEntry.result === 'PASSED'}">{{ executionEntry.result }}</span>
                      </td>
                      <td><a target="_blank"
                             href="/regression/suite_detail/{{ executionEntry.suite_execution_id }}">{{ executionEntry.suite_execution_id }}</a>
                      </td>
                      <td>{{ executionEntry.test_case_id }}</td>
                      <td>{{ getTestCaseSummary(scriptInfo.key, executionEntry.test_case_id) }}</td>
                    </tr>
                  </table>
                </td>
              </tr>

            </ng-container>
          </ng-container>

        </table>

      </div>
    </div>
  </div>
</div>

