<div class="component">
  <span class="fun-attribute-label">Description:</span> <app-textarea-input [initialValue]="releaseCatalog.description" (valueChanged)="catalogDescriptionChanged($event)" [numRows]="1"></app-textarea-input>
  <button *ngIf="!addingSuites" class="fun-button-add" (click)="addingSuites = !addingSuites">Add suites</button>
  <ng-container *ngIf="addingSuites">Adding suites ...</ng-container>
  <app-suites-view [@show]="addingSuites"
                   *ngIf="addingSuites"
                   [selectedSuiteIds]="selectedSuiteIds"
                   [multiSelect]="true"
                   (reportSelectedSuites)="suitesSelectedByView($event)" (cancelSelection)="cancelSelection()"></app-suites-view>

  <div class="fun-panel" *ngIf="selectedSuites.length > 0">
    <div class="fun-panel-header">
      Selected suites
    </div>
    <div class="fun-panel-body">
      <table class="fun-table">
        <tr>
          <td class="fun-table-header"></td>
          <td class="fun-table-header">
            Suited ID
          </td>
          <td class="fun-table-header">
            Name
          </td>
          <td class="fun-table-header">
            Description
          </td>
          <td class="fun-table-header">
            Categories
          </td>
        </tr>
        <tr *ngFor="let selectedSuite of selectedSuites; let index=index">
          <td>
            {{ index }}
          </td>
          <td>
            {{ selectedSuite.id }}
          </td>
          <td>
            <a href="/regression/suite_editor/{{ selectedSuite.id }}">{{ selectedSuite.name }}</a>
          </td>
          <td>
            {{ selectedSuite.short_description }}
          </td>
          <td>
            {{ selectedSuite.categories }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
