<div class="card" style="width:400px; margin: 100px;">
  <div class="card-header">
    <h3 class="card-title" [innerHTML]="title"></h3>
    <h5 class="card-subtitle" [innerHTML]="subtitle"></h5>
  </div>
  <div class=card-body>

    <table>

      <tr>
        <td style="width:50%">
          <span tooltip [tooltipContentString]="tooltip" placement="left">
            <img [src]="iconLink" align="center" style="max-width: 150px; max-height: 150px">
          </span>

        </td>
        <td style="width: 200px">
          <div class="cardTextTitle">{{textTitle}}</div>
          <div class="cardText">{{text}}</div>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="enableFooter" class="card-footer">
    <div>
      <small style="float: right">{{footerText}}</small>
      <span tooltip [tooltipContentString]="footerTooltip" placement="left" style="float: right; padding-right:15px">
              <img [src]="footerIconLink" align="right" style="max-width:50px; max-height: 50px;">
      </span>

    </div>

    <!--        <div class="cardTextTitle">{{footerTextTitle}}</div>-->

  </div>


</div>
