<div class="component">
  <div class="card" style="width:400px; margin: 100px;">
    <div class="card-header">
      <h3 class="card-title"[innerHTML]="title"></h3>
      <h4 class="card-subtitle">{{subtitle}}</h4>
    </div>
    <div class=card-body>
      <div class=card-body>

        <table>

          <tr>
            <td tooltip [tooltipContentString]="tooltip" placement="left" style="width: 200px">
              <img [src]="iconLink" style="width:20%">
            </td>
            <td style="width: 200px">
              <div class="card-text">{{textTitle}}</div>
              <div class="card-text">{{text}}</div>
            </td>
          </tr>
        </table>
        <div *ngIf="enableFooter" class="card-footer">
          <table>

            <tr>
              <td tooltip [tooltipContentString]="footerTooltip" placement="left" style="width: 200px">
                <img [src]="footerIconLink" style="width:20%">
              </td>
              <td style="width: 200px">
                <div class="card-text">{{footerTextTitle}}</div>
                <div class="card-text">{{footerText}}</div>
              </td>
            </tr>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>
