.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

table {
  empty-cells: show;
}

.card-text-title {
  font-size: 18px;
}

.card-text {
  font-size: 14px;
}

.footer-text-title {
  float: right;
  font-size: small;
}


.footer-text {
  float: right;
  font-size: 8pt;
}


.flex-container {
  display: flex;
  height: inherit;
}

.flex-container > div {
  padding-right: 10px;
  height: inherit;
}


.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 40px;
}

.flex-container-wrapper{
  display: flex;
  flex-direction: column;
}

div > span{
  height: inherit;
}
