.card {
  width: 500px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

table {
  empty-cells: show;
}

.card-text-title {
  font-size: 18px;
}

.card-text {
  font-size: 14px;
}

.footer-text-title {
  float: right;
  font-size: small;
}


.footer-text {
  float: right;
  font-size: 8pt;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container div {
  padding: 10px;
}


.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 40px;
}


