<div class="card" style="width:400px; margin: 100px;">
  <div class="card-header">
    <h3 class="card-title" [innerHTML]="title"></h3>
    <h5 class="card-subtitle" [innerHTML]="subtitle"></h5>
  </div>
  <div class=card-body>

    <div class="flex-container">
      <div
        style="height: 150px; width: 150px; display: flex; justify-content: center; flex: 1 50%; align-items: center">
        <span tooltip [tooltipContentString]="tooltip" placement="left">
            <div [innerHTML]="icon | safeHtml"></div>
          </span>
      </div>
      <div style="display: flex; justify-content: center; flex: 1 50%; align-items: center; flex-direction: column;">
        <div class="cardTextTitle">{{textTitle}}</div>
        <div class="cardText">{{text}}</div>
      </div>

    </div>

  </div>

  <div *ngIf="enableFooter" class="card-footer" style="max-height: 45px">

    <div class="flex-container" style="display: flex; flex-direction: row; justify-content: flex-end">
      <div>
        <span tooltip [tooltipContentString]="footerTooltip" placement="left">
          <div [innerHTML]="footerIcon | safeHtml"></div>
      </span>

      </div>
      <div>
        <small>{{footerText}}</small>
      </div>
    </div>
  </div>
</div>
