<div>
  <u (click)="addingNewVolume = !addingNewVolume" class="anchor-button pseudo-anchor mat-radio-label-content">{{ addingNewVolume? '- Add a new volume' : '+ Add a new volume' }}</u>
</div>
<br>
  <mat-accordion>
    <mat-expansion-panel [expanded]="addingNewVolume" (opened)="setStep(0)" hideToggle>
      <div class="mat-form-field-div">
        <form class="form-inline">
          <label for="name"><b>Name:</b></label>&nbsp;
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addNewVolumeConfig.name">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="capacity"><b>Capacity:</b></label>&nbsp;
          <input type="number" name="capacity" class="form-control capacity-field" id="capacity" [(ngModel)]="addNewVolumeConfig.capacity">MB
        </form>

      </div>
      <br>
      <b>Please select a pool:</b>
      <app-pools [action]="false" [radioSelection]="true"></app-pools>

      <br>
      <b>Please select a volume type:</b> &nbsp;
      <mat-radio-group id="volume-type-radio">
        <mat-radio-button style="padding: 10px"
                          *ngFor="let scheme of ['Raw', 'Durable']"
                          [value]="getVolumeTypeSchemeValue(scheme)" (click)="volumeTypeSelection.select(getVolumeTypeSchemeValue(scheme)); whatSelection()">
          {{ scheme }}
        </mat-radio-button>
      </mat-radio-group>
      <u *ngIf="volumeTypeSelection.selected.length > 0 && volumeTypeSelection.selected[0] === 'durable'" class="anchor-button pseudo-anchor mat-radio-label-content" (click)="showingDetails = !showingDetails" >Details</u>

      <mat-card *ngIf="showingDetails && volumeTypeSelection.selected.length > 0 && volumeTypeSelection.selected[0] === 'durable'">
              <form >
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Protection scheme</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" value="Erasure-coding">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Number of disk failures</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" value="2">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">DPU redundancy</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" value="2">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Compression effort</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" value="4">
          </div>
        </div>
      </form>

      </mat-card>


      <br>
      <b>Encryption:</b>&nbsp;&nbsp;

        <span>
          <ng-container *ngIf="encryptionOn">
            <i class="fa fa-lock"></i>
            <u *ngIf="encryptionOn" class="anchor-button pseudo-anchor mat-radio-label-content" (click)="encryptionOn = false">Turn Off</u>

          </ng-container>
          <ng-container *ngIf="!encryptionOn">
            <i class="fa fa-unlock"></i>
            <u *ngIf="!encryptionOn" class="anchor-button pseudo-anchor mat-radio-label-content" (click)="encryptionOn = true">Turn On</u>

          </ng-container>
        </span>


      <!--mat-slide-toggle [(ngModel)]="dataProtection" [checked]="true">Data-protection</mat-slide-toggle-->
      <!--div *ngIf="dataProtection">
        <mat-card>
          <p><b>Fault-tolerance options</b></p>
          <li>
            <mat-form-field>
              <input type="number" matInput placeholder="# of disk failures"
                     [(ngModel)]="addNewVolumeConfig.data_protection.fault_tolerance">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="# of DPU failures">
            </mat-form-field>
          </li>


          <li>Protection Scheme
            <mat-radio-group id="md-radio-2-input" [(ngModel)]="addNewVolumeConfig.data_protection.type">
              <mat-radio-button style="padding: 10px"
                                *ngFor="let scheme of ['Replication', 'Erasure-coding']"
                                [value]="getSchemeValue(scheme)">
                {{ scheme }}
              </mat-radio-button>
            </mat-radio-group>
          </li>

          <br>
          <p><b>Compression options</b></p>
          Effort
          <mat-slider [(ngModel)]="addNewVolumeConfig.compression_effort"
                      thumbLabel
                      [displayWith]="formatLabel"
                      tickInterval="1"
                      min="0"
                      max="5" style="margin-left: 5px">Effort
          </mat-slider>
          <br>
        </mat-card>

        <span (click)="encryptionOn = !encryptionOn">
          <ng-container *ngIf="encryptionOn">
            <button class="btn"><i class="fa fa-lock"></i>
              </button>
            Encryption ON
          </ng-container>
          <ng-container *ngIf="!encryptionOn">
            <button class="btn"><i class="fa fa-unlock"></i>
              </button>
            Encryption OFF
          </ng-container>
        </span>
      </div-->

      <mat-action-row>
        <button class="btn btn-success btn-sm" (click)="submit()">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>



<br>
<fun-spinner [status]="status"></fun-spinner>
<mat-card *ngIf="dataSource.data.length > 0">
  <mat-card-header>
    Available volumes
  </mat-card-header>


  <table mat-table multiTemplateDataRows [dataSource]="dataSource">

    <!--ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container-->


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 400px"> Name</th>
      <td mat-cell *matCellDef="let element"><a href="/demo/demo1/volume/{{ element.uuid }}">{{ element.name }}</a></td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
    </ng-container>


    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity</th>
      <td mat-cell *matCellDef="let element"> {{ element.capacity }} </td>
    </ng-container>

    <ng-container matColumnDef="pool">
      <th mat-header-cell *matHeaderCellDef> Pool</th>
      <td mat-cell *matCellDef="let element"> {{ element.pool }} </td>
    </ng-container>

    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef> UUID</th>
      <td mat-cell *matCellDef="let element"> {{ element.uuid }} </td>
    </ng-container>

    <ng-container matColumnDef="f1">
      <th mat-header-cell *matHeaderCellDef> DPU</th>
      <td mat-cell *matCellDef="let element"> {{ element.f1 }} </td>
    </ng-container>

    <ng-container matColumnDef="encrypt">
      <th mat-header-cell *matHeaderCellDef> Encrypted</th>
      <td mat-cell *matCellDef="let element">

        <button *ngIf="element.encrypt" class="btn"><i class="fa fa-lock" aria-hidden="true"></i></button>
        <button *ngIf="!element.encrypt" class="btn"><i class="fa fa-unlock" aria-hidden="true"></i></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Port </th>
      <td mat-cell *matCellDef="let element">
          <u *ngIf="!element.port && !element.attachingStatus" (click)="attach(element, element.uuid)" class="anchor-button pseudo-anchor">Attach</u>
          <fun-spinner [status]="element.attachingStatus"></fun-spinner>
          <h6><span *ngIf="element.port" class="badge badge-info">Port: 1</span></h6>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="mat-table-element-row"
        [class.mat-table-expanded-row]="expandedElement === row"
        (click)="selection.toggle(row); expandedElement = row;">
    </tr>


  </table>
</mat-card>



