<div style="padding-top: 70px;">
  <div class="row">
    <div class="col">
      <div class="card" style="margin: 4px;">
        <div class="card-header">Submit Job</div>
        <div class="card-body">
          <table class="table table-nonfluid table-borderless">
            <tr>
              <td class="no-wrap">
                <label for="build-url">Build URL</label>
              </td>
              <td>
                <input class="field-width" id="build-url" name="build-url" [(ngModel)]="buildUrl" type="text" required/>
              </td>
            </tr>
            <tr>
              <td class="no-wrap">
                <label for="testbed-type">Testbed type</label>
              </td>
              <td>
                  <select id="testbed-type" [(ngModel)]="selectedTestBedType">
                    <option *ngFor="let tb of testBedNames" [ngValue]="tb">{{ tb }}</option>
                  </select>
              </td>
            </tr>
            <tr *ngIf="selectedTestBedType && selectedTestBedType.indexOf('fs') > -1">
              <td class="no-wrap">
                <label for="tftp-path">TFTP path (F1 stripped image)</label>
              </td>
              <td>
                <input id="tftp-path" name="tftp-path" [(ngModel)]="tftpImagePath" type="text"/>
              </td>

            </tr>
            <tr>
              <td><input (click)="suiteSelectionMode = 'BY_SUITE'" type="checkbox" [checked]="suiteSelectionMode === 'BY_SUITE'"> By suite</td>
              <td><input (click)="suiteSelectionMode = 'BY_SCRIPT'" type="checkbox" [checked]="suiteSelectionMode === 'BY_SCRIPT'"> By script</td>
            </tr>
            <tr *ngIf="suiteSelectionMode === 'BY_SUITE'">
              <td class="no-wrap">
                <label for="suite-select">Select a suite</label>
              </td>
              <td>
                <select class="field-width" id="suite-select" [(ngModel)]="selectedSuite"
                        (change)="changedValue(selectedSuite)">
                  <option></option>
                  <option *ngFor="let suiteName of suitesInfoKeys">
                    {{ suiteName }}
                  </option>

                </select>
              </td>
            </tr>
            <tr *ngIf="suiteSelectionMode === 'BY_SCRIPT'">
              <td colspan="2">
                <app-script-selector [resetEvent]="resetScriptSelector" (singleSelectPk)="singleSelectPkEvent($event)"></app-script-selector>
              </td>
            </tr>
            <tr>
              <td class="no-wrap">
                <label>Select a tag: </label>
              </td>
              <td>
                <div class="field-width">
                  <ng-multiselect-dropdown [placeholder]="'Select'" [data]="selectTags" [(ngModel)]="selectedTags"
                                           [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                </div>
              </td>
            </tr>
            <tr>
              <td class="no-wrap">
                <label for="emails">E-mails: </label>
              </td>
              <td>
                <fieldset id="email-set">
                  <input id="emails" name="emails" [(ngModel)]="emails" type="text" required/>
                  <label id="emails-label" for="emails"><i>separated by comma</i></label>
                  <input id="email-on-fail-only" type="checkbox" [(ngModel)]="emailOnFailOnly">
                  <label id="email-only" for="email-on-fail-only">&nbsp;Email on failures only</label>
                </fieldset>
              </td>
            </tr>
          </table>
          <a *ngIf="!schedulingOptions" [routerLink]="" (click)="schedulingOptions = !schedulingOptions">Show Scheduling
            Options</a>
          <a *ngIf="schedulingOptions" [routerLink]="" (click)="schedulingOptions = !schedulingOptions">Hide Scheduling
            Options</a>
        </div>
      </div>
      <div *ngIf="schedulingOptions" style="padding: 4px;">
        <div class="card">
          <div class="card-header">Scheduling options</div>
          <div class="card-body">

            <div class="radio">
              <label for="scheduling-type-radio">
                <input type="radio" name="scheduling-type-radio" [(ngModel)]="schedulingType" [value]="2"
                       checked="true"> Schedule today
              </label>
              &nbsp;
              <label for="scheduling-type-radio">
                <input type="radio" name="scheduling-type-radio" [(ngModel)]="schedulingType" [value]="3"> Schedule by
                day of the week
              </label>
            </div>
            <div *ngIf="schedulingType !== 1">
              <table>
                <tr>
                  <td>HH : MM</td>
                  <td>
                    <ngb-timepicker style="display: inline-flex" id="scheduling-time-picker"
                                    [(ngModel)]="schedulingTime"></ngb-timepicker>
                  </td>
                </tr>
              </table>

              <hr>

              <ng-container [ngSwitch]="schedulingType">
                <div *ngSwitchCase="2">
                  <label>
                    Repeat options
                    <input type="checkbox" [checked]="todaySchedulingTimeRepeatInMinutesOption"
                           [(ngModel)]="todaySchedulingTimeRepeatInMinutesOption"/>
                  </label>
                  <ng-container *ngIf="todaySchedulingTimeRepeatInMinutesOption">
                    &nbsp;
                    <label for="repeat-in-minutes">
                      Repeat in minutes:
                      <input id="repeat-in-minutes" type="number" min="1" max="720"
                             [(ngModel)]="todaySchedulingTimeRepeatInMinutesValue"/>
                    </label>

                  </ng-container>

                </div>
                <div *ngSwitchCase="3">
                  <table>
                    <tr>
                      <td class="no-wrap">
                        <label>Select day(s): </label>
                      </td>
                      <td>
                        <div class="field-width">
                          <ng-multiselect-dropdown [placeholder]="'Select'" [data]="daysOptions"
                                                   [(ngModel)]="selectedDays"
                                                   [settings]="dropdownSettings">
                          </ng-multiselect-dropdown>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-container>
              <label for="scheduling-time-timezone">Timezone:
                <div id="scheduling-time-timezone" style="display:inline-flex;" ngbDropdown>
                  <button class="btn btn-sm" ngbDropdownToggle>{{ schedulingTimeTimezone }}</button>
                  <div ngbDropdownMenu aria-labelledby="scheduling-time-timezone">
                    <button class="dropdown-item" (click)="schedulingTimeTimezone = 'IST'">IST</button>
                    <button class="dropdown-item" (click)="schedulingTimeTimezone = 'PST'">PST</button>
                  </div>
                </div>
              </label>

            </div>
          </div>
        </div>
      </div>
      <div style="padding: 5px;">
        <ng-container *ngIf="!submitting">
          <button *ngIf="selectedInfo || selectedScriptPk" (click)="submitClick()"
                class="btn btn-primary">Submit
          </button>
          <button *ngIf="selectedInfo && !(suiteSelectionMode !== 'BY_SCRIPT')" (click)="ngOnInit()"
                  class="btn">Clear
          </button>
        </ng-container>
        <fun-spinner [status]="submitting"></fun-spinner>

      </div>
    </div>
    <div *ngIf="selectedInfo" class="col">
      <div class="card" class="title">
        <div class="side-table">
          <table class="table table-bordered">
            <tr>
              <th colspan="2" class="header">
                Scripts for Suite: {{ selectedSuite }}
              </th>
            </tr>
            <tr *ngFor="let scriptInfo of selectedInfo; index as i">
              <td>{{ i }}</td>
              <td>{{ parseScriptInfo(scriptInfo) }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
