<div class="container">
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">Submit Job</div>
            <div class="card-body">
                <form name="submissionForm">
                    <table class="table table-nonfluid">
                        <tr>
                            <td>
                                <label for="build-url">Build URL</label>
                            </td>
                            <td>
                                <input id="build-url" name="build-url" ng-model="buildUrl" type="text" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="suite-select">Select a suite</label>
                            </td>
                            <td>
                                <select id="suite-select"
                                ng-options="suiteName as suiteName for (suiteName, suiteInfo) in suitesInfo track by suiteName"
                                ng-model="selectedSuite" ng-change="changedValue(selectedSuite)">

                                </select>
                            </td>

                        </tr>
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<label for="tag-select">Select a tag</label>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<ui-select id="tag-select" multiple ng-model="$ctrl.selectedTags" theme="bootstrap" sortable="true">-->
                                    <!--<ui-select-match placeholder="Select tag...">{{$item.name}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="tag in tags | propsFilter: {name: $select.search}">-->
                                        <!--<div ng-bind-html="tag.name | highlight: $select.search"></div>-->
                                        <!--<small>-->
                                            <!--name: <span ng-bind-html="''+tag.name | highlight: $select.search"></span>-->
                                        <!--</small>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            <!--</td>-->
                        <!--</tr>-->

                        <tr>
                            <td>
                                <label for="emails">Specify comma-separated e-mail</label>
                            </td>
                            <td>
                                <input id="emails" name="emails" ng-model="emails" type="text" required/>
                            </td>
                            <td>
                                <label for="email-on-fail-only">Email on failures only</label>
                            </td>
                            <td>
                                <input id="email-on-fail-only" type="checkbox" ng-checked="emailOnFailOnly" ng-model="emailOnFailOnly">
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <input class="form-check-input" type="checkbox" value="" ng-model="schedulingOptions"/>
                                Show Scheduling Options
                            </td>
                            <td>
                                <button *ngIf="selectedInfo" (click)="submitClick(submissionForm.$valid)"
                                    class="btn btn-primary">Submit
                                </button>
                            </td>
                        </tr>

                    </table>
                    <fieldset *ngIf="selectedInfo" class="title">
                        <legend>{{ selectedSuite }}</legend>

                        <div class="form-group">
                            <table class="table table-nonfluid">
                                <tr>
                                    <th style="background-color: #E4EFF2">

                                    </th>
                                    <th style="background-color: #E4EFF2">
                                        Scripts
                                    </th>
                                </tr>
                                <tr *ngFor="let scriptInfo of selectedInfo">
                                    <td>{{ $index }}</td>
                                    <td>{{ scriptInfo.path }}</td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>

                </form>
            </div>


        </div>
    </div>
    <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6" [hidden]="!schedulingOptions">
        <div class="card">
            <div class="card-header">Scheduling options</div>
            <div class="card-body">

                <div class="radio">
                    <label for="schedule-in-minutes">
                        <input type="radio" name="schedule-radio" ng-model="scheduleInMinutesRadio" ng-value="true"
                               checked="true">Schedule in minutes:
                    </label>
                    <form name="scheduleInForm" ng-show="scheduleInMinutesRadio" novalidate>
                        <input id="schedule-in-minutes" klass="" type="number" min="1" max="1439"
                                   bind-value="scheduleInMinutes">/
                        <label for="repeat-in-minutes"> Repeat in minutes
                        </label>
                        <input id="repeat-in-minutes" klass="" type="number" min="1" max="1439"
                                   [innerHt]="scheduleInMinutesRepeat"/>
                    </form>
                    <br>
                    <br>
                    <label for="schedule-at">
                        <input type="radio" name="schedule-radio" ng-model="scheduleInMinutesRadio" ng-value="false">Schedule
                        At:
                    </label>
                    <form ng-hide="scheduleInMinutesRadio">
                        <input id="schedule-at" klass="" type="time" min="5"
                                   bind-value="scheduleAt"/>
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" ng-model="scheduleAtRepeat">
                            Repeat
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
