<div class="component">
  <div class="fun-flex-container">
    <div class="card" style="flex: 1 1 auto">
    <div class="card-header">
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="Mode.REGULAR"> Submit job</ng-container>
        <ng-container *ngSwitchCase="Mode.TASK"> Submit task</ng-container>
        <ng-container *ngSwitchCase="Mode.TRIAGE"> Submit triage</ng-container>

      </ng-container>
    </div>
    <div class="card-body">
      <table class="table table-nonfluid table-borderless">
        <ng-container *ngIf="mode === Mode.REGULAR || mode === Mode.TRIAGE">
          <ng-container *ngIf="mode === Mode.TRIAGE">
            <tr>
            <td>
              <label for="triage_type">Type: </label>
            </td>
            <td>
              <select class="form-control" id="triage_type" [(ngModel)]="currentTriageType" (ngModelChange)="test()">

                <option *ngFor="let triageType of triageTypes" [value]="triageType.value">{{ triageType.description }}
                </option>
              </select>


            </td>
          </tr>
            <tr *ngIf="triageTypes && (currentTriageType == 7)">
              <td>
                <label for="regex_match_string">Regex match string: </label>
              </td>
              <td>
                <div class="form-group">
                  <input style="width: 400px" id="regex_match_string" [(ngModel)]="regexMatchString">
                </div>
              </td>
            </tr>
            <tr>
            <td>
              <label for="from_fun_os_sha" style="display: block">From FunOS commit: </label><small>Older/Passing</small>
            </td>
            <td>
              <input style="width: 400px" [(ngModel)]="fromFunOsSha" id="from_fun_os_sha">
            </td>
          </tr>
            <tr>
            <td>
              <label  for="to_fun_os_sha" style="display: block">To FunOS commit: </label><small>Newer/Failing</small>
            </td>
            <td>
              <input style="width: 400px" [(ngModel)]="toFunOsSha" id="to_fun_os_sha">
              <ng-container *ngIf="!gitShasValid">
                <div style="margin-left: 20px; display: inline-block">
                  <button *ngIf="!validateShasStatus" class="btn btn-primary btn-sm" (click)="validateShas()">Validate commits</button>
                  <fun-spinner [status]="validateShasStatus"></fun-spinner>
                </div>
              </ng-container>
              <span *ngIf="gitShasValid"><i class="fa fa-check fa-fw tick-color"></i>Git commits are valid  (Commits: {{ commitsInBetween.length }})</span>

            </td>
         </tr>
          </ng-container>







          <tr>
            <td class="no-wrap">
              <label for="testbed-type" class="required-label">Select test-bed type</label>
            </td>
            <!--td>
              <select id="testbed-type" [(ngModel)]="selectedTestBedType">
                <option *ngFor="let tb of testBedNames" [ngValue]="tb"
                        [selected]="selectedTestBedType == tb">{{ tb }}</option>
              </select>

            </td-->
            <td *ngIf="testBedNames.length > 0">
              <div class="field-width">
                <ng-multiselect-dropdown [placeholder]="'Select'" [data]="testBedNames" [(ngModel)]="selectedTestBedType"
                                         [settings]="dropdownSettings">
                </ng-multiselect-dropdown>
              </div>
            </td>

          </tr>

          <ng-container *ngIf="selectedTestBedType && isTestBedFs() && mode === Mode.REGULAR">
            <tr>
              <td>
                <input type="radio" name="build-type-radio" [(ngModel)]="buildType" [value]="BuildType.TFTP_IMAGE_PATH"> Use image on TFTP server
              </td>
              <td>
                <input [ngClass]="{disabled: buildType !== BuildType.TFTP_IMAGE_PATH}" id="tftp-path" name="tftp-path"
                       [(ngModel)]="tftpImagePath" type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="build-type-radio" [(ngModel)]="buildType" [value]="BuildType.WITH_STABLE_MASTER"> Use stable master from dochub
              </td>
              <td>
                <ng-container *ngIf="buildType === BuildType.WITH_STABLE_MASTER">
                  <input type="radio" name="stable-master-debug-radio" [(ngModel)]="withStableMaster.debug" [value]="true"> Debug
                  <input type="radio" name="stable-master-debug-radio" [(ngModel)]="withStableMaster.debug" [value]="false"> Release
                </ng-container>

              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="build-type-radio" [(ngModel)]="buildType" [value]="BuildType.USE_BUNDLE_IMAGE"> Use bundle image
              </td>
              <td>
                <ng-container *ngIf="buildType === BuildType.USE_BUNDLE_IMAGE">
                  <div class="fun-flex-container">
                    <div class="bundle-image-input">
                      <label for="release-select">Select a release: </label>
                      <select id="release-select" [(ngModel)]="bundleImageParameters.release_train">
                        <option></option>
                        <option [ngValue]="releaseTrain" *ngFor="let releaseTrain of releaseTrains">
                        {{ releaseTrain }}
                        </option>
                      </select>
                    </div>
                    <div class="bundle-image-input">
                      <label for="bundle-image-build">Specify build number: </label>
                      <input [ngClass]="{disabled: buildType !== BuildType.USE_BUNDLE_IMAGE}" id="bundle-image-build" name="bundle-image-build"
                             [(ngModel)]="bundleImageParameters.build_number" type="text" style="width: 100px"/>
                    </div>
                  </div>
                </ng-container>
              </td>
            </tr>

            <tr>
              <td>
                <input type="radio" name="build-type-radio" [(ngModel)]="buildType" [value]="BuildType.WITH_JENKINS_BUILD"> Build on Jenkins now
              </td>
            </tr>
          </ng-container>



          <tr *ngIf="selectedTestBedType && selectedTestBedType.indexOf('simulation') > -1">
            <td class="no-wrap">
              <label for="build-url">Custom path to funos-posix</label>
            </td>
            <td>
              <input class="field-width" id="private-funos-tgz-url" name="private_funos_tgz_url"
                     [(ngModel)]="privateFunosTgzUrl" type="text" required/>
            </td>

          </tr>
          <ng-container *ngIf="buildType === BuildType.WITH_JENKINS_BUILD">

            <ng-container *ngIf="selectedTestBedType && isTestBedFs()">
              <tr>
                <td colspan="2">
                  <app-section-horizontal-line [text]="'Jenkins params'"></app-section-horizontal-line>
                </td>
              </tr>

              <tr>
                <td><input (change)="releaseBuild = !releaseBuild" type="checkbox"
                           name="release-build"
                           [checked]="releaseBuild"> RELEASE_BUILD
                </td>
              </tr>
              <tr *ngIf="mode === Mode.REGULAR">
                <td><label for="branch-funos">BRANCH_FunOS</label></td>
                <td><input style="width: 100%" id="branch-funos" name="branch-funos" [(ngModel)]="branchFunOs"
                           type="text"></td>
              </tr>
              <tr>
                <td colspan="2">
                  <span (click)="moreJenkinsOptions = !moreJenkinsOptions"
                        class="pseudo-anchor"> {{ !moreJenkinsOptions? "+ More": "- Lesser"}} Jenkins options </span>
                </td>
              </tr>

              <ng-container *ngIf="moreJenkinsOptions">
                <tr [@fadeIn]>
                  <td><label for="boot-args">BOOTARGS</label></td>
                  <td><input style='width:100%' id="boot-args" name="boot-args" [(ngModel)]="bootArgs" type="text"
                             required/></td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="branch-funsdk">BRANCH_FunSDK</label></td>
                  <td><input style="width: 100%" id="branch-funsdk" name="branch-funsdk" [(ngModel)]="branchFunSdk"
                             type="text"></td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="funos-makeflags">FUNOS_MAKEFLAGS</label></td>
                  <td><input style='width:100%' id="funos-makeflags" name="funos-makeflags"
                             [(ngModel)]="funOsMakeFlags"
                             type="text"/></td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="branch-funcontrolplane">BRANCH_FunControlPlane</label></td>
                  <td><input style='width:100%' id="branch-funcontrolplane" name="branch-funcontrolplane"
                             [(ngModel)]="branchFunControlPlane" type="text"/></td>
                </tr>
                <tr [@fadeIn]>
                  <td><input (change)="skipDasmC = !skipDasmC" type="checkbox" name="skip-dasm"
                             [checked]="skipDasmC">
                    SKIP_DASM_C
                  </td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="branch-funtools">BRANCH_FunTools</label></td>
                  <td><input style='width:100%' id="branch-funtools" name="branch-funtools"
                             [(ngModel)]="branchFunTools"
                             type="text"/></td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="branch-funhw">BRANCH_FunHW</label></td>
                  <td><input style='width:100%' id="branch-funhw" name="branch-funhw" [(ngModel)]="branchFunHw"
                             type="text"/></td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="branch-funjenkins">BRANCH_FunJenkins</label></td>
                  <td><input style='width:100%' id="branch-funjenkins" name="branch-funjenkins" [(ngModel)]="branchFunJenkins"
                             type="text"/></td>
                </tr>
                <tr [@fadeIn]>
                  <td><label for="branch-fungible-host-drivers">BRANCH_fungible_host_drivers</label></td>
                  <td><input style='width:100%' id="branch-fungible-host-drivers" name="branch-fungible-host-drivers" [(ngModel)]="branchFungibleHostDrivers"
                             type="text"/></td>
                </tr>

              </ng-container>


            </ng-container>


          </ng-container>

        </ng-container>

        <tr>
          <td colspan="2">
            <app-section-horizontal-line [text]="'Suite/Script selection'"></app-section-horizontal-line>
          </td>
        </tr>
        <tr *ngIf="!usingSavedConfig">
          <td><input (change)="suiteSelectionMode = 'BY_SUITE'" type="radio"
                     [checked]="suiteSelectionMode === 'BY_SUITE'"> By suite
          </td>
          <td><input (change)="suiteSelectionMode = 'BY_SCRIPT'" type="radio"
                     [checked]="suiteSelectionMode === 'BY_SCRIPT'"> By script
          </td>
        </tr>
        <tr *ngIf="!usingSavedConfig && (suiteSelectionMode === 'BY_SUITE')">
          <td class="no-wrap" colspan="2">

            <div class="fun-panel">
              <div class="fun-panel-header"><label for="suite-select" class="required-label">Select a suite</label></div>
              <div class="fun-panel-body">
                <table>
                  <tr>
                    <td>Filter by categories:</td>
                    <td class="fun-attribute" style="width: 200px">
                      <ng-multiselect-dropdown [placeholder]="'Select'" [data]="availableCategories" [settings]="dropDownSettings"
                                               [(ngModel)]="selectedCategories"
                                               (onSelect)="onChangeSelectedCategories()"
                                               (onDeSelect)="onChangeSelectedCategories()"
                                               (onSelectAll)="onChangeSelectedCategories()"
                                               (onDeSelectAll)="onChangeSelectedCategories()">
                      </ng-multiselect-dropdown>
                    </td>
                  </tr>
                  <tr>
                    <td>Filter by name:</td>
                    <td><app-search-bar [placeHolder]="'name'" (textChanged)="onSearchText($event)"></app-search-bar></td>
                  </tr>
                  <tr>
                    <td class="fun-attribute-label">Select</td>
                    <td>
                      <select class="field-width" id="suite-select" [(ngModel)]="selectedSuite" (change)="changedValue(selectedSuite)" size="10">
                        <option></option>
                        <option [ngValue]="suite" *ngFor="let suite of suitesInfo">
                        {{ suite.name }} (ID: {{ suite.id }})
                        </option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <br>
          </td>
        </tr>
        <tr *ngIf="!usingSavedConfig && (suiteSelectionMode === 'BY_SCRIPT')">
          <td colspan="2">
            <app-script-selector [resetEvent]="resetScriptSelector"
                                 (singleSelectScriptPath)="singleSelectScriptPathEvent($event)"
                                 (singleSelectPk)="singleSelectPkEvent($event)"></app-script-selector>
          </td>
        </tr>
        <tr *ngIf="usingSavedConfig">
          <td *ngIf="savedConfigSuiteId">
            Saved suite: {{ savedConfigSuiteName }} ({{ savedConfigSuiteId }})
          </td>
          <td *ngIf="selectedScriptPk">
            Saved script: {{ selectedScriptPath }}
          </td>

        </tr>
        <tr>
          <td colspan="2">
            <app-section-horizontal-line [text]="'Additional options'"></app-section-horizontal-line>
          </td>
        </tr>

        <tr>
          <td><input (change)="toggleCsiPerf()" type="checkbox"
                     name="csi-perf"
                     [checked]="csiPerf"> Enable CSI perf
          </td>
          <td><input (change)="toggleCsiCacheMiss()" type="checkbox"
                     name="csi-cache-miss"
                     [checked]="csiCacheMiss"> Enable CSI cache miss
          </td>
        </tr>
        <tr>
          <td colspan="2"><input (change)="dryRun = !dryRun" type="checkbox"
                     name="dry-run"
                     [checked]="dryRun"> Dry run (Don't update performance DB)
          </td>
        </tr>
        <tr>
          <td colspan="2"><input (change)="hbmDump = !hbmDump" type="checkbox"
                     name="hbm-dump"
                     [checked]="hbmDump"> Enable HBM dump at topology cleanup
          </td>
        </tr>
        <tr>
          <td colspan="2"><input (change)="pauseOnFailure = !pauseOnFailure" type="checkbox"
                     name="hbm-dump"
                     [checked]="pauseOnFailure"> Pause on failure
          </td>
        </tr>
        <tr>
          <td class="no-wrap">
            <label>Inputs (JSON): </label>
          </td>
          <td>
            <app-json-input [initialValue]="jobInputs" (dataChanged)="jobInputsChanged($event)"></app-json-input>
          </td>
        </tr>
        <tr *ngIf="selectedTestBedType">
          <td class="no-wrap">
            <label>Boot-args (JSON): </label>
          </td>
          <td>
            <app-json-input (dataChanged)="jobBootArgsChanged($event)"></app-json-input>
          </td>
        </tr>
        <tr>
          <td class="no-wrap">
            <label>Description: </label>
          </td>
          <td>
            <textarea style="width: 100%" [(ngModel)]="description">

            </textarea>
          </td>
        </tr>

        <tr>
          <td class="no-wrap">
            <label>Select a tag: </label>
          </td>
          <td>
            <div class="field-width">
              <ng-multiselect-dropdown [placeholder]="'Select'" [data]="selectTags" [(ngModel)]="selectedTags"
                                       [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </td>
        </tr>


        <tr>
          <td class="no-wrap">
            <label for="emails">Additional e-mails: </label>
          </td>
          <td>
            <fieldset id="email-set">
              <input id="emails" name="emails" [(ngModel)]="emails" type="text" required/>
              <label id="emails-label" for="emails"><i>separated by comma</i></label>
              <input id="email-on-fail-only" type="checkbox" [(ngModel)]="emailOnFailOnly">
              <label id="email-only" for="email-on-fail-only">&nbsp;Email on failures only</label>
            </fieldset>
          </td>
        </tr>
      </table>
      <div style="padding: 5px;">
        <ng-container *ngIf="!submitting">
          <button [disabled]="(!usingSavedConfig && !selectedSuite && !selectedScriptPk) || (usingSavedConfig && !savedConfigSuiteId && !selectedScriptPk)"
                  [ngClass]="{'disabled': (!usingSavedConfig && !selectedSuite && !selectedScriptPk) || (usingSavedConfig && !savedConfigSuiteId && !selectedScriptPk)}" (click)="submitClick()"
                  class="btn btn-primary">Submit
          </button>

          &nbsp;&nbsp;
          <span *ngIf="mode === Mode.REGULAR && !savedJobUrl && !usingSavedConfig && (selectedSuite || selectedScriptPk)" class="fun-action-link" (click)="submitClick(true)">save configuration</span>
          <button *ngIf="selectedSuite && !(suiteSelectionMode !== 'BY_SCRIPT')" (click)="ngOnInit()"
                  class="btn">Clear
          </button>
        </ng-container>
        <br>
        <span [@show] *ngIf="savedJobUrl" style="background-color: #dcdcdc">{{ savedJobUrl }}</span>
        &nbsp;&nbsp;<span *ngIf="savedJobUrl" class="fun-action-link" (click)="savedJobUrl = null">dismiss</span>
        <fun-spinner [status]="submitting"></fun-spinner>

      </div>
      <a *ngIf="!schedulingOptions" [routerLink]="" (click)="schedulingOptions = !schedulingOptions">Show Scheduling
        Options</a>
      <a *ngIf="schedulingOptions" [routerLink]="" (click)="schedulingOptions = !schedulingOptions">Hide Scheduling
        Options</a>
      <div *ngIf="schedulingOptions" style="padding: 4px;">
        <div class="card">
          <div class="card-header">Scheduling options</div>
          <div class="card-body">

            <div class="radio">
              <label for="scheduling-type-radio">
                <input type="radio" name="scheduling-type-radio" [(ngModel)]="schedulingType" [value]="2"
                       checked="true"> Schedule today
              </label>
              &nbsp;
              <label for="scheduling-type-radio">
                <input type="radio" name="scheduling-type-radio" [(ngModel)]="schedulingType" [value]="3"> Schedule
                by
                day of the week
              </label>
            </div>
            <div *ngIf="schedulingType !== 1">
              <table>
                <tr>
                  <td>HH : MM</td>
                  <td>
                    <ngb-timepicker style="display: inline-flex" id="scheduling-time-picker"
                                    [(ngModel)]="schedulingTime"></ngb-timepicker>
                  </td>
                </tr>
              </table>

              <hr>

              <ng-container [ngSwitch]="schedulingType">
                <div *ngSwitchCase="2">
                  <label>
                    Repeat options
                    <input type="checkbox" [checked]="todaySchedulingTimeRepeatInMinutesOption"
                           [(ngModel)]="todaySchedulingTimeRepeatInMinutesOption"/>
                  </label>
                  <ng-container *ngIf="todaySchedulingTimeRepeatInMinutesOption">
                    &nbsp;
                    <label for="repeat-in-minutes">
                      Repeat in minutes:
                      <input id="repeat-in-minutes" type="number" min="1" max="720"
                             [(ngModel)]="todaySchedulingTimeRepeatInMinutesValue"/>
                    </label>

                  </ng-container>

                </div>
                <div *ngSwitchCase="3">
                  <table>
                    <tr>
                      <td class="no-wrap">
                        <label>Select day(s): </label>
                      </td>
                      <td class="no-wrap" style="width: 400px">
                        <div>
                          <ng-multiselect-dropdown [placeholder]="'Select'" [data]="daysOptions"
                                                   [(ngModel)]="selectedDays"
                                                   [settings]="dropdownSettings">
                          </ng-multiselect-dropdown>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-container>
              <label for="scheduling-time-timezone">Timezone:
                <div id="scheduling-time-timezone" style="display:inline-flex;" ngbDropdown>
                  <button class="btn btn-sm" ngbDropdownToggle>{{ schedulingTimeTimezone }}</button>
                  <div ngbDropdownMenu aria-labelledby="scheduling-time-timezone">
                    <button class="dropdown-item" (click)="schedulingTimeTimezone = 'IST'">IST</button>
                    <button class="dropdown-item" (click)="schedulingTimeTimezone = 'PST'">PST</button>
                  </div>
                </div>
              </label>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div id="suite-info" *ngIf="selectedSuite" style="flex: 1 1 auto">
      <div class="card">
        <div class="card-header">{{ selectedSuite.name }}</div>
        <div class="card-body">
          <p>{{ selectedSuite.short_description }}</p>
          <span class="fun-attribute">
            <span class="fun-attribute-label">Tags</span> {{ _listToString(selectedSuite.tags) }}
          </span>
          <span class="fun-attribute">
            <span class="fun-attribute-label">Categories</span> {{ _listToString(selectedSuite.categories) }}
          </span>

          <table class="table table-bordered">
            <tr>
              <th>Script path</th>
              <th>Inputs</th>
              <th>Test-case IDs</th>
            </tr>
            <tr *ngFor="let scriptEntry of selectedSuite.entries; index as i">
              <td>{{ i }}: {{ scriptEntry.script_path }}</td>
              <td>{{ scriptEntry.inputs | json }}</td>
              <td>{{ scriptEntry.test_case_ids }}</td>
            </tr>
          </table>

          <ng-container *ngIf="selectedSuite?.custom_test_bed_spec">
            <app-section-horizontal-line [text]="'Custom test-bed spec'"></app-section-horizontal-line>
            <div style="display: flex">
              <table>
                <tr>
                  <td><span class="fun-attribute-label">Base test-bed</span></td>
                  <td>{{ selectedSuite?.custom_test_bed_spec?.base_test_bed }}</td>
                </tr>
                <ng-container *ngFor="let asset_request of selectedSuite?.custom_test_bed_spec?.asset_request| keyvalue">
                  <tr>
                    <td><span class="fun-attribute-label">{{ asset_request.key }}</span></td>
                    <td *ngIf="_hasKey(asset_request.value, 'num')">Num: {{ asset_request.value.num }}</td>
                    <td *ngIf="_hasKey(asset_request.value, 'names')">Specific
                      instances: {{ asset_request.value.names | json }}
                    </td>
                    <td *ngIf="_hasKey(asset_request.value, 'pool_member_type_options')">
                      {{ _getPoolMemberTypeOptionsString(asset_request.key, asset_request.value.pool_member_type_options) }}
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </ng-container>
        </div>
      </div>
  </div>
  </div>
</div>

<!--button (click)="test()">Test</button-->
