#email-set {
  display: inline-block;
  width: 40em;
}
#email-set > label#emails-label, #email-set > input#emails {
  display: block;
  text-align: left;
  width: 27em;
}
.field-width {
  width: 100%;
}
#emails-label {
  margin: 0;
}
table {
  margin: 0;
}
.header {
  background-color: rgba(0,0,0,.03);
}
.side-table {
  padding: 4px;
}

input.disabled {
  pointer-events:none;
  color:#AAA;
  background:#F5F5F5;
}

.required-label:after {
  content:" *";
  color: red;
  font-weight: bold;
}

.bundle-image-input {
  margin-left: 10px;
  margin-right: 10px;
}
